<div class="content-header">
   <div class="container-fluid">
      <div class="row mt-4 justify-content-center text-center">
         <div class="col-sm-10 cabecera sombra border">
            <h5 class="mt-2 font-weight-bold">Nuevo Cliente</h5>
         </div>
      </div>
   </div>
</div>

<div class="content">
   <div class="container-fluid">
      <div class="row justify-content-center">
         <div class="card card-body col-sm-10 detalle sombra">
            <form [formGroup]="formCliente">
               <div class="row">

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Nacionalidad</span>
                        </div>
                        <select class="form-control form-control-sm" id="nacionalidad"
                           formControlName="idnacionalidad_nacionalidad">
                           <option *ngFor="let nacion of _nacionalidad" [ngValue]="nacion.idnacionalidad">
                              {{ nacion.descripcion }}
                           </option>
                        </select>
                        <div class="input-group-append">
                           <button type="button" class="btn btn-outline-success btn-xm" (click)="add_nacionalidad()">
                              <i class="bi-plus-lg"></i>
                           </button>
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Tipo
                              identificación<sup class="green">*</sup></span>
                        </div>
                        <select class="form-control form-control-sm" formControlName="idtpidentifica_tpidentifica">
                           <option *ngFor="let tpidentifica of _tpidentifica" [ngValue]="tpidentifica.idtpidentifica">
                              {{tpidentifica.nombre}} </option>
                        </select>
                     </div>
                  </div>

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold"
                              id="inputGroup-sizing-sm">Identificación<sup class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control text-center" formControlName="cedula" aria-label="Small"
                           aria-describedby="inputGroup-sizing-sm" maxlength="13" [ngClass]="{'is-invalid': f['cedula'].invalid && f['cedula'].touched,
                           'is-valid': f['cedula'].valid, '': f['cedula'].untouched}">
                     </div>
                  </div>

                  <div class="form-group col-md-6 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Nombre<sup class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control" formControlName="nombre" aria-label="Small"
                           aria-describedby="inputGroup-sizing-sm" [ngClass]="{'is-invalid': f['nombre'].invalid && f['nombre'].touched,
                           'is-valid': f['nombre'].valid, '': f['nombre'].untouched}">
                     </div>
                  </div>

                  <div class="form-group col-md-6 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Dirección<sup class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control" formControlName="direccion" aria-label="Small"
                           aria-describedby="inputGroup-sizing-sm" [ngClass]="{'is-invalid': f['direccion'].invalid && f['direccion'].touched,
                           'is-valid': f['direccion'].valid, '': f['direccion'].untouched}">
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Teléfono<sup class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control text-center" formControlName="telefono"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" [ngClass]="{'is-invalid': f['telefono'].invalid && f['telefono'].touched,
                           'is-valid': f['telefono'].valid, '': f['telefono'].untouched}">
                     </div>
                  </div>

                  <div class="form-group col-md-5 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">e-mail<sup class="green">*</sup></span>
                        </div>
                        <input type="email" class="form-control" formControlName="email" aria-label="Small"
                           aria-describedby="inputGroup-sizing-sm" [ngClass]="{'is-invalid': f['email'].invalid && f['email'].touched,
                           'is-valid': f['email'].valid, '': f['email'].untouched}">
                     </div>
                  </div>

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Fecha
                              nacimiento</span>
                        </div>
                        <input type="date" class="form-control text-center" formControlName="fechanacimiento"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Discapacidad</span>
                        </div>
                        <select class="form-control form-control-sm" id="discapacitado" formControlName="discapacitado">
                           <option value=1>Si</option>
                           <option value=0>No</option>
                        </select>
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">%
                              Discapacidad</span>
                        </div>
                        <input type="number" min="0" max="100" class="form-control form-control-sm text-center"
                           id="porcdiscapacidad" placeholder="0%-100%" formControlName="porcdiscapacidad" />
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Exoneración</span>
                        </div>
                        <select type="number" class="form-control form-control-sm text-center" id="porcexonera"
                           formControlName="porcexonera">
                           <option value="0">0%</option>
                           <option value="25">25%</option>
                           <option value="50">50%</option>
                           <option value="75">75%</option>
                           <option value="100">100%</option>
                        </select>
                     </div>
                  </div>

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Personeria
                              Juridica</span>
                        </div>
                        <select class="form-control form-control-sm" id="personeriajuridica"
                           formControlName="idpjuridica_personeriajuridica">
                           <option *ngFor="let pj of _personeriajuridica" [ngValue]="pj.idpjuridica">
                              {{ pj.descripcion }}
                           </option>
                        </select>
                     </div>
                  </div>

               </div>

               <div class="mt-2 mb-1 text-center">
                  <button type="button" class="btn btn-success btn-sm mx-1 mb-0" (click)="onSubmit()"
                     [disabled]="!formCliente.valid">
                     <i class="fa fa-check-circle"></i> Aceptar
                  </button>
                  <button type="button" class="btn btn-outline-success btn-sm mb-0" (click)="retornarListaClientes()">
                     <i class="fa fa-times-circle"></i> Cancelar
                  </button>
               </div>

            </form>
         </div>
      </div>
   </div>
</div>