<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 px-0 py-1 border cabecera sombra">
         <div class="col-sm-3">
            <h4 class="m-0 font-weight-bold"><i class="fa fa-american-sign-language-interpreting"></i> Convenios de Pago
            </h4>
         </div>
         <div class="col-sm-4">
            <form [formGroup]="formBuscar">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-4">
                           <input class="form-control form-control-sm text-center" type="number" placeholder="Desde"
                              formControlName="desde" (change)="changeDesdeHasta()">
                        </div>
                        <div class="col-sm-4">
                           <input class="form-control form-control-sm text-center" type="number" placeholder="Hasta"
                              formControlName="hasta" (change)="changeDesdeHasta()">
                        </div>
                        <div class="col-sm-4">
                           <button class="btn btn-primary btn-sm" type="submit" (click)="buscaConvenios()">
                              <i *ngIf="swbuscando" class="fa fa-spinner"></i>
                              <i *ngIf="!swbuscando" class="fa fa-search"></i> {{txtbuscar}}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="col-sm-2 px-0">
            <input class="form-control form-control-sm text-center" type="text" placeholder="Filtrar..."
               [(ngModel)]="filtro" [ngModelOptions]="{standalone: true}" />
         </div>

         <div class="btn-group ml-auto mt-0">
            <button *ngIf="swdesdehasta" class="bg-transparent border-0" type="submit" (click)="listainicial()" data-toggle="tooltip" title="Ultimos">
               <i class="bi-skip-end text-white icoRegresar"></i>
            </button>
            <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right"
               data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
               <button class="dropdown-item" type="button" (click)="nuevo()">
                  <i class="bi-file-earmark-plus"></i>&nbsp; Nuevo</button>
               <button class="dropdown-item" type="button" (click)="imprimir()">
                  <i class="bi bi-printer"></i>&nbsp; Imprimir</button>
               <button class="dropdown-item" type="button" [routerLink]="['/estados-convenios']">
                  <i class="fa fa-pie-chart" aria-hidden="true"></i> &nbsp; Estados</button>
            </div>
         </div>

      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-12">
         <table class="table table-hover table-bordered table-sm sombra">
            <thead class="cabecera">
               <tr>
                  <th class="text-center">Nro.</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Referencia</th>
                  <th class="text-center">Autorización</th>
                  <th class="text-center">Abonado</th>
                  <th class="text-center">Total</th>
                  <th class="text-center">Cuotas</th>
                  <th class="text-center">Inicial</th>
                  <th class="text-center">Mensual</th>
                  <th class="text-center">Final</th>
                  <th></th>
               </tr>
            </thead>
            <tbody class="detalle">
               <tr *ngFor="let convenio of _convenios | filter: filtro; let i = index" class="fila"
                  (click)="info($event, convenio.idconvenio)">
                  <td class="text-center">{{ convenio.nroconvenio }}</td>
                  <td class="text-center">{{ convenio.feccrea | date: 'dd-MM-yyyy' }}</td>
                  <td class="text-center">{{ convenio.referencia }}</td>
                  <td class="text-center">{{ convenio.nroautorizacion }}</td>
                  <td class="text-left">{{ convenio.idabonado.idcliente_clientes.nombre}}</td>
                  <td class="text-right">{{ convenio.totalconvenio | number: '.2-2'}}</td>
                  <td class="text-center">{{ convenio.cuotas }}</td>
                  <td class="text-right">{{ convenio.cuotainicial | number: '.2-2'}}</td>
                  <td class="text-center">{{ convenio.pagomensual | number: '.2-2'}}</td>
                  <td class="text-right">{{ convenio.cuotafinal | number: '.2-2'}}</td>
                  <td class="text-center">
                     <div class="btn-group py-0">
                        <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0" data-toggle="dropdown"
                           aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right popLista">
                           <button class="dropdown-item" type="button" (click)="modiConvenio( convenio.idconvenio )">
                              <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                           <button class="dropdown-item" type="button" data-toggle="modal" data-target="#elimInteres"
                              disabled>
                              <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                        </div>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <!-- <div class="col-md-5">
         <div class="collapse" id="collapseNuevo">
            <div class="card card-success card-outline card-body">
               <app-add-convenio></app-add-convenio>
            </div>
         </div>
      </div> -->
   </div>
</div>