<div class="content mt-1 pt-1 pl-0">
    <div class="container-fluid">
        <div class="row m-0 px-0 py-1 justify-content-start cabecera border sombra">
            <div class="col-sm-8">
                <h4 class="m-0 font-weight-bold">{{ titulo }}</h4>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm text-center" placeholder="Filtrar..."
                    [(ngModel)]="filterTerm" />
            </div>
            <div class="col-sm text-right">
                <div class="btn-group ml-auto mt-0">
                    <button type="button" class="bg-transparent border-0 dropdown-toggle text-white"
                        data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
                        <button class="dropdown-item" type="button">
                            <i class="bi-file-earmark-plus"></i>&nbsp; Nuevo</button>
                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#pdf">
                            <i class="bi bi-printer"></i>&nbsp; Imprimir</button>
                        <button class="dropdown-item text-muted" type="button" disabled><i
                                class="bi-file-earmark-arrow-down text-muted"></i>
                            <span class="text-muted">&nbsp;
                                Exportar</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body table-responsive">
                    <table class="table table-xs table-hover table-striped table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th>Nro</th>
                                <th (click)="sortData('cuenta')">Cuenta</th>
                                <th>Cliente</th>
                                <th>Identificación</th>
                                <th (click)="sortData('numfacturas')">Deudas</th>
                                <th>Subtotal</th>
                                <th>Interes</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let abonado of datosCuentas | filter: filterTerm; let i = index">
                                <td class="text-center">{{i+1}}</td>
                                <td class="text-center">{{abonado.cuenta}}</td>
                                <td>{{abonado.nombre}}</td>
                                <td class="text-center">{{abonado.cedula}}</td>
                                <td class="text-center">
                                    {{abonado.numfacturas}}
                                </td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td class="text-center">
                                    <div class="btn-group ml-auto mt-0">
                                        <button type="button" class="bg-transparent border-0 dropdown-toggle text-green"
                                            data-toggle="dropdown" aria-expanded="false"> <i class="bi bi-menu-down"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right roboto">
                                            <button class="dropdown-item text-muted" type="button">
                                                <i class="bi bi-sliders"></i>&nbsp; Suspender</button>
                                            <button class="dropdown-item text-muted" type="button" data-toggle="modal"
                                                (click)="setDatosImprimir(abonado)" data-target="#impNotificacion">
                                                <i class="bi bi-printer"></i>&nbsp; Notificación</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="impNotificacion" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="impNotificacionLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="impNotificacionLabel">Imprimir notificacion de pago</h5>
                    </div>
                    <div class="modal-body">
                        <iframe id="pdfViewer" src="" width="100%" height="600px"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>