.container-fluid {
  --recaudacabecera: DarkSlateGray;
  --recaudadetalle: AliceBlue;
  --clientecabecera: Olive;
  --clientedetalle: Khaki;
  --bgcolor1: rgb(68, 103, 114);
  --bgcolor2: rgba(231, 251, 253);
}
.cabecera {
  background-color: var(--bgcolor1);
  color: white;
}
.nuevoBG1 {
  background-color: var(--bgcolor1);
}

.detalle {
  background-color: var(--bgcolor2);
}
.nuevoBG2 {
  background-color: var(--bgcolor2);
}

.recaudacabecera {
  background-color: var(--recaudacabecera);
  color: white;
}

.recaudadetalle {
  background-color: var(--recaudadetalle);
}
.recaudadetalle li {
  background-color: var(--recaudadetalle);
}

.text-titulo {
  font-size: 24px;
  color: rgb(2, 68, 22);
}

input:required:placeholder-shown {
  border-color: #d79ee4;
}

input:required:not(:placeholder-shown):invalid {
  border-color: red;
}

input:required:not(:placeholder-shown):valid {
  border-color: rgb(2, 153, 23);
}

input:required:focus:invalid {
  border-color: red;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

.fila:hover {
  background-color: #117a8b;
  color: white;
}

.transferido {
  background-color: #dcdfb5;
}
.transferido_2 {
  background-color: #5119ec;
}

/* === Buscar Clientes === */
.clientecabecera {
  background-color: var(--clientecabecera);
}
.clientedetalle {
  background-color: var(--clientedetalle);
}
.clientecabecera th {
  background-color: var(--clientecabecera);
  color: white;
}
.clientedetalle tbody tr:hover {
  background-color: #117a8b;
  color: white;
  cursor: pointer;
}



/*  */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  cursor: pointer;
}

th:hover {
  background-color: #ddd;
}

.dropdown-menu {
  border-radius: 12px;
}

.table thead th {
  user-select: none;
  cursor: pointer;
}

.btn-outline-success {
  border-radius: 10px;
}
