<div class="content-header" *ngIf="aguatamshow">
   <div class="container-fluid">
      <div class="row mt-0 justify-content-center text-center">
         <div class="col-sm-11 cabecera sombra border">
            <h5 class="mt-2 font-weight-bold">{{titulo}}</h5>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid mt-0">
   <div class="content" *ngIf="aguatamshow; else aguahide">

      <div class="container-fluid col-sm-11">
         <table class="table table-bordered table-sm detalle sombra">
            <tbody>
               <tr>
                  <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAbonados"><i
                           class="fa fa-search" aria-hidden="true"></i>
                        Cuenta&nbsp;&nbsp;</button>&nbsp;&nbsp;{{abonado.idabonado}}</td>
                  <td colspan="2">Nombre y apellidos: {{cliente.nombre}}</td>
                  <td>Identificación: {{cliente.cedula}}</td>
               </tr>
               <tr>
                  <td colspan="2">Direccion: {{cliente.direccion}}</td>
                  <td>Ruta: {{ruta.descripcion}}</td>
                  <td>Piso: {{abonado.piso}} Departamento: {{abonado.departamento}}</td>
               </tr>
               <tr>
                  <td>Nro. medidor: {{abonado.nromedidor}}</td>
                  <td>Marca: {{abonado.marca}}</td>
                  <td>Categoria: {{categoria.descripcion}}</td>
                  <td>Estado medidor: {{estadom.descripcion}}</td>
               </tr>
            </tbody>
         </table>
      </div>

      <div *ngIf="retMedidor" class="ml-5 col-sm-11 detalle">
         <form [formGroup]="f_retiroMedidor">
            <div class="row">
               <div class="col-sm-8">
                  <label for="" class="col-sm-10">Ubicación medidor retirado - Observación
                     <input type="text" class="form-control form-control-sm" formControlName="ubimedidor">
                  </label>
               </div>
               <div class="col-sm-3">
                  <label for="" class="col-sm-10">Fecha retiro medidor
                     <input type="date" class="form-control form-control-sm" formControlName="fecmedidor">
                  </label>
               </div>
            </div>
            <!-- Select Documentos -->
            <div class="form-group form-row col-sm-12">
               <label class="font-weight-bold">Documento</label>
               <select class="form-control form-control-sm col-sm-3" formControlName="iddocumento_documentos">
                  <option *ngFor="let documentos of _documentos" [ngValue]="documentos.intdoc">
                     {{ documentos.nomdoc }}
                  </option>
               </select>
               <input class="form-control form-control-sm col-sm" formControlName="nrodocumento">
            </div>
            <div class="row mt-3">
               <div class="col-sm text-center">
                  <button class="btn btn-sm btn-success mx-1 mb-3" [disabled]="f_retiroMedidor.invalid"
                     (click)="retiroMedidor()"><i class="fa fa-check-circle"></i>&nbsp; Aceptar</button>
                  <button class="btn btn-sm btn-success mx-1 mb-3" (click)="regresar()"><i
                        class="fa fa-times-circle"></i>
                     Cancelar</button>
               </div>
            </div>
         </form>
      </div>
      <div *ngIf="cambioCategoria">
         <div class="container-fluid ">
            <div class="row justify-content-center">

               <div class="col-sm-9 detalle sombra border">
                  <form [formGroup]="f_categoria" class="row my-2">

                     <!-- Select Categoría -->
                     <div class="form-group col-md-7">
                        <label class="font-weight-bold">Categoría</label>
                        <select class="form-control form-control-sm" formControlName="idcategoria_categorias"
                           [compareWith]="compareCategoria">
                           <option *ngFor="let categoria of categorias" [ngValue]="categoria">
                              {{ categoria.descripcion }}
                           </option>
                        </select>
                     </div>

                     <!-- Checkbox Adulto Mayor (solo visible si categoría.id == 9) -->
                     <div class="form-group col-md-4"
                        *ngIf="f_categoria.value?.idcategoria_categorias?.idcategoria === 9">
                        <label class="font-weight-bold">Adulto Mayor</label>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" formControlName="adultomayor"
                              id="adultoMayorCheck">
                           <label class="form-check-label" for="adultoMayorCheck">Aplica descuento</label>
                        </div>
                     </div>

                     <!-- Checkbox Municipio (solo visible si categoría.id == 4) -->
                     <div class="form-group col-md-4"
                        *ngIf="f_categoria.value?.idcategoria_categorias?.idcategoria === 4">
                        <label class="font-weight-bold">Municipio</label>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" formControlName="municipio"
                              id="municipioCheck">
                           <label class="form-check-label" for="municipioCheck">Aplica descuento</label>
                        </div>
                     </div>

                     <!-- Select Documentos -->
                     <div class="form-group form-row col-sm-12">
                        <label class="font-weight-bold">Documento</label>
                        <select class="form-control form-control-sm col-sm-3" formControlName="iddocumento_documentos">
                           <option *ngFor="let documentos of _documentos" [ngValue]="documentos.intdoc">
                              {{ documentos.nomdoc }}
                           </option>
                        </select>
                        <input class="form-control form-control-sm col-sm" formControlName="nrodocumento">
                     </div>

                     <!-- Observaciones -->
                     <div class="form-group col-md-12 mt-2">
                        <label class="font-weight-bold">Observaciones</label>
                        <textarea class="form-control" formControlName="observaciones" rows="2"
                           placeholder="Escribe tus observaciones aquí..."></textarea>
                     </div>

                  </form>

               </div>
            </div>

            <div class="row justify-content-center text-center mt-2">
               <div class="col-sm-6 detalle sombra border">
                  <button class="btn btn-sm btn-outline-success mx-1 mb-2 mt-3" (click)="actualizarCategoria()"><i
                        class="fa fa-check-circle"></i>&nbsp;Aceptar</button>
                  <button class="btn btn-sm btn-success mx-1 mb-2 mt-3" (click)="regresar()"><i
                        class="fa fa-times-circle"></i>
                     Cancelar</button>
               </div>
            </div>

         </div>
      </div>

      <div *ngIf="cambioPropietario" class="m-0">
         <div class="container-fluid">
            <div class="row justify-content-center">
               <div class="col-sm-8 detalle">
                  <form [formGroup]="f_camPropietario">
                     <div class="card detalle">
                        <div class="card-header cabecera py-1">
                           <h3 class="card-title font-weight-bold">Datos del nuevo propietario</h3>
                           <div class="card-tools">
                              <button type="button" class="btn btn-xs btn-outline-warning" data-toggle="modal"
                                 data-target="#facturas" *ngIf="_facturas.length > 0">
                                 <i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Facturas
                              </button>
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                 <i class="fas fa-minus"></i>
                              </button>
                           </div>
                        </div>
                        <div class="card-body">
                           <div class="row">
                              <div class="col-sm">
                                 <label for="cliente" class="col-sm-6"> Nuevo propietario
                                    <input type="text" id="cliente" class="form-control form-control-sm"
                                       value="{{selectClient.nombre}}" readonly>
                                 </label>
                                 <button class="btn btn-sm btn-outline-primary ml-2" data-toggle="modal"
                                    data-target="#modalClientes"><i class="fa fa-search"
                                       aria-hidden="true"></i></button>
                              </div>
                           </div>
                           <!-- Select Documentos -->
                           <div class="form-group form-row col-sm-12">
                              <label class="font-weight-bold">Documento</label>
                              <select class="form-control form-control-sm col-sm-3"
                                 formControlName="iddocumento_documentos">
                                 <option *ngFor="let documentos of _documentos" [ngValue]="documentos.intdoc">
                                    {{ documentos.nomdoc }}
                                 </option>
                              </select>
                              <input class="form-control form-control-sm col-sm"
                                 [ngClass]="{'is-invalid': fp['nrodocumento'].invalid && fp['nrodocumento'].touched,'is-valid': fp['nrodocumento'].valid, '': fp['nrodocumento'].untouched}"
                                 formControlName="nrodocumento">
                           </div>
                           <div class="row">
                              <div class="col-sm">
                                 <label for="" class="col-sm-12">Observaciones
                                    <textarea class="form-control form-control-sm "
                                       [ngClass]="{'is-invalid': fp['observaciones'].invalid && fp['observaciones'].touched,'is-valid': fp['observaciones'].valid, '': fp['observaciones'].untouched}"
                                       formControlName="observaciones"></textarea>
                                 </label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>

            <div class="row justify-content-center text-center">
               <div class="col-sm-8 detalle">
                  <button class="btn btn-sm btn-outline-success mx-1 mb-3" (click)="confCambioPropietario()"
                     [disabled]="f_camPropietario.invalid">
                     <i class="fa fa-check-circle"></i>&nbsp; Aceptar
                  </button>
                  <button class="btn btn-sm btn-success mx-1 mb-3" (click)="regresar()"><i
                        class="fa fa-times-circle"></i>
                     Cancelar</button>
               </div>
            </div>

         </div>

      </div>
      <div *ngIf="cambioMedidor" class="m-0">
         <div class="container-fluid">
            <div class="row justify-content-center">
               <div class="col-sm-8 detalle">
                  <form [formGroup]="f_nMedidor">
                     <div class="card detalle">
                        <div class="card-header cabecera py-1">
                           <h3 class="card-title font-weight-bold">Datos del nuevo medidor</h3>
                           <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                 <i class="fas fa-minus"></i>
                              </button>
                           </div>
                        </div>
                        <div class="card-body">
                           <div class="card-body detalle">
                              <div class="row">
                                 <div class="col-sm">
                                    <div class="row">
                                       <div class="col-sm">
                                          <div class="input-group mb-1 input-group-sm">
                                             <div class="input-group-prepend">
                                                <label class="input-group-text" for="marca">Marca<sup
                                                      class="green">*</sup></label>
                                             </div>
                                             <input type="text" class="form-control form-control-sm"
                                                formControlName="medidormarca"
                                                [ngClass]="{'is-invalid': f['medidormarca'].invalid && f['medidormarca'].touched,'is-valid': f['medidormarca'].valid, '': f['medidormarca'].untouched}">
                                          </div>
                                       </div>
                                       <div class="col-sm">
                                          <div class="input-group mb-1 input-group-sm">
                                             <div class="input-group-prepend">
                                                <label class="input-group-text" for="medidornumero">Número<sup
                                                      class="green">*</sup></label>
                                             </div>
                                             <input type="text" class="form-control form-control-sm"
                                                formControlName="medidornumero"
                                                [ngClass]="{'is-invalid': f['medidornumero'].invalid && f['medidornumero'].touched, 'is-valid': f['medidornumero'].valid, '': f['medidornumero'].untouched}">
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-sm">
                                          <div class="input-group mb-1 input-group-sm">
                                             <div class="input-group-prepend">
                                                <label class="input-group-text" for="codmedidor">Código<sup
                                                      class="green">*</sup></label>
                                             </div>
                                             <input type="number" class="form-control form-control-sm"
                                                formControlName="codmedidor"
                                                [ngClass]="{'is-invalid': f['codmedidor'].invalid && f['codmedidor'].touched, 'is-valid': f['codmedidor'].valid, '': f['codmedidor'].untouched}">
                                          </div>
                                       </div>
                                       <div class="col-sm">
                                          <div class="input-group mb-1 input-group-sm">
                                             <div class="input-group-prepend">
                                                <label class="input-group-text" for="medidordiametro">Diámetro<sup
                                                      class="green">*</sup></label>
                                             </div>
                                             <input type="number" class="form-control form-control-sm"
                                                formControlName="medidordiametro"
                                                [ngClass]="{'is-invalid': f['medidordiametro'].invalid && f['medidordiametro'].touched, 'is-valid': f['medidordiametro'].valid, '': f['medidordiametro'].untouched}">
                                          </div>
                                       </div>
                                       <div class="col-sm">
                                          <div class="input-group mb-1 input-group-sm">
                                             <div class="input-group-prepend">
                                                <label class="input-group-text" for="medidornroesferas">Nro esferas<sup
                                                      class="green">*</sup></label>
                                             </div>
                                             <input type="number" min="0" class="form-control form-control-sm"
                                                formControlName="medidornroesferas"
                                                [ngClass]="{'is-invalid': f['medidornroesferas'].invalid && f['medidornroesferas'].touched, 'is-valid': f['medidornroesferas'].valid, '': f['medidornroesferas'].untouched}">
                                          </div>
                                       </div>
                                       <!-- Select Documentos -->
                                       <div class="form-group form-row col-sm-12">
                                          <label class="font-weight-bold">Documento</label>
                                          <select class="form-control form-control-sm col-sm-3"
                                             formControlName="iddocumento_documentos">
                                             <option *ngFor="let documentos of _documentos"
                                                [ngValue]="documentos.intdoc">
                                                {{ documentos.nomdoc }}
                                             </option>
                                          </select>
                                          <input class="form-control form-control-sm col-sm"
                                             formControlName="nrodocumento">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>

            <div class="row justify-content-center text-center">
               <div class="col-sm-8 detalle">
                  <button class="btn btn-sm btn-outline-success mx-1 mb-3" (click)="actualizarNuevoMedidor()"><i
                        class="fa fa-check-circle"></i>&nbsp; Aceptar</button>
                  <button class="btn btn-sm btn-success mx-1 mb-3" (click)="regresar()"><i
                        class="fa fa-times-circle"></i>
                     Cancelar</button>
               </div>
            </div>

         </div>

      </div>

   </div>
   <ng-template #aguahide>
      <app-add-aguatramite></app-add-aguatramite>
   </ng-template>

   <!-- Modal -->
   <div class="modal fade" id="modalAbonados" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <!--      <div class="modal-header">
               <div class="row">
                  <div class="col-sm">
                     <h5 class="modal-title" id="modalAbonadosLabel">Seleccionar cliente</h5>
                  </div>
               </div>
            </div> -->
            <div class="modal-body">
               <app-buscarabonado (abonadoEvent)="setAbonado($event)"></app-buscarabonado>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal -->
   <div class="modal fade" id="modalClientes" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xs">
         <div class="modal-content">
            <div class="modal-body">
               <app-buscar-cliente (setCliente)="setClient($event)"></app-buscar-cliente>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal -->
   <div class="modal fade" id="facturas" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Lista de facturas pendientes</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <table class="table table-hover table-sm table-bordered table-striped">
                  <thead class="text-center">
                     <tr>
                        <th>N°</th>
                        <th>Planilla</th>
                        <th>F.Creación</th>
                        <th>Módulo</th>
                        <th>Valor</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let factura of _facturas; let i = index">
                        <td class="text-center">{{i+1}}</td>
                        <td>{{factura.idfactura}}</td>
                        <td>{{factura.feccrea}}</td>
                        <td class="text-center">{{factura.idmodulo}}</td>
                        <td class="text-right">{{factura.total.toFixed(2)}} $</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal -->
   <div class="modal fade card-outline-warning" id="modalConfirmacion" data-backdrop="static" data-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog ">
         <div class="modal-content">
            <div class="modal-header cabecera">
               <h5 class="modal-title" id="exampleModalLabel">CONFIRMAR</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body detalle">
               <h3>Desea modificar el responsable de pago de las facturas? </h3>
               <label for="swactualizar"><strong>SI/NO</strong> &nbsp; <input type="checkbox" class="form-control form-control-sm"
                     [(ngModel)]="swActualizar" id="swactualizar"></label>
               <hr>
               <samp class=""><strong>*NOTA:</strong> A las {{_facturas.length}} planillas pendientes se les modificará
                  el responsable de pago. </samp>
            </div>
            <div class="modal-footer detalle">
               <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cancelar</button>
               <button type="button" class="btn btn-outline-success btn-sm"
                  (click)="actualizarPropietario()">Aceptar</button>
            </div>
         </div>
      </div>
   </div>

</div>