<div class="content mt-1 pt-1 px-0">
   <div class="container-fluid">
      <div class="col-sm-12 px-0">
         <div class=" row m-0 pl-0 py-1 pr-1 justify-content-start titPliego">
            <div class="col-sm-3">
               <h4 class="m-0 font-weight-bold text-truncate"><i class="fa fa-history"></i> Pliego Tarifario</h4>
            </div>
            <div class="col-sm-6">
               <form [formGroup]="buscarForm">
                  <div class="row d-flex justify-content-center">
                     <div class="col-sm-4">
                        <select type="text" placeholder="" id="idcategoria_categorias"
                           class="form-control form-control-sm" formControlName="idcategoria_categorias">
                           <option [ngValue]="categoriaDatos" id="idc{{categoriaDatos.idcategoria}}"
                              *ngFor="let categoriaDatos of categoria">
                              {{categoriaDatos.descripcion}}</option>
                        </select>
                     </div>
                     <div class="col-sm-4">
                        <div class="row">
                           <div class="col-sm-6">
                              <input type="number" min="0" placeholder="Desde" id="dm3"
                                 class="form-control form-control-sm text-center" formControlName="dm3">
                           </div>
                           <div class="col-sm-6">
                              <input type="number" min="0" max="255" placeholder="Hasta" id="hm3"
                                 class="form-control form-control-sm text-center" formControlName="hm3">
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <button type="submit" class="btn btn-success btn-sm" (click)="buscarPrecio()"><i
                              class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                     </div>
                  </div>
               </form>
            </div>
            <div class="col-sm-2">
               <input type="text" class="form-control mx-0 form-control-sm text-center" placeholder="Filtrar..."
                  [(ngModel)]="filterTerm" />
            </div>

            <div class="btn-group ml-auto mt-0">
               <button type="button" class="bg-transparent border-0 dropdown-toggle text-white" data-toggle="dropdown"
                  aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
               </button>
               <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
                  <button class="dropdown-item" type="button" data-toggle="collapse" data-target="#addTarifa"
                     aria-expanded="false" aria-controls="addTarifa">
                     <i class="bi-file-earmark-plus"></i>&nbsp; Nuevo</button>
                  <button class="dropdown-item" type="button" data-toggle="modal" data-target="#imprimir">
                     <i class="bi bi-printer"></i>&nbsp; Imprimir</button>
                  <button class="dropdown-item" type="button" data-toggle="modal" data-target="#importar"
                     (click)="importar()">
                     <i class="bi-file-earmark-arrow-down"></i><span class="">&nbsp;
                        Importar</span></button>
                  <button class="dropdown-item" type="button" disabled>
                     <i class="bi-file-earmark-arrow-up text-muted"></i><span class="text-muted">&nbsp;
                        Exportar</span></button>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-sm-4">
         <div id="alertaPrecioxCat">
         </div>
         <table class="table table-hover table-bordered table-sm">
            <thead>
               <tr class="text-center">
                  <th>M<sup>3</sup></th>
                  <th>Precio base</th>
                  <th>Consumo Agua</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let precioxcat of _preciosxcat | filter:filterTerm; let i= index" class="text-center"
                  (click)="info( precioxcat.idprecioxcat )">
                  <td>{{ precioxcat.m3 }}</td>
                  <td>{{ precioxcat.preciobase | number:'1.2-2'}}</td>
                  <td>{{ precioxcat.precioadicional | number:'1.2-2'}}</td>
               </tr>
            </tbody>
         </table>
      </div>

      <div class="col-md-6 ml-5 mt-5">
         <div class="collapse sombra" id="addTarifa">
            <div class="card card-body pt-0 pb-1 px-0 fondoTarifa">
               <h5 class="font-weight-bold py-1 text-center titPliego">Nueva Tarifa</h5>
               <app-add-preciosxcat></app-add-preciosxcat>
            </div>
         </div>
      </div>

   </div>

   <!-- MODAL Imprimir-->
   <div class="modal fade" id="imprimir" tabindex="-1" aria-labelledby="imprimirLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm">
         <div class="modal-content">
            <div class='modal-header py-2 justify-content-center titImprimir'>
               <h5 class='modal-title font-weight-bold' id='ModalLabel'>Imprimir</h5>
            </div>
            <div class='modal-body'>

               <div class="input-group mb-3 input-group-sm">
                  <div class="input-group-prepend">
                     <label class="input-group-text" for="inputGroupSelect01">Reporte</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                     <option selected>Tarifas consulta actual</option>
                     <option value="1">Tarifas de la Categoría actual</option>
                     <option value="1">Pliego Tarifario</option>
                  </select>
               </div>

               <div class="input-group input-group-sm mb-0">
                  <div class="input-group-prepend">
                     <small class="input-group-text">Abrir en otra página</small>
                     <div class="input-group-text">
                        <input type="checkbox" [(ngModel)]="otraPagina">
                     </div>
                  </div>
               </div>


            </div>
            <div class='modal-footer justify-content-center'>
               <button type='button' class='btn btn-success btn-sm mx-1' data-dismiss='modal' (click)="pdf()"
                  [attr.data-target]="otraPagina ? null : '#pdf'" data-toggle="modal">
                  <i class="fa fa-check-circle"></i>&nbsp; Aceptar</button>
               <button type='button' class='btn btn-sm btn-outline-success' data-dismiss='modal'>
                  <i class="bi bi-x-circle"></i> Cancelar</button>
            </div>
         </div>
      </div>
   </div>

   <!-- MODAL Importar -->
   <div class="modal fade" id="importar" tabindex="-1" aria-labelledby="importarLabel" aria-hidden="true"
      data-backdrop="static">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class='modal-header pt-2 pb-0 justify-content-center titImprimir'>

               <div class="input-group mb-1 col-sm-5">
                  <div class="custom-file custom-file-sm">
                     <input type="file" class="custom-file-input" id="inputFile" accept=".tsv"
                        aria-describedby="inputFileLabel" (change)="onFileChange($event)">
                     <label class="custom-file-label small pl-1" for="inputFile" data-browse="Archivo"
                        #labelElement><span class="input-group-text-sm">Seleccionar</span></label>
                  </div>
               </div>

               <button type='button' class='btn btn-warning btn-sm mr-1' (click)="validar()" [disabled]="!swfile">
                  <i class="bi-bug-fill"></i>&nbsp; Validar</button>
               <button type='button' class='btn btn-success btn-sm mx-1' [disabled]="!swvalido" data-dismiss='modal'
                  (click)="cargar()">
                  <i class="fa fa-check-circle"></i>&nbsp; Importar</button>
               <button type='button' class='btn btn-success btn-sm  ml-1' data-dismiss='modal'>
                  <i class="bi bi-x-circle"></i> Cancelar</button>
            </div>
            <div class='modal-body'>
               <table class="table table-hover table-bordered table-sm mb-0">
                  <thead>
                     <tr class="text-center">
                        <th>M<sup>3</sup></th>
                        <th>Precio base</th>
                        <th>Consumo Agua</th>
                        <th>Id Categoría</th>
                        <th>Ok</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of _tsvData" class="text-center">
                        <td>{{ item.m3 }}</td>
                        <td>{{ item.preciobase }}</td>
                        <td>{{ item.precioadicional }}</td>
                        <td>{{ item.idcategoria }}</td>
                        <td>{{ item.valido | noSi }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>

</div>

<!-- MODAL PDF (En la misma página)-->
<div class='modal fade' id='pdf' tabindex='-1' aria-labelledby='pdf' aria-hidden='true'>
   <div class='modal-dialog modal-sm'>
   </div>
</div>