.cabecera {
   background-color: var(--bgcolor1);
   color: white;
}

.detalle { background-color: var(--bgcolor2); }

select.custom-select:disabled {
  opacity: 1 !important;        /* evita el efecto transparente */
  background-color: #e9ecef;    /* color típico de campo deshabilitado */
  color: #495057;               /* texto normal */
}