<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 px-0 py-1 justify-content-start sombra cabecera border">
         <div class="col-sm-12 p-0.">
            <div class="row p-0">
               <div class="input-group input-group-sm col-sm-4 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Retención del
                        Asiento</span>
                  </div>
                  <input type="text" class="form-control text-center" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iAsiento.asiento" readonly tabindex="-1">
                  <input type="text" class="form-control text-center" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iAsiento.comprobante" readonly tabindex="-1">
               </div>
               <div class="input-group input-group-sm col-sm-2 mb-1 mr-0 ">
                  <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Fecha</span>
                  </div>
                  <input type="text" class="form-control text-center" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iAsiento.fecha" readonly tabindex="-1">
               </div>
               <div class="input-group input-group-sm col-sm-2 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Doc</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iAsiento.documento" readonly tabindex="-1">
               </div>
               <div class="input-group input-group-sm col-sm-4 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Beneficiario</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iAsiento.beneficiario" readonly tabindex="-1">

                  <div class="btn-group ml-auto mt-0  pb-0">
                     <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right mt-0"
                        data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
                     </button>
                     <div class="dropdown-menu dropdown-menu-right bg-dark roboto mt-0 ">
                        <button class="dropdown-item" type="button" (click)="autorizar()">
                           <i class="bi-check-circle text-info"></i>&nbsp; Autorizar</button>
                        <button class="dropdown-item" type="button">
                           <i class="bi bi-file-earmark-pdf text-info"></i>&nbsp; RIDE</button>
                        <button class="dropdown-item" type="button">
                           <i class="bi bi-printer text-info"></i>&nbsp; Imprimir / Exportar</button>
                           <button class="dropdown-item" type="button" (click)="eliminar()">
                              <i class="bi bi-trash-fill text-info"></i>&nbsp; Eliminar</button>
                        <button class="dropdown-item" type="button" (click)="regresar()">
                           <i class="bi-arrow-left-circle text-info"></i>&nbsp; Regresar</button>
                        <button class="dropdown-item" type="button" (click)="cerrar()">
                           <i class="bi-x-circle text-info"></i>&nbsp; Cerrar</button>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>

<div class="content">
   <div class="container-fluid">
      <div class="row justify-content-center">
         <div class="card card-body sombra detalle col-sm-11 mt-1 pt-1 ">
            <form [formGroup]="formRetencion">
               <div class="row">

                  <div class="form-group col-md-7 my-0 py-0">
                     <div class="input-group input-group-sm mb-1">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Autorización</label>
                        </div>
                        <input type="text" class="form-control text-center" formControlName="numautoriza_e" readonly
                           tabindex="-1">
                     </div>
                  </div>
                  <div class="form-group col-md-5 my-0 py-0">
                     <div class="input-group input-group-sm mb-1">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Fecha Autorización</label>
                        </div>
                        <input type="text" class="form-control text-center" formControlName="fecautoriza" readonly
                           tabindex="-1">
                     </div>
                  </div>

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group input-group-sm mb-1">
                        <div class="input-group-prepend">
                           <label class="input-group-text" for="fecharegistro">Fecha Registro<sup
                                 class="green">*</sup></label>
                        </div>
                        <input type="date" class="form-control text-center" formControlName="fecharegistro"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           [ngClass]="{'is-invalid': f['fecharegistro'].invalid && f['fecharegistro'].touched,'is-valid': f['fecharegistro'].valid, '': f['fecharegistro'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['fecharegistro'].errors && f['fecharegistro'].touched">
                        <div *ngIf="f['fecharegistro'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> La Fecha es obligatoria
                        </div>
                        <div *ngIf="f['fecharegistro'].errors['añoinvalido']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El Período (año) es incorrecto
                        </div>
                     </div>
                  </div>
                  <div class="form-group col-md-5 my-0 py-0">
                     <div class="input-group input-group-sm mb-1 ">
                        <div class="input-group-prepend">
                           <label class="input-group-text" for="idbene">Proveedor<sup class="green">*</sup></label>
                        </div>
                        <input type="text" class="form-control form-control-sm" value='(Ninguno)'
                           formControlName="idbene" list="benList"
                           (input)="onBeneficiarioSelected($event); benefixNombre($event)"
                           [ngClass]="{'is-invalid': f['idbene'].invalid && f['idbene'].touched,'is-valid': f['idbene'].valid, '': f['idbene'].untouched}">
                        <datalist role="listbox" id="benList">
                           <option *ngFor="let beneficiario of beneficiarios" value={{beneficiario.nomben}}>
                           </option>
                        </datalist>
                     </div>
                     <div *ngIf="authService.msgval && f['idbene'].errors && f['idbene'].touched" class="mt-0 py-0">
                        <div *ngIf="f['idbene'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El Proveedor es obligatorio
                        </div>
                        <div *ngIf="f['idbene'].errors['invalido']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> No ha seleccionado un Proveedor
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group input-group-sm mb-1">
                        <div class="input-group-prepend">
                           <label class="input-group-text" for="idtabla01">Sus.Tribu:</label>
                        </div>
                        <select type="text" class="custom-select" formControlName="idtabla01">
                           <option *ngFor="let sustento of tabla01" [ngValue]="sustento.idtabla01">
                              {{ sustento.codsustento +' '+ sustento.nomsustento}}
                           </option>
                        </select>
                     </div>
                  </div>

                  <div class="form-group col-md-9 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <label class="input-group-text" for="numautoriza_e">Autorización electrónica (Factura)<sup
                                 class="green">*</sup></label>
                        </div>
                        <input type="text" class="form-control text-center" formControlName="autorizacion"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" maxlength="49"
                           [ngClass]="{'is-invalid': f['autorizacion'].invalid && f['autorizacion'].touched,'is-valid': f['autorizacion'].valid, '': f['autorizacion'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['autorizacion'].errors && f['autorizacion'].touched"
                        class="mt-0 py-0">
                        <div *ngIf="f['autorizacion'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El número de autorización electrónica es obligatorio
                        </div>
                        <div *ngIf="f['autorizacion'].errors['pattern']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El número de autorización electrónica debe tener 49 caracteres
                           numéricos
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group input-group-sm mb-1 ">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Documento<sup class="green">*</sup></label>
                        </div>
                        <select type="text" class="custom-select" formControlName="iddocu">
                           <option *ngFor="let documento of documentos" [ngValue]="documento.intdoc">
                              {{documento.nomdoc}}
                           </option>
                        </select>
                        <input type="text" class="form-control text-center" formControlName="numdoc" aria-label="Small"
                           aria-describedby="inputGroup-sizing-sm" placeholder="Nro."
                           [ngClass]="{'is-invalid': f['numdoc'].invalid && f['numdoc'].touched,'is-valid': f['numdoc'].valid, '': f['numdoc'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['numdoc'].errors && f['numdoc'].touched" class="mt-0 py-0">
                        <div *ngIf="f['numdoc'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El Número de <strong>{{asiento.intdoc.nomdoc}}</strong> es obligatorio
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm ">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Fecha Emisión</label>
                        </div>
                        <input type="date" class="form-control text-center" formControlName="fechaemision"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           [ngClass]="{'is-invalid': f['fechaemision'].invalid && f['fechaemision'].touched,'is-valid': f['fechaemision'].valid, '': f['fechaemision'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['fechaemision'].errors && f['fechaemision'].touched">
                        <div *ngIf="f['fechaemision'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> La Fecha de la Factura es obligatoria
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-2 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Serie<sup
                                 class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control text-center" formControlName="numserie" maxlength="6"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           [ngClass]="{'is-invalid': f['numserie'].invalid && f['numserie'].touched,'is-valid': f['numserie'].valid, '': f['numserie'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['numserie'].errors && f['numserie'].touched" class="mt-0 py-0">
                        <div *ngIf="f['numserie'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> La Serie es obligatoria
                        </div>
                        <div *ngIf="f['numserie'].errors['pattern']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> Debe tener 6 números
                        </div>
                     </div>
                  </div>


                  <div class="form-row col-md-12">
                     <span class="fantacyblack">Bases Imponibles: &nbsp;&nbsp;&nbsp;</span>

                     <div class="form-group col-md-3 my-0 py-0">
                        <div class="input-group input-group-sm mb-1">
                           <div class="input-group-prepend">
                              <label class="input-group-text" id="inputGroup-sizing-sm">IVA 0%</label>
                           </div>
                           <input type="text" class="form-control text-right" formControlName="baseimponible"
                              appVisualFormat [minDecimals]="2" [maxDecimals]="2" (focus)="seleccionarTexto($event)"
                              [ngClass]="{'is-invalid': f['baseimponible'].invalid && f['baseimponible'].touched,'is-valid': f['baseimponible'].valid, '': f['baseimponible'].untouched}">
                        </div>
                        <div *ngIf="authService.msgval && f['baseimponible'].errors && f['baseimponible'].touched"
                           class="mt-0 py-0">
                           <div *ngIf="f['baseimponible'].errors['required']"
                              class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                              <strong>Ups!</strong> El valor del IVA 0% es obligatorio
                           </div>
                           <div *ngIf="f['baseimponible'].errors['min']"
                              class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                              <strong>Ups!</strong> El valor no puede ser negativo
                           </div>
                        </div>
                     </div>

                     <div class="form-group col-md-4 my-0 py-0">
                        <div class="input-group input-group-sm mb-1">
                           <div class="input-group-prepend ">
                              <label class="input-group-text" for="idtabla17">IVA</label>
                           </div>
                           <select type="text" class="custom-select col-md-4" formControlName="idtabla17"
                              (change)="onIdtabla17Change($event)">
                              <option *ngFor="let porciva of tabla17" [ngValue]="porciva.idtabla17" class="text-center">
                                 {{porciva.porcentaje}} </option>
                           </select>
                           <input type="text" class="form-control text-right col-md-6" formControlName="baseimpgrav"
                              (blur)="calcMontoIVA()" appVisualFormat [minDecimals]="2" [maxDecimals]="2"
                              (focus)="seleccionarTexto($event)"
                              [ngClass]="{'is-invalid': f['baseimpgrav'].invalid && f['baseimpgrav'].touched,'is-valid': f['baseimpgrav'].valid, '': f['baseimpgrav'].untouched}">
                        </div>
                        <div *ngIf="authService.msgval && f['baseimpgrav'].errors && f['baseimpgrav'].touched"
                           class="mt-0 py-0">
                           <div *ngIf="f['baseimpgrav'].errors['required']"
                              class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                              <strong>Ups!</strong> El valor del IVA es obligatorio
                           </div>
                           <div *ngIf="f['baseimpgrav'].errors['min']"
                              class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                              <strong>Ups!</strong> El valor no puede ser negativo
                           </div>
                        </div>
                     </div>

                     <div class="form-group col-md-3 my-0 py-0">
                        <div class="input-group mb-1 input-group-sm mb-1">
                           <div class="input-group-prepend">
                              <label class="input-group-text">No Objeto de IVA</label>
                           </div>
                           <input type="text" class="form-control text-right" formControlName="basenograiva"
                              appVisualFormat [minDecimals]="2" [maxDecimals]="2" (focus)="seleccionarTexto($event)"
                              [ngClass]="{'is-invalid': f['basenograiva'].invalid && f['basenograiva'].touched,'is-valid': f['basenograiva'].valid, '': f['basenograiva'].untouched}">
                        </div>
                        <div *ngIf="authService.msgval && f['basenograiva'].errors && f['basenograiva'].touched"
                           class="mt-0 py-0">
                           <div *ngIf="f['basenograiva'].errors['required']"
                              class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                              <strong>Ups!</strong> El valor es obligatorio
                           </div>
                           <div *ngIf="f['basenograiva'].errors['min']"
                              class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                              <strong>Ups!</strong> El valor no puede ser negativo
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <label class="input-group-text" id="inputGroup-sizing-sm">Monto IVA</label>
                        </div>
                        <input type="text" class="form-control text-right" formControlName="montoiva" appVisualFormat
                           [minDecimals]="2" [maxDecimals]="2" (focus)="seleccionarTexto($event)"
                           [ngClass]="{'is-invalid': f['montoiva'].invalid && f['montoiva'].touched,'is-valid': f['montoiva'].valid, '': f['montoiva'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['montoiva'].errors && f['montoiva'].touched" class="mt-0 py-0">
                        <div *ngIf="f['montoiva'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El Monto del IVA es obligatorio
                        </div>
                        <div *ngIf="f['montoiva'].errors['min']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El Monto no puede ser negativo
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Monto ICE</label>
                        </div>
                        <input type="text" class="form-control text-right" formControlName="montoice" appVisualFormat
                           [minDecimals]="2" [maxDecimals]="2" (focus)="seleccionarTexto($event)"
                           [ngClass]="{'is-invalid': f['montoice'].invalid && f['montoice'].touched,'is-valid': f['montoice'].valid, '': f['montoice'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['montoice'].errors && f['montoice'].touched" class="mt-0 py-0">
                        <div *ngIf="f['montoice'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El Monto del ICE es obligatorio
                        </div>
                        <div *ngIf="f['montoice'].errors['min']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El Monto no puede ser negativo
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-5 my-0 py-0">
                     <div class="input-group input-group-sm mb-1 ">
                        <div class="input-group-prepend">
                           <label class="input-group-text" for="idtabla17">Forma Pago</label>
                        </div>
                        <select type="text" class="custom-select" formControlName="idtabla15">
                           <option *ngFor="let tab15 of tabla15" [ngValue]="tab15.idtabla15">
                              {{ tab15.codtabla15+' '+tab15.nomtabla15}}
                           </option>
                        </select>
                     </div>
                  </div>

                  <table class="table table-hover table-bordered table-sm mb-1">
                     <thead>
                        <tr class="pad0">
                           <th class="col-md-3 text-right fantacyblack"> Base &nbsp;&nbsp;&nbsp;</th>
                           <th class="col-md-5 text-center fantacyblack">Valores Retenidos IVA - Concepto</th>
                           <th class="col-md-1 text-center fantacyblack">F.104</th>
                           <th class="col-md-1 text-center fantacyblack">Cod.</th>
                           <th class="col-md-2 text-right fantacyblack">Valor Retenido &nbsp;&nbsp;</th>
                        </tr>
                     </thead>
                  </table>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <button class="btn btn-primary btn-sm" (click)="bienes()">&nbsp;&nbsp; Bienes&nbsp;</button>
                        </div>
                        <input type="text" class="form-control text-right" formControlName="montoivabienes"
                           appVisualFormat [minDecimals]="2" [maxDecimals]="2" (focus)="seleccionarTexto($event)"
                           (input)="onInputBienes($event)"
                           [ngClass]="{'is-invalid': f['montoivabienes'].invalid && f['montoivabienes'].touched,'is-valid': f['montoivabienes'].valid, '': f['montoivabienes'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['montoivabienes'].errors && f['montoivabienes'].touched"
                        class="mt-0 py-0">
                        <div *ngIf="f['montoivabienes'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El IVA en Bienes es obligatorio
                        </div>
                        <div *ngIf="f['montoivabienes'].errors['min']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El IVA en Bienes no puede ser negativo
                        </div>
                     </div>
                  </div>
                  <div class="form-group col-md-5 my-0 py-0">
                     <div class="input-group input-group-sm mb-1 ">
                        <select type="text" class="custom-select" formControlName="idtabla5c_bie"
                           (change)="onBienesChange($event)">
                           <option *ngFor="let tabla5c of tabla5c_bie" [ngValue]="tabla5c.idtabla5c">{{
                              tabla5c.conceptoiva}}
                           </option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group col-md-1 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <input type="text" class="form-control text-center" formControlName="codretbienes" readonly
                           tabindex="-1">
                     </div>
                  </div>
                  <div class="form-group col-md-1 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <input type="text" class="form-control text-center" formControlName="porretbienes"
                           [ngClass]="{'transparente': f['porretbienes'].value == 0}" readonly tabindex="-1">
                     </div>
                  </div>
                  <div class="form-group col-md-2 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <input type="text" class="form-control text-right" formControlName="valorretbienes"
                           [ngClass]="{'transparente': f['valorretbienes'].value == 0}" appVisualFormat
                           [minDecimals]="2" [maxDecimals]="2" readonly tabindex="-1">
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <button class="btn btn-primary btn-sm" (click)="servicios()">Servicios</button>
                        </div>
                        <input type="text" class="form-control text-right" formControlName="montoivaservicios"
                           appVisualFormat [minDecimals]="2" [maxDecimals]="2" (focus)="seleccionarTexto($event)"
                           (input)="onInputServicios($event)"
                           [ngClass]="{'is-invalid': f['montoivaservicios'].invalid && f['montoivaservicios'].touched,'is-valid': f['montoivaservicios'].valid, '': f['montoivaservicios'].untouched}">
                     </div>
                  </div>
                  <div class="form-group col-md-5 my-0 py-0">
                     <div class="input-group input-group-sm mb-1 ">
                        <select type="text" class="custom-select" formControlName="idtabla5c_ser"
                           (change)="onServiciosChange($event)">
                           <option *ngFor="let tabla5c of tabla5c_ser" [ngValue]="tabla5c.idtabla5c">
                              {{ tabla5c.conceptoiva}}
                           </option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group col-md-1 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <input type="text" class="form-control text-center" formControlName="codretservicios"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly tabindex="-1">
                     </div>
                  </div>
                  <div class="form-group col-md-1 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <input type="text" class="form-control text-center" formControlName="porretservicios"
                           [ngClass]="{'transparente': f['porretservicios'].value == 0}" readonly tabindex="-1">
                     </div>
                  </div>
                  <div class="form-group col-md-2 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <input type="text" class="form-control text-right" formControlName="valorretservicios"
                           appVisualFormat [minDecimals]="2" [maxDecimals]="2"
                           [ngClass]="{'transparente': f['valorretservicios'].value == 0}" readonly tabindex="-1">
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <button class="btn btn-primary btn-sm"
                              (click)="cien()">&nbsp;&nbsp;&nbsp;100%&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                        <input type="text" class="form-control text-right" formControlName="montoivaserv100"
                           appVisualFormat [minDecimals]="2" [maxDecimals]="2" (focus)="seleccionarTexto($event)"
                           (input)="onInput100($event)"
                           [ngClass]="{'is-invalid': f['montoivaserv100'].invalid && f['montoivaserv100'].touched,'is-valid': f['montoivaserv100'].valid, '': f['montoivaserv100'].untouched}">
                     </div>
                  </div>
                  <div class="form-group col-md-5 my-0 py-0">
                     <div class="input-group input-group-sm mb-1 ">
                        <select type="text" class="custom-select" formControlName="idtabla5c_100"
                           (change)="on100Change($event)">
                           <option *ngFor="let tabla5c of tabla5c_100" [ngValue]="tabla5c.idtabla5c">
                              {{ tabla5c.conceptoiva}}
                           </option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group col-md-1 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <input type="text" class="form-control text-center" formControlName="codretserv100"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly tabindex="-1">
                     </div>
                  </div>
                  <div class="form-group col-md-1 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <input type="text" class="form-control text-center" formControlName="porretserv100"
                           [ngClass]="{'transparente': f['porretserv100'].value == 0}" readonly tabindex="-1">
                     </div>
                  </div>
                  <div class="form-group col-md-2 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <input type="text" class="form-control text-right" formControlName="valretserv100"
                           appVisualFormat [minDecimals]="2" [maxDecimals]="2" readonly tabindex="-1"
                           [ngClass]="{'transparente': f['valretserv100'].value == 0}">
                     </div>
                  </div>

                  <!-- Ultima fila (Totales) del IVA -->
                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">TOTAL</span>
                        </div>
                        <input type="text" class="form-control text-right font-weight-bold" formControlName="sumbaseiva"
                           appVisualFormat [minDecimals]="2" [maxDecimals]="2" readonly tabindex="-1">
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold"
                              id="inputGroup-sizing-sm">Nro.Retención</span>
                        </div>
                        <input type="text" class="form-control text-center" formControlName="secretencion1"
                           maxlength="7"
                           [ngClass]="{'is-invalid': f['secretencion1'].invalid && f['secretencion1'].touched, 'is-valid': f['secretencion1'].valid, '': f['secretencion1'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['secretencion1'].errors && f['secretencion1'].touched">
                        <div *ngIf="f['secretencion1'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El Nro.Retención es obligatorio
                        </div>
                        <div *ngIf="f['secretencion1'].errors['min'] || f['secretencion1'].errors['pattern']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> Número de Retención incorrecto
                        </div>
                        <div *ngIf="f['secretencion1'].errors['existe']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> La Retencion Nro. <strong>{{f['secretencion1'].value}}</strong> ya
                           existe
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Fecha de Emisión</label>
                        </div>
                        <input type="date" class="form-control text-center" formControlName="fechaemiret1"
                           [ngClass]="{'is-invalid': f['fechaemiret1'].invalid && f['fechaemiret1'].touched,'is-valid': f['fechaemiret1'].valid, '': f['fechaemiret1'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['fechaemiret1'].errors && f['fechaemiret1'].touched">
                        <div *ngIf="f['fechaemiret1'].errors['required']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> La Fecha de la Retención es obligatoria
                        </div>
                        <div *ngIf="f['fechaemiret1'].errors['añoinvalido']"
                           class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                           <strong>Ups!</strong> El Período (año) es incorrecto
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-2 my-0 py-0">
                     <div class="input-group mb-1 input-group-sm">
                        <input type="text" class="form-control text-right font-weight-bold" formControlName="sumreteiva"
                           appVisualFormat [minDecimals]="2" [maxDecimals]="2" readonly tabindex="-1">
                     </div>
                  </div>
               </div>

               <div class="text-center">
                  <button class="btn btn-success btn-sm mx-1 mt-1" (click)="onSubmit()"
                     [disabled]="formRetencion.pristine || !formRetencion.valid">
                     <i class="fa fa-check-circle"></i>&nbsp; Aceptar</button>
                  <button class="btn btn-outline-success btn-sm mx-1 mt-1" (click)="regresar()"><i
                        class="fa fa-times-circle"></i> Cancelar</button>
               </div>

               <!-- Cabecera del Impuesto a la Renta -->
               <table class="table table-hover table-bordered table-sm my-1">
                  <thead>
                     <tr class="pad0">
                        <th class="col-md-2 text-center fantacyblack">Base Imponible</th>
                        <th class="col-md-5 text-center fantacyblack">Concepto de Retención del Impuesto a la Renta</th>
                        <th class="col-md-1 text-right fantacyblack"> Cod. &nbsp;&nbsp;&nbsp;</th>
                        <th class="col-md-1 text-center fantacyblack">%</th>
                        <th class="col-md-2 text-right fantacyblack">Valor Retenido</th>
                        <th class="text-center">
                           <i class="bi-plus-circle-fill fantacyblack" data-toggle="tooltip" title="Nuevo"
                              (click)="agregarAir()"></i>
                        </th>
                     </tr>
                  </thead>
               </table>

               <!-- Impuesto a la Renta -->
               <div formArrayName="air">
                  <div *ngFor="let fila of air.controls; let i = index" [formGroupName]="i">
                     <div class="form-row align-items-center mb-1">

                        <div class="form-group col-md-2 my-0 py-0">
                           <div class="input-group flex-nowrap input-group-sm">
                              <div class="input-group-prepend">
                                 <span class="input-group-text bg-primary"><i class="bi-arrow-down-circle"
                                       data-toggle="tooltip" title="Pasar base" (click)="passBaseimpair(i)"></i> </span>
                              </div>
                              <input type="text" class="form-control form-control-sm text-right"
                                 formControlName="baseimpair" appVisualFormat [minDecimals]="2" [maxDecimals]="2"
                                 (focus)="seleccionarTexto($event)" (input)="onInputBaseimpair($event, i)"
                                 [ngClass]="{'is-invalid': f1(i)['baseimpair'].invalid && f1(i)['baseimpair'].touched, 'is-valid': f1(i)['baseimpair'].valid, '': f1(i)['baseimpair'].untouched}">
                           </div>

                           <div *ngIf="authService.msgval && f1(i)['baseimpair'].errors && f1(i)['baseimpair'].touched"
                              class="mt-0 py-0">
                              <div *ngIf="f1(i)['baseimpair'].errors!['required']"
                                 class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                                 <strong>Ups!</strong> Es obligatorio
                              </div>
                              <div *ngIf="f1(i)['baseimpair'].errors!['min']"
                                 class="alert alert-warning px-1 py-0 robotosmall border" role="alert">
                                 <strong>Ups!</strong> No negativo
                              </div>
                           </div>
                        </div>

                        <div class="form-group col-md-5 my-0 py-0">
                           <select type="text" class="custom-select custom-select-sm roboto" formControlName="idtabla10"
                              (change)="onConceptoAirChange($event, i)">
                              <option *ngFor="let tab10 of tabla10" [ngValue]="tab10.idtabla10">
                                 {{ tab10.codretair+' '+tab10.porcretair+'% '+ tab10.conceptoretair}}
                              </option>
                           </select>
                        </div>

                        <div class="form-group col-md-1 my-0 py-0">
                           <input type="text" class="form-control form-control-sm text-center"
                              formControlName="codretair" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                              readonly tabindex="-1">
                        </div>

                        <div class="col-md-1">
                           <input type="text" class="form-control form-control-sm text-center"
                              formControlName="porcretair" readonly tabindex="-1">
                        </div>

                        <div class="col-md-2">
                           <input type="text" class="form-control form-control-sm text-right"
                              formControlName="valretair" appVisualFormat [minDecimals]="2" [maxDecimals]="2" readonly
                              tabindex="-1">
                        </div>

                        <div class="col-md-1 text-center">
                           <button *ngIf="f1(i)['idairxrete']?.value != null" type="button" class="btn btn-sm"
                              (click)="eliminarAIR(fila)"><i class="bi-trash-fill text-danger" data-toggle="tooltip"
                                 title="Eliminar"></i></button>
                           <button *ngIf="f1(i)['idairxrete']?.value == null" type="button" class="btn btn-sm"
                              (click)="quitarAIR(i)"><i class="bi-x-circle-fill text-danger" data-toggle="tooltip"
                                 title="Quitar"></i></button>
                        </div>

                     </div>
                  </div>

               </div>
            </form>
         </div>
      </div>
   </div>
</div>