<div class="content pt-1 ">
  <div class="container-fluid">
    <div class="row  ml-1 mr-1 pl-1 pt-1 pb-0 border cabecera sombra">
      <div class="col-md-4">
        <h4 class="font-weight-bold text-truncate"><i class="fa fa-history "></i> &nbsp;Nuevo Pliego Tarifario</h4>
      </div>

      <div class="col-sm-2">
        <input class="form-control form-control-sm text-center" type="text" placeholder="Filtrar..."
          [(ngModel)]="filtro" [ngModelOptions]="{standalone: true}" />
      </div>

      <div class="btn-group ml-auto mt-0">
        <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right"
          data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
          <button class="dropdown-item" type="button" (click)="simulacion()">
            <i class="bi-joystick"></i>&nbsp; Simulación</button>
              <button class="dropdown-item" type="button" [routerLink]="['/simulador_v2.0']">
            <i class="bi-joystick"></i>&nbsp; Simulación v2.0</button>
          <button class="dropdown-item" type="button" data-toggle="collapse" data-target="#nuevo">
            <i class="bi-file-earmark-plus"></i>&nbsp; Nuevo</button>
          <button class="dropdown-item" type="button" data-toggle="modal" data-target="#imprimir">
            <i class="bi bi-printer"></i>&nbsp; Imprimir</button>
          <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exportar">
            <i class="bi-file-earmark-arrow-up"></i> &nbsp; Exportar</button>
          <button class="dropdown-item" type="button" (click)="proyeccion()">
            <i class="bi-file-earmark-arrow-up"></i> &nbsp; Proyección</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row ml-0">
    <div class="col-sm-9">
      <table class="table table-hover table-bordered table-sm sombra">
        <thead class="cabecera">
          <tr class="text-center">
            <th>Categoría</th>
            <th>Bloque</th>
            <th>F.Agua</th>
            <th>F.Sanea</th>
            <th>Total Fijo</th>
            <th>V.Agua</th>
            <th>V.Sanea</th>
            <th>Total Variable</th>
            <th>% año 1</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="detalle">
          <tr [ngClass]="{'fantacygreen': pliego.desde == 0 && pliego.hasta == 0 }" class="fila"
            *ngFor="let pliego of _pliego24  | filter: filtro; let i=index"
            (click)="onCellClick($event, pliego.idcaja)">
            <td [ngClass]="{'transparente': ocultar(i)}" class="text-left font-weight-bold">{{
              pliego.idcategoria.descripcion }}</td>

            <td>{{ pliego.desde | bloqueConsumo:pliego.hasta }}</td>
            <td class="text-right">{{ pliego.idcategoria.fijoagua | number: '1.2-2'}}</td>
            <td class="text-right">{{ pliego.idcategoria.fijosanea | number: '1.2-2'}}</td>
            <td class="text-right font-weight-bold">{{ pliego.idcategoria.fijoagua + pliego.idcategoria.fijosanea |
              number: '1.2-2'}}</td>
            <td class="text-right">{{ pliego.agua | number: '1.2-2' }}</td>
            <td class="text-right">{{ pliego.saneamiento | number: '1.2-2'}}</td>
            <td class="text-right font-weight-bold">{{ pliego.agua + pliego.saneamiento | number: '1.2-2'}}</td>
            <td class="text-right">{{ pliego.porc | percent }}</td>
            <td class="text-center">
              <div class="btn-group py-0">
                <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0" data-toggle="dropdown"
                  aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right popLista">
                  <button class="dropdown-item" type="button" data-toggle="collapse" data-target="#addInteres">
                    <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                  <button class="dropdown-item" type="button" data-toggle="modal" data-target="#elimInteres">
                    <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-5 mt-1">
      <div class="collapse" id="nuevo">
        <div class="card card-success card-outline card-body">
          <form [formGroup]="formSimula">
            <input type="text" class="form-control text-center" formControlName="m3" aria-label="Small"
              aria-describedby="inputGroup-sizing-sm" min="0">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
