.container-fluid{
   --bg1: rgb(36, 50, 56);
   --bg2: rgb(231, 250, 252);
}

.titModi {
   background-color: var(--bg1);
   color: white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.fondo{ background-color: var(--bg2); }
