<div class="content mt-1 pt-1 px-0">
  <div class="container-fluid">
    <div class="col-sm-12 px-0">
      <div class="row  m-0 pl-0 py-1 pr-1 justify-content-start cabecera sombra border">
        <div class="col-md-4">
          <h4 class="m-0 font-weight-bold"><i class="fa fa-bus"></i>&nbsp; Asignar ruta a lectores</h4>
        </div>

        <div class="btn-group ml-auto mt-0">
          <button type="button" class="bg-transparent border-0 dropdown-toggle text-white" data-toggle="dropdown"
            aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
            <button class="dropdown-item" type="button">
              <i class="bi-file-earmark-plus"></i>&nbsp; Nuevo</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#imprimir">
              <i class="bi bi-printer"></i>&nbsp; Imprimir</button>
            <button class="dropdown-item" type="button" [routerLink]="['/add-ruta-lector']">
              <i class="bi-file-earmark-arrow-up"></i>&nbsp;
              Ruta a Lector</button>
            <button class="dropdown-item" type="button">
              <i class="bi-file-earmark-arrow-up"></i>&nbsp;
              Exportar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mb-0">
    <div class="col-sm-6">
      <table class="table table-hover table-bordered table-sm sombra">
        <thead>
          <tr class="text-center font-weight-bold cabecera">
            <th>Cod.</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody class="detalle">
          <tr class="fila" *ngFor="let usuario of _usuarios | filter: filtro;" (click)="onCellClick($event, usuario)">
            <td class="text-center">{{ usuario.idusuario }}</td>
            <td> {{ usuario.nomusu }} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 mt-1">
      <div class="sombra">
        <div class="card card-header pt-0 pb-1 px-0 cabecera">
          <div class="row">
            <div class="col-sm">
              <h5 class="font-weight-bold py-1 text-center titDocumentos">Lista de rutas asignadas</h5>
            </div>
            <div class="col-sm-2">
              <select class="form-control py-1 form-control-sm w-15 float-right" [(ngModel)]="emisionSelected"
                value="emision.idemision">
                <option *ngFor="let emision of _emisiones" [ngValue]="emision">{{emision.emision}} -
                  {{emision.estado}}</option>
              </select>
            </div>
          </div>

        </div>
        <div class="card-body detalle">
          <div class="row">
            <div class="col-sm-12">

            </div>
          </div>
          <table class="table table-hover table-bordered table-sm">
            <thead>
              <tr class="text-center font-weight-bold cabecera">
                <th>Cod.</th>
                <th>Descripción</th>
                <th>
                  <button type="button" class="btn btn-warning btn-xs py-0" *ngIf="emisionSelected?.estado == 0"
                    data-toggle="modal" data-target="#staticBackdrop">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody class="detalle">

              <!-- ✅ CUANDO NO HAY RUTAS -->
              <tr *ngIf="!_rutasAsignadas || _rutasAsignadas.length === 0">
                <td colspan="3" class="text-center text-muted font-weight-bold py-3">
                  <i class="bi bi-info-circle mr-1"></i>
                  No hay rutas asignadas a lector
                </td>
              </tr>

              <!-- ✅ CUANDO SI HAY RUTAS -->
              <tr class="fila" *ngFor="let ra of _rutasAsignadas; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td>{{ ra.descripcion }}</td>
                <td class="text-center">
                  <button class="btn-group btn-danger btn-xs py-0" (click)="dropRuta(ra)">
                    <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>


    </div>

  </div>
  <!-- Modal add ruta to user -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Lista de rutas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <label>Filtrar
                <input type="text" class="form-control form-control-sm col-sm-12" placeholder="Filtrar..."
                  [(ngModel)]="filtrarRutas">
              </label>
            </div>
          </div>
          <table class="table table-sm table-hover table-bordered">
            <thead class="header">
              <tr>
                <th>N°</th>
                <th>Descripción</th>
                <th>Añadir</th>
              </tr>
            </thead>
            <tbody class="detalle">
              <tr *ngFor="let r of _rutas | filter:filtrarRutas; let i = index">
                <td class="text-center text-strong">{{i+1}}</td>
                <td>{{r.descripcion}}</td>
                <td class="text-center">
                  <input type="checkbox" [checked]="isRutaAsignada(r)" [disabled]="esOcupada(r) && !isRutaAsignada(r)"
                    (change)="selectRuta($event, r)" />
                  <span *ngIf="esOcupada(r) && !isRutaAsignada(r)" class="badge badge-danger ml-2">
                    Ocupada
                  </span>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-success" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-sm btn-success" (click)="onSubmit()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
