.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #6b6a6a59;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Aumentar el tamaño del "GIF" */
.loader-frame {
  width: 500px; /* antes 180px */
  height: auto;
  image-rendering: auto;
}
.loader-content {
  background: transparent !important;
  box-shadow: none !important;
}
