<div class="content pt-1 pl-0">
   <div class="container-fluid">
      <div class="row ml-1 pt-1 col-sm-5 border cabecera sombra">
         <div class="col-md-4">
            <h4 class="font-weight-bold text-truncate"><i class="fa fa-th"></i> &nbsp;Cajas</h4>
         </div>
         <div class="col-sm-4">
            <input class="form-control form-control-sm text-center" type="text" placeholder="Filtrar..."
               [(ngModel)]="filtro" [ngModelOptions]="{standalone: true}" />
         </div>

         <div class="btn-group ml-auto mt-0">
            <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right"
               data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
               <button class="dropdown-item" type="button" data-toggle="collapse" data-target="#nuevaCaja">
                  <i class="bi-file-earmark-plus"></i>&nbsp; Nuevo</button>
               <button class="dropdown-item" type="button" data-toggle="modal" data-target="#imprimir">
                  <i class="bi bi-printer"></i>&nbsp; Imprimir</button>
               <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exportar">
                  <i class="bi-file-earmark-arrow-up"></i> &nbsp; Exportar</button>
            </div>
         </div>

      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row ml-1">
      <div class="col-sm-5">
         <table class="table table-hover table-bordered table-sm sombra">
            <thead class="cabecera">
               <tr>
                  <th></th>
                  <th>Estab</th>
                  <th>Pto.Emi</th>
                  <th class="text-center">Nombre</th>
                  <th></th>
               </tr>
            </thead>
            <tbody class="detalle">
               <tr class="fila" *ngFor="let caja of _cajas  | filter: filtro; let i=index"
                  (click)="onCellClick($event, caja.idcaja)">
                  <td class="text-center small font-weight-bold">{{i+1}}</td>
                  <td [ngClass]="{'tachado': caja.estado == 0 }" class="text-center">{{ caja.idptoemision_ptoemision.establecimiento }}</td>
                  <td [ngClass]="{'tachado': caja.estado == 0 }" class="text-center">{{ caja.codigo }}</td>
                  <td [ngClass]="{'tachado': caja.estado == 0 }">{{ caja.descripcion }}</td>
                  <td>
                     <div class="btn-group py-0">
                        <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0" data-toggle="dropdown"
                           aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right popLista">
                           <button class="dropdown-item" type="button" data-toggle="collapse" data-target="#addInteres">
                              <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                           <button class="dropdown-item" type="button" data-toggle="modal" data-target="#elimInteres">
                              <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                        </div>
                     </div>
                  </td>

                  <!-- <td class="text-center">
                     <button class="btn btn-outline-info btn-xs" (click)="info(caja.idcaja)">
                        <i class="fa fa-info-circle"></i> Info&nbsp;&nbsp;</button>
                  </td> -->
               </tr>
            </tbody>
         </table>
      </div>

      <div class="col-md-6 ml-5 mt-1">
         <div class="collapse" id="nuevaCaja">
            <div class="card card-success card-outline card-body">
               <app-add-caja></app-add-caja>
            </div>
         </div>
      </div>
   </div>
</div>