.cabecera {
   background-color: var(--bgcolor1);
   color: white;
}

.nuevoBG1 {   background-color: var(--bgcolor1);}

.detalle {   background-color: var(--bgcolor2);}

.nuevoBG2 {   background-color: var(--bgcolor2);}

/* === Modal: Buscar partida del Clasificador === */
/* .clasificador {
   background-color: rgb(red, green, blue);
} */

/* .formClasificador,
.cabeceraClasificador thead {
   background-color: var(--bgcolor1);
   color: white;
} */

.filas:hover {
   background-color: #117a8B;
   color: white;
   cursor: pointer;
}