<div class="container">
    <h4 class="m-0 font-weight-bold">Nueva Ubicación</h4>
    <form action="" (ngSubmit)="onSubmit()">
        <div class="mb-2">
            <label for="descripcion" class="col-sm-12  col-form-label-sm">Descripción
            <input type="text" class="form-control form-control-sm" id="descripcion" [(ngModel)]="ubi.descripcion"
                name="descriubicacionm" />
            </label>
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-success btn-sm">Aceptar</button>
        </div>
    </form>
</div>
 