<div class="content mt-1 pt-1 pl-0">
    <div class="container-fluid">
        <div class="row m-0 px-0 py-1 justify-content-start cabecera sombra border">
            <div class="col-sm">
                <h5 class="m-0 font-weight-bold"><i class="fa fa-sticky-note" aria-hidden="true"></i>
                    Nueva Nota de Crédito</h5>
            </div>



        </div>
    </div>
</div>

<div class="container-fluid mt-2 sombra">
    <form [formGroup]="f_ntacredito">
        <div class="row">
            <div class="col-sm mt-2">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nro.Factura</span>
                    </div>
                    <input type="text" class="form-control" formControlName="nrofactura"
                        (click)="clearInput('planilla')" placeholder="nro factura" aria-label=""
                        aria-describedby="button-addon2">
                    <input type="text" class="form-control" (click)="clearInput('nrofactura')"
                        formControlName="planilla" placeholder="planilla" aria-label=""
                        aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" (click)="getPlanilla()"
                            id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="valorFactura > 0">
            <div class="col-sm">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Resp pago: {{cliente.nombre}}</td>
                            <td>Nro. factura: {{_factura.nrofactura}}</td>
                            <td>Planilla: {{_factura.idfactura}}</td>
                        </tr>
                        <tr>
                            <td>Valor factura: {{valorFactura}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Cliente</span>
                    </div>
                    <input type="text" class="form-control" formControlName="cliente" placeholder="Cliente"
                        aria-label="" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" disabled="true" id="button-addon2" data-toggle="modal"
                            data-target="#slcCliente"><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Cuenta </span>
                    </div>
                    <input type="text" class="form-control" formControlName="cuenta" placeholder="Cuenta"
                        aria-label="" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" id="button-addon2" data-toggle="modal"
                            data-target="#slcAbonado"><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Valor</span>
                    </div>
                    <input type="number" min="0" max={{valorFactura}} class="form-control" formControlName="valor"
                        placeholder="valor nota de credito" aria-label="" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Observación</span>
                    </div>
                    <textarea type="text" class="form-control" formControlName="observacion" placeholder=""
                        aria-label="" aria-describedby="basic-addon1">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-right mb-3">
                <button class="btn btn-sm btn-success mr-2">Cancelar</button>
                <button class="btn btn-sm btn-outline-success" (click)="onSubmit()">Aceptar</button>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="slcCliente" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="slcClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="slcClienteLabel">Buscar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-buscar-cliente (setCliente)="setCliente($event)"></app-buscar-cliente>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="slcAbonado" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="slcAbonadoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="slcAbonadoLabel">Buscar abonado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-buscarabonado (abonadoEvent)="setAbonado($event)"></app-buscarabonado>
            </div>

        </div>
    </div>
</div>