<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 px-0 py-1 justify-content-start sombra cabecera border">
         <div class="col-sm-4 mt-2">
            <h5 class="font-weight-bold text-truncate"><i class="bi-currency-dollar"></i>&nbsp; Estado de Resultados (costos) </h5>
         </div>
         <div class="col-sm-7">
            <form [formGroup]="formBuscar" (ngSubmit)="buscar()">
               <div class="row">

                  <div class="form-group my-1">
                     <div class="input-group input-group-sm">
                        <div class="input-group-prepend sm">
                           <span class="input-group-text font-weight-bold">Actividad </span>
                        </div>
                        <select class="form-control form-control-sm" formControlName="numnivel">
                           <option value='1' selected>AGUA POTABLE COMERCIALIZACIÓN</option>
                           <option value='2'>ALCANTARILLADO</option>
                        </select>
                     </div>
                  </div>

                  <div class="input-group col-sm-3 my-1">
                     <input type="date" class="form-control form-control-sm text-center" formControlName="desdeFecha"
                        max="{{ today | date : 'yyyy-MM-dd' }}" />
                  </div>

                  <div class="col-sm my-1">
                     <button class="btn btn-primary btn-sm" type="button" (click)="busca()">
                        <i class="fa fa-search"></i> Buscar
                     </button>
                  </div>

               </div>
            </form>
         </div>

         <div class="btn-group ml-auto mt-0">
            <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right"
               data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
            </button>
            <button class="bg-transparent border-0" type="button" (click)="regresar()" data-toggle="tooltip"
            title="Regresar">
            <i class="bi-arrow-left-circle text-white icoRegresar"></i>
         </button>
            <div class="dropdown-menu dropdown-menu-right bg-dark roboto ">
               <button class="dropdown-item" type="button" data-toggle="modal" data-target="#imprimir">
                  <i class="bi bi-printer"></i>&nbsp; Imprimir</button>
               <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exportar">
                  <i class="bi-file-earmark-arrow-up"></i> &nbsp; Exportar</button>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="container-fluid">
   <div class="row justify-content-center mb-0">
      <div class="col-sm-10">
         <table *ngIf="_cuecostos" class="table table-hover table-bordered table-sm sombra mt-1">
            <thead class="text-center cabecera pad0">
               <tr class="text-center pad0">
                  <th rowspan="2" class="alinearvertical">Cuenta</th>
                  <th rowspan="2" class="alinearvertical">Denominación</th>
                  <th colspan="2">Mensual</th>
                  <th colspan="2">Acumulado</th>
               </tr>
               <tr class="text-center pad0">
                  <th>Ingreso</th>
                  <th>Costo</th>
                  <th>Ingreso</th>
                  <th>Costo</th>
               </tr>
            </thead>

            <tbody class="detalle roboto small">
               <tr *ngFor="let item of _cuecostos" class="pad0">
                  <td>{{ item.codcue }}</td>
                  <td>{{ item.nomcue }}</td>
                  <!-- <td class="text-right">{{ item.ingresoM  | number: '1.2-2'}}</td>
                  <td class="text-right">{{ item.costoM  | number: '1.2-2' }}</td>
                  <td class="text-right">{{ item.ingresoA  | number: '1.2-2' }}</td>
                  <td class="text-right">{{ item.costoA  | number: '1.2-2' }}</td> -->
                </tr>
            </tbody>
            <tfoot class="detalle font-weight-bold pad0 roboto small">
               <tr>
                  <!-- <td>TOTAL </td> -->
                  <!-- <td class="text-right">{{totales[0] | number: '1.2-2'}}</td>
                  <td class="text-right">{{totales[1] | number: '1.2-2'}}</td>
                  <td class="text-right">{{totales[2] | number: '1.2-2'}}</td>
                  <td class="text-right">{{totales[2] - totales[1]| number: '1.2-2'}}</td>
                  <td class="text-center">{{ totales[3] }}</td> -->
               </tr>
            </tfoot>
         </table>
      </div>
   </div>


   <!-- MODAL Imprimir-->
   <div class="modal fade" id="imprimir" tabindex="-1" aria-labelledby="imprimirLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm">
         <div class="modal-content border">
            <div class='modal-header py-2 justify-content-center cabecera'>
               <h5 class='modal-title font-weight-bold' id='ModalLabel'>Imprimir</h5>
            </div>
            <div class='modal-body'>

               <div class="input-group mb-3 input-group-sm">
                  <div class="input-group-prepend">
                     <label class="input-group-text" for="inputGroupSelect01">Reporte</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                     <option selected>Estado de Resultados</option>
                  </select>
               </div>

               <div class="input-group input-group-sm mb-0">
                  <div class="input-group-prepend">
                     <small class="input-group-text">Abrir en otra página</small>
                     <div class="input-group-text">
                        <input type="checkbox" [(ngModel)]="otraPagina">
                     </div>
                  </div>
               </div>

            </div>
            <div class='modal-footer justify-content-center'>
               <button type='button' class='btn btn-success btn-sm mx-1' data-dismiss='modal'
                  [attr.data-target]="otraPagina ? null : '#pdf'" data-toggle="modal">
                  <i class="fa fa-check-circle"></i>&nbsp; Aceptar</button>
               <button type='button' class='btn btn-sm btn-outline-success' data-dismiss='modal'>
                  <i class="bi bi-x-circle"></i> Cancelar</button>
            </div>
         </div>
      </div>
   </div>

   <!-- MODAL Exportar -->
   <div class="modal fade" id="exportar" tabindex="-1" aria-labelledby="exportarLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm">
         <div class="modal-content border">
            <div class='modal-header py-2 justify-content-center cabecera'>
               <h5 class='modal-title font-weight-bold' id='ModalLabel'>Exportar</h5>
            </div>
            <div class='modal-body cuerpo'>

               <div class="form-group  my-0 py-0">
                  <div class="input-group input-group-sm mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm" data-toggle="tooltip"
                           title="Obligatorio y mínimo 3 caracteres">Archivo</span>
                     </div>
                     <input type="text" class="form-control" [(ngModel)]="archExportar" aria-label="Small"
                        aria-describedby="inputGroup-sizing-sm" required minlength="3" maxlength="20">
                  </div>
               </div>

               <div class="row justify-content-center">
                  <button type='button' class='btn btn-success btn-sm mx-1' data-dismiss='modal' data-toggle="modal">
                     <i class="fa fa-check-circle"></i>&nbsp; Aceptar</button>
                  <button type='button' class='btn btn-sm btn-outline-success btn-sm mx-1' data-dismiss='modal'>
                     <i class="bi bi-x-circle"></i> Cancelar</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- MODAL PDF (En la misma página)-->
<div class='modal fade' id='pdf' tabindex='-1' aria-labelledby='pdf' aria-hidden='true'>
   <div class='modal-dialog modal-sm'>
   </div>
</div>
