<div class="content-header py-1">
   <div class="container-fluid">
      <div class="row text-center">
         <div class="col-sm-8 cabecera sombra border">
            <h5 class="mt-2 font-weight-bold">Nuevo Convenio de Pago</h5>
         </div>
      </div>
   </div>
</div>

<div class="content">
   <div class="container-fluid">
      <div class="row ml-0">
         <div class="card card-body col-sm-8 detalle sombra">
            <form [formGroup]="formConvenio">
               <div class="row">
<!--                   <div *ngIf="_modulos" class="form-group col-sm-6 mb-0">
                     <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Sección<sup class="green">*</sup></label>
                        </div>
                        <select class="custom-select" formControlName="seccion" (change)="obtenerSeccion($event)">
                           <option *ngFor="let modulo of _modulos" value={{+modulo.idmodulo!}}>
                              {{ modulo.descripcion }}
                           </option>
                        </select>
                     </div>
                  </div> -->

                  <div class="form-group col-md-5 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Número de
                              Convenio<sup class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control text-center" formControlName="nroconvenio"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" [ngClass]="{'is-invalid': f['nroconvenio'].invalid && f['nroconvenio'].touched,
                           'is-valid': f['nroconvenio'].valid, '': f['nroconvenio'].untouched}">
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Referencia<sup
                                 class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control text-center" formControlName="referencia"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" [ngClass]="{'is-invalid': f['referencia'].invalid && f['referencia'].touched,
                           'is-valid': f['referencia'].valid, '': f['referencia'].untouched}">
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Autorización<sup
                                 class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control text-center" formControlName="nroautorizacion"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" [ngClass]="{'is-invalid': f['nroautorizacion'].invalid && f['nroautorizacion'].touched,
                           'is-valid': f['nroautorizacion'].valid, '': f['nroautorizacion'].untouched}">
                     </div>
                  </div>

                  <div class="form-group col-md-12 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control text-center col-2" formControlName="idabonado"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" [ngClass]="{'is-invalid': f['idabonado'].invalid && f['idabonado'].touched,
                           'is-valid': f['idabonado'].valid, '': f['idabonado'].untouched}">
                        <div class="input-group-prepend">
                           <button type="button" class="btn btn-primary btn-sm" (click)="buscarFacxAbo()">
                              <i *ngIf="swbuscando" class="fa fa-spinner"></i>
                              <i *ngIf="!swbuscando" class="fa fa-search"></i> {{txtbuscar}}
                           </button>
                        </div>
                        <input type="text" aria-label="cedula" class="form-control col-2 text-center"
                           formControlName="cedula" readonly>
                        <input type="text" aria-label="nombre" class="form-control" formControlName="nombre" readonly>
                     </div>
                  </div>

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Cuota
                              inicial<sup class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control text-right" formControlName="cuotainicial"
                           (change)="changeCuotainicial()" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           [ngClass]="{'is-invalid': f['cuotainicial'].invalid && f['cuotainicial'].touched,
                           'is-valid': f['cuotainicial'].valid, '': f['cuotainicial'].untouched}" readonly>
                     </div>
                  </div>

                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Cuotas<sup
                                 class="green">*</sup></span>
                        </div>
                        <input type="number" class="form-control text-center" formControlName="cuotas" min="2" max="24"
                           (change)="changeCuotas()" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           [ngClass]="{'is-invalid': f['cuotas'].invalid && f['cuotas'].touched,
                           'is-valid': f['cuotas'].valid, '': f['cuotas'].untouched}">
                     </div>
                  </div>
                  <div class="form-group col-md-3 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <button type="button" class="btn btn-primary btn-sm" (click)="calcular()"
                              [disabled]="!swcalcular">
                              <i *ngIf="swcalculando" class="fa fa-spinner"></i>
                              <i *ngIf="!swcalculando" class="bi-calculator-fill"></i> {{txtcalcular}}
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="form-group col-md-5 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold"
                              id="inputGroup-sizing-sm">Pagos({{nropagos}})<sup class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control text-right" formControlName="pagomensual"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly>
                        <input type="text" aria-label="totalpago" class="form-control text-right font-weight-bold"
                           formControlName="totalpago" readonly>
                     </div>
                  </div>

                  <div class="form-group col-md-4 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Cuota final<sup
                                 class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control text-right" formControlName="cuotafinal"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm" [ngClass]="{'is-invalid': f['cuotafinal'].invalid && f['cuotafinal'].touched,
                           'is-valid': f['cuotafinal'].valid, '': f['cuotafinal'].untouched}" readonly>
                     </div>
                  </div>

                  <div class="form-group col-md-12 my-0 py-0">
                     <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold"
                              id="inputGroup-sizing-sm">Observaciones</span>
                        </div>
                        <textarea type="text" class="form-control" formControlName="observaciones" rows="2"
                           aria-label="Small" aria-describedby="inputGroup-sizing-sm"></textarea>
                     </div>
                  </div>

               </div>
            </form>
            <div class="mt-0 mb-0 text-center">
               <button class="btn btn-success btn-sm mx-1" (click)="guardar()"
                  [disabled]="!formConvenio.valid || swcalculando">
                  <i class="fa fa-check-circle"></i> Aceptar</button>
               <button class="btn btn-outline-success btn-sm mx-1" (click)="regresar()"><i
                     class="fa fa-times-circle"></i> Cancelar</button>
            </div>

         </div>
         <div *ngIf="_sincobro" class="col-md-4">
            <table class="table table-hover table-bordered table-sm sombra">
               <thead class="cabecera">
                  <tr>
                     <th colspan="2" class="text-center">Planillas pendientes</th>
                     <th class="text-right">TOTAL&nbsp; </th>
                     <th class="text-right">{{total | number: '.2-2'}}</th>
                  </tr>
                  <tr class="text-center">
                     <th></th>
                     <th>Nro.</th>
                     <th>Fecha</th>
                     <th class="text-right">Valor</th>
                  </tr>
               </thead>
               <tbody class="detalle">
                  <tr *ngFor="let sincobro of _sincobro; let i = index">
                     <td class="text-center font-weight-bold small">{{ i+1 }}</td>
                     <td class="text-center">{{ sincobro.idfactura }}</td>
                     <td class="text-center">{{ sincobro.feccrea }}</td>
                     <td class="text-right">{{ sumComercializacion(sincobro)| number: '.2-2'}}</td>
                  </tr>
<!--                   <tr>
                     <td colspan="4">
                        <button class="btn btn-xs btn-outline-primary text-right" data-toggle="modal"
                           data-target="#addModulo">Agregar</button>
                     </td>
                  </tr> -->
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<!-- MODAL AÑADIR  -->
<div class="modal fade" id="addModulo" data-backdrop="static" data-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addModuloLabel">Añadir</h5>
         </div>
         <div class="modal-body">
            <form action="" [formGroup]="f_nuevosValores">
               <div *ngIf="_modulos" class="form-group col-sm-10 mb-0">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <label class="input-group-text">Sección<sup class="green">*</sup></label>
                     </div>
                     <select class="custom-select" formControlName="seccion" (change)="obtenerSeccion($event)">
                        <option *ngFor="let modulo of _modulos" value={{+modulo.idmodulo!}}>
                           {{ modulo.descripcion }}
                        </option>
                     </select>
                  </div>
               </div>

            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-xs btn-outline-success" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-xs btn-success" data-dismiss="modal"
               (click)="addValores()">Aceptar</button>
         </div>
      </div>
   </div>
</div>