<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 px-0 py-1 justify-content-start cabecera border">
         <div class="col-sm-2 mt-1">
            <h4 class="m-0 font-weight-bold text-truncate"> <i class="bi-bootstrap-reboot"></i> &nbsp;Reformas</h4>
         </div>
         <div class="col-sm-5">
            <form [formGroup]="formBuscar" (ngSubmit)="buscar()">
               <div class="row col-sm-12 mt-1 mb-0">
                  <div class="col-sm-4">
                     <input class="form-control form-control-sm text-center" id="desde" type="number" autofocus
                        formControlName="desde" placeholder="Desde">
                  </div>
                  <div class="col-sm-4">
                     <input class="form-control form-control-sm text-center" id="hasta" type="number"
                        formControlName="hasta" placeholder="Hasta">
                  </div>

                  <div class="col-sm-3">
                     <button class="btn btn-primary btn-sm" [disabled]="disabled"><i class="fa fa-search"></i>
                        Buscar</button>
                  </div>

               </div>
            </form>
         </div>
         <div class="col-sm-2">
            <input class="form-control form-control-sm text-center" type="text" placeholder="Filtrar..."
               [(ngModel)]="filtro" />
         </div>

         <div class="btn-group ml-auto mt-0">
            <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right"
               data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right bg-dark roboto ">
               <button class="dropdown-item" type="button" (click)="addReforma()">
                  <i class="bi-file-earmark-plus"></i>&nbsp; Nuevo</button>
               <button class="dropdown-item" type="button" data-toggle="modal" data-target="#pdf">
                  <i class="bi bi-printer"></i>&nbsp; Imprimir</button>
               <button class="dropdown-item text-muted" type="button" disabled><i
                     class="bi-file-earmark-arrow-up text-muted"></i>
                  <span class="text-muted">&nbsp;
                     Importar</span></button>
               <button class="dropdown-item text-muted" type="button" disabled><i
                     class="bi-file-earmark-arrow-down text-muted"></i>
                  <span class="text-muted">&nbsp;
                     Exportar</span></button>
            </div>
         </div>

      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-sm-12">
         <table class="table table-hover table-bordered table-sm">
            <thead class="text-center">
               <tr class="text-center">
                  <th>Nro.</th>
                  <th>Fecha</th>
                  <th>T</th>
                  <th>Documento</th>
                  <th>Valor</th>
                  <th>Concepto</th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let reforma of _reformas | filter: filtro; let i=index" class="fila"
                  (click)="onCellClick($event, reforma)">
                  <td id="numero" class="text-center">{{ reforma.numero}}</td>
                  <td id="fecha" class="text-right col-md-1">{{ reforma.fecha | date: 'dd-MM-y' }}</td>
                  <td>{{ reforma.tipo}}</td>
                  <td class="col-md-2">{{ reforma.iddocumento.nomdoc +' '+ reforma.numdoc }}</td>
                  <td class="text-right col-md-1">{{reforma.valor | number:'1.2-2'}}</td>
                  <td>{{ reforma.concepto }}</td>
                  <td class="text-center" id="popup">
                     <div class="btn-group py-0">
                        <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0" data-toggle="dropdown"
                           aria-expanded="false" (click)="onCellClick1(reforma)">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right popLista">
                           <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modificar"
                              (click)="modiReforma(reforma)">
                              <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                           <button class="dropdown-item" [disabled]="elimdisabled" data-toggle="modal"
                              data-target="#modalEliminar">
                              <i class="fa fa-times-circle"></i>&nbsp; Eliminar
                           </button>
                        </div>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="col-md-8 mt-1">
         <div class="collapse sombra" id="nuevaReforma">
            <div class="card card-body pt-0 pb-1 px-0 fondoReformas">
               <h5 class="font-weight-bold py-1 text-center titReformas">Nueva Reforma</h5>
               <!-- <app-add-reforma></app-add-reforma> -->
            </div>
         </div>
      </div>
   </div>

   <!-- Modal Eliminar-->
   <div class='modal fade' id='modalEliminar' tabindex='-1' aria-labelledby='modalEliminar' aria-hidden='true'>
      <div class='modal-dialog modal-dialog-centered'>
         <div class='modal-content'>
            <div class='modal-header'>
               <h5 class='modal-title font-weight-bold' id='ModalLabel'>Mensaje</h5>
            </div>
            <div class='modal-body'>
               <div class="alert alert-warning text-center" role="alert">
                  ¿ Eliminar la Reforma Nro: <span class="fantacysombra">{{ idrefo}} </span>?
               </div>
            </div>
            <div class='modal-footer' id='idButtons'>
               <button type='button' class='btn btn-success btn-sm' data-dismiss='modal'
                  (click)="eliminarReforma(idrefo)" id='btnSi'>
                  <i class="fa fa-check-circle"></i> Aceptar
               </button>
               <button type='button' class='btn btn-outline-success btn-sm' data-dismiss='modal'>
                  <i class="fa fa-times-circle" style="font-size:24pxi"></i> Cancelar</button>
            </div>
         </div>
      </div>
   </div>
</div>