.cabecera {
   background-color: var(--bgcolor1);
   color: white;
}
.nuevoBG1 { background-color: var(--bgcolor1); }

.detalle { background-color: var(--bgcolor2); }
.nuevoBG2 { background-color: var(--bgcolor2); }

/* .fila:hover {
   background-color: #117a8B;
   color: white;
   cursor: pointer;
} */

/* === Buscar Clientes === */
.clientecabecera { background-color: olive;}
.clientedetalle { background-color: khaki;} 
.clientecabecera th {
   background-color: olive;
   color: white;
}
/* .clientedetalle tbody tr:hover {
   background-color: #117a8B;
   color: white;
   cursor: pointer;
}  */