<!-- Content Header (Page header) -->
<div class="content pt-1 pl-3">
   <div class="container-fluid">
      <div class="row mt-0 mb-2">
         <h4 class="m-0 font-weight-bold">Modificar Tarifa</h4>
      </div>
   </div><!-- /.container-fluid -->
</div>
<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-sm">
         <form [formGroup]="precioxcatForm">
            <div class="row">
               <div class="form-group col-md-6 my-1 py-0">
                  <label class="col-sm-12 col-form-label-sm" for="idcategoria_categorias">Categoria
                     <select class="form-control form-control-sm" id="idcategoria_categorias"
                        formControlName="idcategoria_categorias" [compareWith]="compararCategorias">
                        <option [ngValue]="categoriaDatos" *ngFor="let categoriaDatos of categoria">
                           {{categoriaDatos.descripcion}}
                        </option>
                     </select>
                  </label>
               </div>
               <div class="form-group col-md-3 my-0 py-0">
                  <label for="m3" class="form-label form-label col-form-label-sm my-1 py-1 text-center">M<sup>3</sup>
                     <input type="number" class="form-control form-control-sm text-center" id="m3"
                        formControlName="m3" />
                  </label>
               </div>
               <div class="form-group col-md-4 ml-2 my-0 py-0">
                  <label for="preciobase" class="form-label form-label col-form-label-sm my-1 py-1 text-center">Precio
                     Base
                     <input type="number" class="form-control form-control-sm text-center" id="preciobase"
                        formControlName="preciobase" />
                  </label>
               </div>
               <div class="form-group col-md-5 my-0 py-0">
                  <label for="precioadicional" class="form-label form-label col-form-label-sm my-1 py-1 text-center">Consumo Agua
                     <input type="number" class="form-control form-control-sm text-center" id="precioadicional"
                        formControlName="precioadicional" />
                  </label>
               </div>
            </div>
            <div class="mt-3 text-center">
               <button class="btn btn-sm btn-success mx-1" (click)="onSubmit()" type="button">
                  <i class="fa fa-check-circle"></i> Aceptar
               </button>
               <button class="btn btn-outline-success btn-sm btn-sm mx-1" data-toggle="collapse" data-target="#modiTarifa">
                  <i class="fa fa-times-circle" style="font-size:24pxi"></i> Cancelar
               </button>
            </div>
         </form>
      </div>
   </div>
</div>