.container-fluid {
  --bgcolor1: rgb(109, 110, 15);
  --bgcolor2: rgba(228, 224, 153);
  --bgCuentas1: rgb(148, 150, 63);
  --bgCuentas2: rgb(248, 241, 201);
  --bgFacelectro1: rgb(54, 59, 68);
  --bgFacelectro2: rgb(229, 236, 250);
  --bgPlanillas1: rgb(50, 88, 51);
  --bgPlanillas2: rgba(193, 224, 181);
}

.cliente {
  background-color: rgb(109, 110, 15);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.cardCliente {
  background-color: var(--bgcolor2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.cardCliente li {
  background-color: var(--bgcolor2);
}

.cardTab {
  background-color: var(--bgcolor1);
  color: white;
}

.sombra,
table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.fila:hover {
  background-color: #117a8b;
  color: white;
  cursor: pointer;
}

/* === Cuentas ===  */
.theadCuentas {
  background-color: var(--bgCuentas1);
  color: white;
}
.bodyCuentas {
  background-color: var(--bgCuentas2);
}

/* === Facturas Electrónicas === */
.theadFacelectro {
  background-color: var(--bgFacelectro1);
  color: white;
}
.bodyFacelectro {
  background-color: var(--bgFacelectro2);
}

/* === Planillas === */
.theadPlanillas {
  background-color: var(--bgPlanillas1);
  color: white;
}
.bodyPlanillas {
  background-color: var(--bgPlanillas2);
}
.buscarLimit {
  width: 35px;
  margin: 0px;
  padding: 0px;
}
