<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 px-0 py-1 justify-content-start cabecera sombra border">
         <div class="col-sm-3 mt-1">
            <h5 class="m-0 font-weight-bold text-truncate"> <i class="bi-book-half"></i> &nbsp; Plan de cuentas NIIF
            </h5>
         </div>
         <div class="col-sm-5">
            <div class="container-fluid">
               <form [formGroup]="formBuscar">
                  <div class="row">

                     <!-- <div class="col-sm-3">
                        <input type="text" placeholder="Código" class="form-control form-control-sm"
                           formControlName="codcue" />
                     </div>
                     <div class="col-sm-6">
                        <input type="text" placeholder="Nombre" class="form-control form-control-sm text-center"
                           formControlName="nomcue" />
                     </div> -->

                     <div class="input-group col-sm-9">
                        <input type="text" class="form-control form-control-sm col-sm-4" formControlName="codcue"
                           placeholder="Código" autofocus>
                        <input type="text" class="form-control form-control-sm text-center" formControlName="nomcue"
                           placeholder="Nombre">
                     </div>

                     <div class="col-sm-3">
                        <button class="btn btn-primary btn-sm" type="submit" (click)="buscar()">
                           <i *ngIf="swbuscando" class="fa fa-spinner"></i>
                           <i *ngIf="!swbuscando" class="fa fa-search"></i> {{txtbuscar}}
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div *ngIf="_cuentasNiif" class="col-sm-2">
            <input type="text" class="form-control mx-0 form-control-sm text-center" placeholder="Filtrar..."
               [(ngModel)]="filterTerm" />
         </div>

         <div class="btn-group ml-auto mt-0">
            <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right"
               data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right bg-dark roboto ">
               <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalunico"
                  (click)="(addNiifcuenta())">
                  <i class="bi-file-earmark-plus"></i>&nbsp; Nuevo</button>
               <button class="dropdown-item" type="button" (click)="imprimir()">
                  <i class="bi bi-printer"></i>&nbsp; Imprimir / Exportar</button>
            </div>
         </div>

      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-sm">
         <table *ngIf="_cuentasNiif" class="table table-hover table-bordered table-sm sombra">
            <thead class="text-center cabecera pad0">
               <tr>
                  <th class="">Código</th>
                  <th class="col-sm-5 ">Nombre</th>
                  <th class="">Grupo</th>
                  <th class="">Nivel</th>
                  <th class="">Movi.</th>
                  <th></th>
               </tr>
            </thead>
            <tbody class="detalle roboto small">
               <tr *ngFor="let cuentaniif of _cuentasNiif | filter:filterTerm; let i= index" class="fila pad0">
                  <td [ngClass]="{'font-weight-bold': cuentaniif.movcue==0}">{{ cuentaniif.codcue}}</td>
                  <td [ngClass]="{'font-weight-bold': cuentaniif.movcue==0}">{{ cuentaniif.nomcue }}</td>

                  <td [ngClass]="{'transparente': cuentaniif.grucue=='0', 'font-weight-bold': cuentaniif.movcue==0}">{{
                     cuentaniif.grucue }}</td>
                  <td [ngClass]="{'font-weight-bold': cuentaniif.movcue==0}" class="text-center">{{cuentaniif.nivcue }}
                  </td>
                  <td class="text-center">
                     <i class="bi-check" *ngIf="cuentaniif.movcue == 1"></i>
                  </td>

                  <td class="text-center">
                     <div class="btn-group py-0">
                        <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0" data-toggle="dropdown"
                           aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right popLista">
                           <button class="dropdown-item" type="button" (click)="getByIdNiifCue(cuentaniif)">
                              <i class="bi-back"></i>&nbsp; Homologación</button>
                           <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalunico"
                              (click)="modificar(cuentaniif)">
                              <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                           <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalunico">
                              <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                        </div>
                     </div>
                  </td>

               </tr>
            </tbody>
         </table>
      </div>

      <div class="col-sm-4" *ngIf="listaNef">

         <div class="card">
            <div class="card-header">
               <h3 class="card-title">Lista de cuentas MEF</h3>
               <div class="btn-group ml-auto mx-0">
                  <button type="button" class="bg-light border-0 dropdown-toggle text-white" data-toggle="dropdown"
                     aria-expanded="false">
                     <i class="bi-menu-button-wide text-white"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right bg-light roboto">
                     <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalunico"
                        (click)="(act_homologa())">
                        <i class="bi bi-printer"></i>&nbsp; Nuevo
                     </button>
                  </div>
               </div>
               <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                     <i class="fas fa-minus"></i>
                  </button>
               </div>
            </div>
            <div class="card-body p-0">
               <table class="table table-hover table-bordered table-sm table-striped">
                  <thead>
                     <tr class="bg-warning text-center">
                        <th>Cuenta MEF</th>
                        <th>Denominación</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let homologacionNiif of homologacionesNiif"
                        (click)="optHomolofaciones(homologacionNiif)" data-toggle="modal" data-target="#addplancuentas">
                        <td>{{homologacionNiif.codcue}} </td>
                        <td>{{homologacionNiif.idcuenta.nomcue}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>

   <!-- Modal modalunico -->
   <div class="modal fade" id="modalunico" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="add-plan-cuentasLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
         <div class="modal-content">
            <div class='modal-header cabecera justify-content-center'>
               <h5 *ngIf="hab_addPlanCuentas" class='modal-title font-weight-bold' id='ModalLabel'>Nueva cuenta NIIF</h5>
               <h5 *ngIf="hab_modPlanCuentas" class='modal-title font-weight-bold' id='ModalLabel'>Modificar cuenta NIIF</h5>
            </div>
      
            <div class="modal-body detalle">
               <app-add-niifcuenta *ngIf="hab_addPlanCuentas" [niifcuenta]="niifcuenta"
                  (cancelarEvent)="des_addPlanCuentas($event)"></app-add-niifcuenta>
               <app-modi-niifcuenta *ngIf="hab_modPlanCuentas" [niifcuenta]="niifcuenta"
                  (cancelarEvent)="des_addPlanCuentas($event)"></app-modi-niifcuenta>
               <app-add-homologa *ngIf="hab_homologa" [niifcuenta]="niifcuenta"
                  (cancelarEvent)="des_homologa($event)"></app-add-homologa>
               <div class="container" *ngIf="deleteBox">
                  <div class="row">
                     <div class="col-sm">
                        <div class="alert alert-danger" role="alert">
                           Desea borrar homologación?
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm text-center">
                        <button class="btn btn-xs btn-success mx-3" data-dismiss="modal"
                           (click)="cancelar()">Cancelar</button>
                        <button class="btn btn-xs btn-outline-success" data-dismiss="modal"
                           (click)="deleteHomologa()">Aceptar</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>