<div class="content mt-1 pt-1 pl-0">
    <div class="container-fluid">
        <div class="row m-0 px-0 py-1 justify-content-start cabecera border sombra">
            <div class="col-sm-3">
                <h4 class="m-0 font-weight-bold"><i class="fa fa-list" aria-hidden="true"></i> Nuevo contrato de
                    remisión </h4>
            </div>
            <div class="col-sm-5">
                <form [formGroup]="f_buscar">
                    <div class="row col-sm-12 mt-0 mb-0">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-5">
                                    <input type="text" placeholder="Cuenta" class="form-control form-control-sm"
                                        autofocus id="nombreIdentifi" formControlName="cuenta" required />
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary btn-sm" (click)="getFacturasByCuenta()"><i
                                            class="fa fa-search"></i>
                                        Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2 px-0">
                <input type="text" class="form-control form-control-sm text-center" placeholder="Filtrar..."
                    [(ngModel)]="filtro" />
            </div>

            <div class="btn-group ml-auto mt-0">
                <a [routerLink]="['/remision']" class="bg-transparent mr-1 text-white"> <i
                        class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-sm">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Datos personales</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td>Cuenta: {{_abonado.idabonado}} </td>
                                <td>Nombre: {{_cliente.nombre}}</td>
                                <td>Identificación: {{_cliente.cedula}}</td>
                            </tr>
                            <tr>
                                <td>Dirección: {{_abonado.direccionubicacion}}</td>
                                <td>Categoría: {{_categoria.descripcion}}</td>
                                <td>Ruta: {{_ruta.descripcion}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Documento:
                                </td>
                                <td class="" colspan="2">
                                    Detalle:
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm">
                            <table class="table table-sm table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Subtotal: {{subtotal.toFixed(2)}}</td>
                                        <td>Intereses: {{intereses.toFixed(2)}}</td>
                                        <td>Total: {{total.toFixed(2)}}</td>
                                        <td class="text-center">
                                            <button class="btn btn-xs btn-outline-primary" data-toggle="modal"
                                                data-target="#modalSimular" (click)="modal('rubros')">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm text-right">
                            <button class="btn btn-success mr-3 btn-sm" [routerLink]="['/remision']">Cancelar</button>
                            <button class="btn btn-outline-success btn-sm mr-3" data-toggle="modal"
                                data-target="#modalSimular" (click)="modal('simular')">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-0">
        <div class="col-sm">
            <table class="table table-hover table-bordered table-sm sombra">
                <thead class="cabecera text-center">
                    <tr>
                        <th></th>
                        <th>Planilla</th>
                        <th>Módulo</th>
                        <th>Fecha</th>
                        <th>Valor</th>
                        <th>Interes</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr *ngFor="let factura of _facturas |filter:filtro; let i = index">
                        <td class="small text-center font-weight-bold">{{i+1}}</td>
                        <td>{{factura.idfactura}}</td>
                        <td class="">{{factura.descripcion}}</td>
                        <td class="text-center">{{factura.feccrea}}</td>
                        <td class="text-right">{{factura.total.toFixed(2)}} $</td>
                        <td class="text-right">{{factura.intereses.toFixed(2)}} $</td>
                        <td class="text-right">{{suma(factura.total,factura.intereses)}} $</td>
                        <td class="text-center">
                            <div class="btn-group py-0">
                                <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0"
                                    data-toggle="dropdown" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right popLista">
                                    <button class="dropdown-item" type="button">
                                        <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                                    <button class="dropdown-item" type="button" data-toggle="modal"
                                        data-target="#modalEliminar">
                                        <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- MODAL Imprimir-->
    <div class="modal fade" id="imprimir" tabindex="-1" aria-labelledby="imprimirLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class='modal-header py-2 justify-content-center cabecera'>
                    <h5 class='modal-title font-weight-bold' id='ModalLabel'>Imprimir</h5>
                </div>
                <div class='modal-body'>

                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Reporte</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Lista de Clientes actual</option>
                            <option class="Roboto">Últimos Clientes ingresados</option>
                        </select>
                    </div>

                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <small class="input-group-text">Abrir en otra página</small>
                            <div class="input-group-text">
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>

                <div class='modal-footer justify-content-center'>
                    <button type='button' class='btn btn-success btn-sm mx-1' data-dismiss='modal' data-toggle="modal">
                        <i class="fa fa-check-circle"></i>&nbsp; Aceptar</button>
                    <button type='button' class='btn btn-sm btn-outline-success' data-dismiss='modal'>
                        <i class="bi bi-x-circle"></i> Cancelar</button>
                </div>

            </div>
        </div>
    </div>



</div>

<!-- Modal -->
<div class="modal fade" id="modalSimular" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="modalSimularLabel" aria-hidden="true">
    <div class="modal-dialog modal-{{tableSize}}">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="modalSimularLabel">{{modalTitle}}</h5>
            </div>
            <div class="modal-body">
                <div class="container" [ngSwitch]="swdmodal">
                    <ng-template [ngSwitchCase]="'simular'">
                        <form [formGroup]="f_simular">
                            <table class="table table-sm table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm flex-nowrap">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="addon-wrapping">SubTotal</span>
                                                </div>
                                                <label type="number" min=1 class="form-control" aria-label="Cuota"
                                                    aria-describedby="addon-wrapping">{{subtotal.toFixed(2)}} $</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group input-group-sm flex-nowrap">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="addon-wrapping">Intereses</span>
                                                </div>
                                                <label type="number" min=1 class="form-control" aria-label="Cuota"
                                                    aria-describedby="addon-wrapping">{{intereses.toFixed(2)}} $</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group input-group-sm flex-nowrap">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="addon-wrapping">Total</span>
                                                </div>
                                                <label type="number" min=1 class="form-control" aria-label="Cuota"
                                                    aria-describedby="addon-wrapping">{{total.toFixed(2)}} $</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm flex-nowrap"
                                                *ngIf="f_simular.value.cuotas>1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="addon-wrapping">%</span>
                                                </div>
                                                <input type="number" readonly min=20 formControlName="porcentaje"
                                                    class="form-control" placeholder="minimo 20%" aria-label="Cuota"
                                                    aria-describedby="addon-wrapping">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group input-group-sm flex-nowrap">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="addon-wrapping">Cuotas</span>
                                                </div>
                                                <input type="number" min=1 max=12 (change)="changeCuota($event)"
                                                    class="form-control" placeholder="max 12" aria-label="Cuota"
                                                    formControlName="cuotas" aria-describedby="addon-wrapping">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm flex-nowrap"
                                                *ngIf="f_simular.value.cuotas>1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="addon-wrapping">C. Inicial</span>
                                                </div>
                                                <input type="number" min=1 class="form-control" readonly
                                                    formControlName="inicial" placeholder="cuota inicial"
                                                    aria-label="Cuota" aria-describedby="addon-wrapping">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group input-group-sm flex-nowrap">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                        id="addon-wrapping">Valor({{f_simular.value.cuotas-1}})</span>
                                                </div>
                                                <input type="number" min=1 class="form-control" readonly
                                                    formControlName="mensual" placeholder="valor mensual"
                                                    aria-label="Cuota" aria-describedby="addon-wrapping">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group input-group-sm flex-nowrap"
                                                *ngIf="f_simular.value.cuotas>1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="addon-wrapping">C. Final</span>
                                                </div>
                                                <input type="number" min=1 class="form-control" readonly
                                                    formControlName="final" placeholder="cuota final" aria-label="Cuota"
                                                    aria-describedby="addon-wrapping">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm flex-nowrap">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="addon-wrapping">Documento</span>
                                                </div>
                                                <select type="number" min=1 class="custom-select" readonly
                                                    formControlName="documento" placeholder="cuota final"
                                                    aria-label="Cuota" aria-describedby="addon-wrapping">
                                                    <option [ngValue]="documento" *ngFor="let documento of _documentos">
                                                        {{documento.nomdoc}}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="input-group input-group-sm flex-nowrap">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="addon-wrapping">Documento</span>
                                                </div>
                                                <input type="text" class="form-control" formControlName="referencia"
                                                    placeholder="Referencia del documento" aria-label="Cuota"
                                                    aria-describedby="addon-wrapping">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'rubros'">
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Descripción</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rubro of _rubros; let i = index">
                                    <td class="text-center">{{i+1}}</td>
                                    <td>{{rubro.descripcion}}</td>
                                    <td class="text-right">{{rubro.sum}} $</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    <th class="text-right">{{totalrubros.toFixed(2)}} $</th>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-sm btn-outline-success"
                    (click)="aprobarRemision()" data-dismiss="modal" *ngIf="swdisable">Aceptar</button>
            </div>
        </div>
    </div>
</div>