<div class="content">
   <div class="container-fluid">
      <div class="row justify-content-center">
         <div class="col-sm-5 mt-5">
            <h4 class="font-weight-bold text-center cabecera sombra border roboto py-3">Generar Emisión</h4>
            <div class="card sombra">
               <div class="card-body text-center detalle roboto">
                  <h5 class="text-center">Emisión: <span class="font-weight-bold">{{ emision | nombreEmision}}</span>
                  </h5>
                  <p>Total de Rutas: <span class="font-weight-bold"> {{ totalrutas }} </span></p>
                  <small class="card-text">Se generarán los Abonados de cada Ruta, para cargar las Lecturas</small>
                  <div class="mt-3 mb-0 text-center">
                     <button type="button" class="btn btn-success btn-sm mx-1 mb-0" (click)="generar()">
                        <i class="fa fa-check-circle"></i> Aceptar</button>
                     <button class="btn btn-outline-success btn-sm mx-1 btn-sm mb-0" (click)="regresar()"
                        [disabled]="swgenerando">
                        <i class="fa fa-times-circle"></i> Cancelar</button>
                  </div>
                  <div *ngIf="swgenerando" class="mt-2 progress">
                     <div class="progress-bar" [ngStyle]="{ 'width.%': progreso }">{{ progreso / 100 | percent:'1.2-2'}}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>