.cabecera {
   background-color: var(--bgcolor1);
   color: white;
}
.nuevoBG1 { background-color: var(--bgcolor1); }

.detalle { background-color: var(--bgcolor2); }
.nuevoBG2 { background-color: var(--bgcolor2); }

.fila:hover {
   background-color: #117a8B;
   color: white;
   cursor: pointer;
}

.transferido{
   background-color: #dcdfb5;
}
.numeracion{
   bottom: 0;
   height: 100px;
   padding: 13px 0 4px;
   position: fixed;
   width: 100%;
   z-index: 5000;
}