<div class="content mt-1 pt-1 pl-0">
    <div class="container-fluid">
        <div class="row m-0 px-0 pt-1 justify-content-start border cabecera sombra">
            <div class="col-sm-4">
                <h4 class="font-weight-bold"><i class="fa fa-calendar"></i> Anulaciones & bajas</h4>
            </div>
            <div class="btn-group ml-auto mt-0">
                <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right"
                    data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
                    <button class="dropdown-item" type="button" data-toggle="modal"
                        (click)="getFragmentToShow('formNew')" data-target="#newAnulBajas">
                        <i class="bi-file-earmark-plus"></i>&nbsp; Nuevo</button>
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#impReporte">
                        <i class="bi bi-printer"></i>&nbsp; Imprimir / Exportar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mb-0">
        <div class="col-sm">
            <div class="card mt-1">
                <div class="card-header cardTab">
                    <ul class="nav nav-tabs card-header-tabs cardTab">
                        <li class="nav-item"><a class="nav-link active cardTab" href="#anuladas" data-toggle="tab">
                                <i class="bi bi-file-earmark-minus"></i> Fac.Anuladas</a></li>
                        <li class="nav-item"><a class="nav-link cardTab" href="#eliminadas" data-toggle="tab">
                                <i class="bi bi-file-earmark-x"></i> Fac.Eliminadas</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="anuladas">
                            <div class="post">
                                <div class="user-block mb-0">
                                    <div>
                                        <div class="row justify-content-center" hidden>
                                            <div class="callout callout-warning col-sm-6 text-center">
                                                <div class="alert alert-warning">
                                                    <h5><i class="fas fa-info"></i> <strong> Mensaje</strong></h5>
                                                    No tiene Cuentas !
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-hover table-sm table-bordered mb-0">
                                        <thead class="theadCuentas">
                                            <tr class="text-center">
                                                <th>Planilla</th>
                                                <th>Fecha anulación</th>
                                                <th>Nro.Factura</th>
                                                <th>Cliente</th>
                                                <th>Módulo</th>
                                                <th>Cuenta</th>
                                                <th>Razón A.</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bodyCuentas">
                                            <tr *ngFor="let fanuladas of _fAnuladas" class="fila">
                                                <td class="text-center">{{fanuladas.idfactura}} </td>
                                                <td class="text-center _description">{{fanuladas.fechaanulacion}}</td>
                                                <td class="text-left _description">{{fanuladas.nrofactura}}</td>
                                                <td class="_description">{{fanuladas.idcliente.nombre}}</td>
                                                <td class="text-left _description">{{fanuladas.idmodulo.descripcion}}
                                                </td>
                                                <td class="text-left _description">{{fanuladas.idabonado}} </td>
                                                <td class="_description">{{fanuladas.razonanulacion}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="eliminadas">
                            <div class="post">
                                <div class="user-block mb-0">
                                    <div>
                                        <div class="row justify-content-center" hidden>
                                            <div class="callout callout-info col-sm-6 text-center">
                                                <div class="alert alert-info">
                                                    <h5><i class="fas fa-info"></i> <strong> Mensaje</strong></h5>
                                                    No tiene Facturas !
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-hover table-sm table-bordered mb-0">
                                        <thead class="theadFacelectro">
                                            <tr class="text-center">
                                                <th>Planilla</th>
                                                <th>Fecha Eliminación</th>
                                                <th class="col-sm-5">Cliente</th>
                                                <th class="col-sm-2">Razón E.</th>
                                                <th>Módulo</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bodyFacelectro">
                                            <!-- OJO: Debe ir al PDF de la FacElectro -->
                                            <tr *ngFor="let faceliminada of _fEliminadas" class="fila">
                                                <td class="text-center">{{faceliminada.idfactura}}</td>
                                                <td class="text-center">{{faceliminada.fechaeliminacion}}</td>
                                                <td class="_description">{{faceliminada.idcliente.nombre}}</td>
                                                <td class="_description">{{faceliminada.razoneliminacion}}</td>
                                                <td class="_description">{{faceliminada.idmodulo.descripcion}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal DetalleFactura -->
    <div class="modal fade" id="DetalleFacturaModal" tabindex="-1" aria-labelledby="DetalleFacturaModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DetalleFacturaModalLabel"><strong>Planilla:</strong> {{idfactura}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-sm table-bordered">
                        <thead class="bg-primary">
                            <tr class="text-center">
                                <th></th>
                                <th class="col-md-6">Rubro</th>
                                <!-- <th>Cant</th> -->
                                <th>Valor</th>
                                <!-- <th>Subtotal</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rubroxfac of _rubrosxfac; let i=index">
                                <td class="text-center font-weight-bold small">{{i+1}}</td>
                                <td>{{ rubroxfac.idrubro_rubros.descripcion}}</td>
                                <!-- <td class="text-center">{{ rubroxfac.cantidad}}</td> -->
                                <td class="text-right">{{ rubroxfac.valorunitario | number:'1.2-2'}}</td>
                                <!-- <td class="text-right">{{ rubroxfac.cantidad * rubroxfac.valorunitario | number:'1.2-2'}}</td> -->
                            </tr>
                            <tr>
                                <td></td>
                                <td class="font-weight-bold">Total</td>
                                <td class="font-weight-bold text-right">{{ totfac | number:'1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal">
                        <i class="fa fa-times-circle"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal imprimir reporte -->
    <div class="modal fade" id="impReporte" tabindex="-1" aria-labelledby="impReporte" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="impReporteLabel"><strong>Imprimir</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm">
                            <form [formGroup]="f_reportes">
                                <label> Seleccionar opción</label>
                                <select type="text" class="form-control form-control-sm" formControlName="opt">
                                    <option value="0">Anulaciones</option>
                                    <option value="1">Eliminaciones</option>
                                </select>
                                <div class="row">
                                    <div class="col-sm-6"><label for="">Desde: </label><input type="date"
                                            formControlName="desde" id="" class="form-control form-control-sm"></div>
                                    <div class="col-sm-6"><label for="">Hasta: </label><input type="date"
                                            formControlName="hasta" id="" class="form-control form-control-sm"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                        <i class="fa fa-times-circle"></i> Cerrar</button>
                    <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
                        data-target="#impViewer" (click)="reporte()">
                        <i class="fa fa-times-circle"></i> Aceptar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal vista imprimir -->
    <div class="modal fade" id="impViewer" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Vista de reporte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe id="pdfViewer" src="" width="100%" height="600px"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" id="newAnulBajas" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="newAnulBajasLabel" aria-hidden="true">
        <div class="modal-dialog modal-{{size}} modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newAnulBajasLabel">{{txttitulo}}</h5>
                    <button type="button" (click)="getFragmentToShow('formNew')" class="btn btn-xs btn-outline-success">
                        <i class="bi bi-arrow-return-left"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <ng-container
                        *ngTemplateOutlet="selectedFragment ==='formNew'?formNew:selectedFragment === 'cliente'?cliente:selectedFragment ==='abonado'?abonado:facturas"></ng-container>

                    <ng-template #formNew>
                        <div class="row">
                            <div class="col-sm">
                                <div class="card card-outline cardCliente">
                                    <div class="card-body box-profile">
                                        <!--  <h3 class="profile-username text-center"> Nueva {{txttitulo}}</h3> -->
                                        <select class="from-control form-control-sm col-sm-12" [(ngModel)]="option"
                                            (change)="changeTitulo($event)">
                                            <option value=0>Anulación</option>
                                            <option value=1>Eliminación</option>
                                        </select>
                                        <hr>
                                        <div class="text-center">
                                            <form [formGroup]="formBuscar">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <input class="form-control form-control-sm text-center"
                                                                    type="text" placeholder="Planilla"
                                                                    formControlName="idfactura"
                                                                    (change)="changeIdfactura()">
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <input class="form-control form-control-sm text-center"
                                                                    type="text" placeholder="Abonado"
                                                                    formControlName="idabonado"
                                                                    (change)="changeIdabonado()">
                                                            </div>
                                                            <div class="col-sm-2">

                                                                <button class="btn btn-primary btn-sm" type="button"
                                                                    data-toggle="modal" data-target="#_anulelimModal"
                                                                    (click)="buscar()" [disabled]="campo === 0">
                                                                    <i *ngIf="swbuscando" class="fa fa-spinner"></i>
                                                                    <i *ngIf="!swbuscando" class="fa fa-search"></i>
                                                                </button>
                                                            </div>
                                                            <div *ngIf="swbusca" class="col-sm-2 px-2">
                                                                <input class="form-control form-control-sm text-center"
                                                                    type="text" placeholder="Filtrar..."
                                                                    [(ngModel)]="filtro"
                                                                    [ngModelOptions]="{standalone: true}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-sm">
                                                        <input type="text" class="form-control form-control-sm"
                                                            value={{_cliente.nombre}} readonly>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-success btn-sm" data-toggle="modal"
                                                            data-target="#_bClienteModal"
                                                            (click)="getFragmentToShow('cliente')"><i
                                                                class="bi bi-people-fill"></i> </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="card card-outline cardCliente">
                                    <div class="card-body box-profile">
                                        <h6 class="profile-username text-center"> Factura {{textodato}}</h6>
                                        <hr>
                                        <div class="text-center">
                                            <form [formGroup]="f_factura">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm" *ngIf="swtitulo">
                                                                <textarea
                                                                    class="form-control form-control-sm text-center"
                                                                    type="text" placeholder="Razon anulación"
                                                                    formControlName="razonanulacion"> </textarea>
                                                            </div>
                                                            <div class="col-sm" *ngIf="!swtitulo">
                                                                <textarea
                                                                    class="form-control form-control-sm text-center"
                                                                    type="text" placeholder="Razon eliminación"
                                                                    formControlName="razoneliminacion"> </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-sm">
                                                        <button class="btn btn-outline-success btn-sm" data-dismiss="modal" type="button"
                                                            (click)="actualizar()"
                                                            [disabled]="campo === 0 || textodato == ''"
                                                            data-dismiss="modal">Aceptar
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #cliente>
                        <app-buscar-cliente (setCliente)="setCliente($event)"></app-buscar-cliente>
                    </ng-template>
                    <ng-template #abonado>
                        <h3>Hola desde abonados</h3>
                    </ng-template>
                    <ng-template #facturas>
                        <input type="text" class="form-control form-control-sm col-sm-3" [(ngModel)]="mfiltrar"
                            placeholder="Filtrar...">
                        <hr>
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Planilla</th>
                                    <th>Cliente</th>
                                    <th>Módulo</th>
                                    <th>Cuenta</th>
                                    <th>Nro. Factura</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let factura of _facturas | filter:mfiltrar" (click)="setFactura(factura)"
                                    data-dismiss="modal">
                                    <td>{{factura.idfactura}}</td>
                                    <td class="_description">{{factura.idcliente.nombre}}</td>
                                    <td>{{factura.idmodulo.descripcion}}</td>
                                    <td>{{factura.idabonado}}</td>
                                    <td>{{factura.nrofactura}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>