.truncate-text,
.description {
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icoRegresar {
  font-style: normal;
}

.sortable {
  cursor: pointer;
  user-select: none;
}

.sortable i {
  margin-left: 4px;
}
