<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 px-0 py-1 justify-content-start sombra cabecera border">
         <div class="col-sm-12">
            <div class="row p-0">
               <div class="input-group input-group-sm col-sm-2 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <label class="input-group-text" id="inputGroup-sizing-sm">Trámite</label>
                  </div>
                  <input type="text" class="form-control text-center" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iTramite.numero" readonly tabindex="-1">

                  <div class="dropdown input-group-apppend">
                     <button type="button" class="btn btn-xs dropdown-toggle btn-info pb-2" data-toggle="dropdown"
                        (click)="actual()" aria-expanded="false" [disabled]="swmodificar">
                     </button>
                     <div class="dropdown-menu dropdown-menu-left border roboto sombra bg-info py-0"
                        (click)="$event.stopPropagation()">
                        <div class="p-1 text-center text-white">
                           <!-- Barra de navegación -->
                           <div class="btn-group btn-group-sm" role="group">
                              <button class="btn btn-info" (click)="irPrimero()">⏮</button>
                              <button class="btn btn-info" (click)="retroceder()">◀</button>
                              <input #nav type="number"
                                 class="form-control form-control-sm text-center nav-input nav-input-wide"
                                 [(ngModel)]="navegador" [ngModelOptions]="{standalone: true}"
                                 (keyup.enter)="irA(navegador)" (change)="irA(navegador)" min="1">
                              <button class="btn btn-info" (click)="avanzar()">▶</button>
                              <button class="btn btn-info" (click)="irUltimo()">⏭</button>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
               <div class="input-group input-group-sm col-sm-2 mb-1 mr-0 ">
                  <div class="input-group-prepend">
                     <label class="input-group-text" id="inputGroup-sizing-sm">Fecha</label>
                  </div>
                  <input type="date" class="form-control text-center" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iTramite.fecha" readonly>
               </div>
               <div class="input-group input-group-sm col-sm-3 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <label class="input-group-text" id="inputGroup-sizing-sm">Doc</label>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iTramite.docu" readonly>
               </div>
               <div class="input-group input-group-sm col-sm-5 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <label class="input-group-text" id="inputGroup-sizing-sm">Beneficiario</label>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iTramite.beneficiario" readonly tabindex="-1">
                  <div class="btn-group ml-auto mt-0 px-0">
                     <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right"
                        data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
                     </button>

                     <div class="dropdown-menu dropdown-menu-right bg-dark roboto px-0">
                        <button class="dropdown-item" type="button" [disabled]="swmodificar" (click)="nuevo()">
                           <i class="bi-file-earmark-plus text-info"></i>&nbsp; Nuevo</button>
                        <button class="dropdown-item" type="button">
                           <i class="bi bi-printer text-info"></i>&nbsp; Imprimir / Exportar</button>
                        <!-- <button class="dropdown-item" type="button" (click)="regresar()">
                           <i class="bi-arrow-left-circle text-info"></i>&nbsp; Regresar
                        </button> -->
                        <button class="dropdown-item" type="button" [class.disabled]="padre === 'Ninguno'"
                           [style.pointer-events]="padre === 'ninguno' ? 'none' : 'auto'"
                           (click)="padre !== 'Ninguno' && regresar()">
                           <i class="bi-arrow-left-circle" [class.text-muted]="padre === 'Ninguno'"
                              [class.text-info]="padre !== 'Ninguno'"></i>&nbsp; Regresar
                        </button>
                        <button class="dropdown-item" type="button" (click)="cerrar()">
                           <i class="bi-x-circle text-info"></i>&nbsp; Cerrar</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-sm-12">
         <table *ngIf="compromisos.length > 0" class="table table-hover table-bordered table-sm sombra">
            <thead class="cabecera">
               <tr class="pad0">
                  <th>Partida</th>
                  <th>Denominación</th>
                  <th class="text-center">Certifi</th>
                  <th class="text-right">Compromiso</th>
                  <th class="text-right">Devengado</th>
                  <th>Descripción</th>
                  <th class="text-center">
                     <div class="col-sm px-0">
                        <button class="bg-transparent border-0 toolt" type="button" data-toggle="tooltip"
                           title={{iTramite.descri}} disabled>
                           <i class="bi-file-text-fill text-white"></i>
                        </button>
                     </div>
                  </th>
               </tr>
            </thead>
            <tbody class="detalle roboto small pad0">
               <tr class="fila" *ngFor="let compromiso of compromisos">
                  <!-- <td class="fila cursor" data-toggle="tooltip" title="Abrir la Partida en otra pestaña">{{
                     compromiso.intpre.codpar}}</td> -->
                  <td>{{compromiso.intpre.codpar}}</td>
                  <td class="text-truncate ancho300" data-toggle="tooltip"
                     [ngClass]="{'toolt': compromiso.intpre.nompar.length > 60}"
                     [title]="compromiso.intpre.nompar.length > 60 ? compromiso.intpre.nompar : ''">{{
                     compromiso.intpre.nompar }}</td>
                  <td class="fila cursor text-center" data-toggle="tooltip" (click)="abrirCertipresu(compromiso)"
                     title="Abrir la Certificación en otra pestaña">{{ compromiso.partixcerti?.idcerti?.numero }}</td>
                  <td class="text-right">{{ compromiso.prmiso | number: '1.2-2'}}</td>

                  <td class="text-right" [ngClass]="{'transparente': compromiso.totdeven == 0}">
                     {{compromiso.totdeven|number: '1.2-2'}}
                     <button *ngIf="compromiso.totdeven > 0" type="button"
                        class="btn btn-info btn-xs dropdown-toggle py-0 ml-1" data-toggle="dropdown"
                        aria-expanded="false" (click)="buscaDevengados(compromiso.inteje)">
                     </button>
                     <div class="dropdown-menu dropdown-menu-right py-0">
                        <table class="table table-hover table-bordered table-sm sombra mb-0 robotosmall">
                           <thead>
                              <tr class="pad0 bg-info">
                                 <th colspan="2" class="text-center">Asiento</th>
                                 <th class="text-center">Fecha</th>
                                 <th class="text-right">Valor</th>
                                 <th class="text-left">Concepto</th>
                              </tr>
                           </thead>
                           <tbody *ngIf="devengados && devengados.length > 0" class="detalle">
                              <tr *ngFor="let ejecu of devengados">
                                 <ng-container *ngIf="ejecu.asiento">
                                    <td class="fila cursor text-center" (click)="abrirAsiento(ejecu.asiento)"
                                       data-toggle="tooltip" title="Abrir el Asiento en otra pestaña">
                                       {{ ejecu.asiento.asiento }}
                                    </td>

                                    <td class="text-center">
                                       {{ authService.comprobante(ejecu.asiento.tipcom, ejecu.asiento.compro) }}
                                    </td>
                                 </ng-container>
                                 <ng-container *ngIf="!ejecu.asiento">
                                    <td class="text-center">...</td>
                                    <td class="text-center">...</td>
                                 </ng-container>

                                 <td>{{ ejecu.fecha_eje | date:'dd-MM-yyyy' }}</td>
                                 <td class="text-right">{{ ejecu.devengado | number: '1.2-2'}}</td>
                                 <td class="text-truncate ancho300" data-toggle="tooltip"
                                    [ngClass]="{toolt: ejecu.concep.length > 30}"
                                    [title]="ejecu.concep.length > 30 ? ejecu.concep : ''">
                                    {{ ejecu.concep }}</td>
                              </tr>
                           </tbody>
                           <tfoot *ngIf="devengados.length > 1" class="detalle">
                              <tr class="pad0 font-weight-bold">
                                 <td colspan="3">TOTAL: {{devengados.length}}</td>
                                 <td class="text-right">{{totDevengado|number:'1.2-2'}}</td>
                                 <td></td>
                              </tr>
                           </tfoot>
                        </table>
                     </div>
                  </td>

                  <td class="text-truncate ancho300" data-toggle="tooltip"
                     [ngClass]="{'toolt': compromiso.concep.length > 60}"
                     [title]="compromiso && compromiso.concep.length > 60 ? compromiso.concep : ''">{{
                     compromiso.concep }}</td>
                  <td class="text-center">
                     <div class="btn-group py-0">
                        <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0" data-toggle="dropdown"
                           aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right popLista">
                           <button class="dropdown-item" type="button" [disabled]="swmodificar"
                              (click)="modificar(compromiso)">
                              <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                           <button class="dropdown-item" type="button" [disabled]="swmodificar"
                              (click)="eliminar(compromiso)">
                              <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                        </div>
                     </div>
                  </td>
               </tr>
            </tbody>
            <tfoot class="detalle font-weight-bold pad0 roboto small">
               <tr>
                  <td *ngIf="compromisos">TOTAL: {{compromisos.length}}</td>
                  <td colspan="3" class="text-right">{{sumCompromiso | number: '1.2-2'}}</td>
                  <td class="text-right">{{sumDevengado | number: '1.2-2'}}</td>
                  <td colspan="2"></td>
               </tr>
            </tfoot>

         </table>
      </div>
   </div>

   <!-- Modificar partida del Trámite -->
   <div *ngIf="swmodificar" class="row mb-0 justify-content-center">
      <div class="card card-body col-sm-8 detalle sombra pt-0 pb-1 px-2">
         <div class="row mt-0 justify-content-center text-center">
            <div class="col-sm-12 cabecera border mb-2">
               <h5 class="font-weight-bold mt-2">Modificar Compromiso del Trámite Nro: {{iTramite.numero}}</h5>
            </div>
         </div>
         <form [formGroup]="formModi">
            <div class="row px-3">

               <div class="form-group col-md-12 mt-1">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <label class="input-group-text">Partida</label>
                     </div>
                     <input type="text" class="form-control form-control-sm col-sm-4" formControlName="codpar" readonly
                        tabIndex="-1">
                     <input type="text" class="form-control form-control-sm col-sm-8" formControlName="nompar"
                        aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly tabIndex="-1">
                  </div>
               </div>

               <div class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold">Certificación</span>
                     </div>
                     <input type="number" class="form-control form-control-sm text-center " formControlName="numcerti"
                        aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly tabindex="-1">
                  </div>
               </div>

               <div class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold">Valor Certificado</span>
                     </div>
                     <input type="text" class="form-control form-control-sm text-right " formControlName="valorcerti"
                        aria-label="Small" aria-describedby="inputGroup-sizing-sm" appVisualFormat [minDecimals]="2"
                        [maxDecimals]="2" readonly tabIndex="-1">
                  </div>
               </div>

               <div class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold">Saldo</span>
                     </div>
                     <input type="text" class="form-control form-control-sm text-right " formControlName="saldo"
                        aria-label="Small" aria-describedby="inputGroup-sizing-sm" appVisualFormat [minDecimals]="2"
                        [maxDecimals]="2" readonly tabIndex="-1">
                  </div>
               </div>

               <div class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold">Compromiso<sup class="green">*</sup></span>
                     </div>
                     <input type="text" class="form-control form-control-sm text-right" formControlName="prmiso"
                        aria-label="Small" aria-describedby="inputGroup-sizing-sm" appVisualFormat [minDecimals]="2"
                        [maxDecimals]="2" (focus)="seleccionarTexto($event)"
                        [ngClass]="{'is-invalid': f['prmiso'].invalid && f['prmiso'].touched, 'is-valid': f['prmiso'].valid, '': f['prmiso'].untouched}">
                  </div>
                  <div *ngIf="authService.msgval && f['prmiso'].errors && f['prmiso'].touched">
                     <div *ngIf="f['prmiso'].errors['required']"
                        class="alert alert-warning m-0 px-1 py-0 robotosmall border" role="alert">
                        <strong>Ups!</strong> El Compromiso es obligatorio
                     </div>
                     <div *ngIf="f['prmiso'].errors['min']" class="alert alert-warning m-0 px-1 py-0 robotosmall border"
                        role="alert">
                        <strong>Ups!</strong> No puede ser menor a 0.01
                     </div>
                     <div *ngIf="f['prmiso'].errors['prmisoMayorSaldo']"
                        class="alert alert-warning m-0 px-1 py-0 robotosmall border" role="alert">
                        <strong>Ups!</strong> No puede ser mayor que <strong>{{f['saldo'].value +
                           f['prmisoOriginal'].value |
                           number:'1.2-2'}}</strong>
                     </div>
                  </div>
               </div>

               <div *ngIf="formModi.get('prmiso')?.dirty && formModi.get('prmiso')?.valid" class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold">Nuevo Saldo</span>
                     </div>
                     <input type="text" class="form-control form-control-sm text-right " formControlName="newsaldo"
                        aria-label="Small" aria-describedby="inputGroup-sizing-sm" appVisualFormat [minDecimals]="2"
                        [maxDecimals]="2" readonly tabIndex="-1">
                  </div>
               </div>

               <div class="form-group col-md-12 my-0 mb-1">
                  <div class="input-group mb-1 input-group-sm">
                     <div class="input-group-prepend">
                        <label class="input-group-text">Descripción</label>
                     </div>
                     <textarea class="form-control" formControlName="concep" rows="3"></textarea>
                  </div>
               </div>

            </div>

            <div class="my-1 text-center">
               <button type="submit" class="btn btn-success btn-sm mx-1"
                  [disabled]="formModi.pristine || !formModi.valid" (click)="actualiza()">
                  <i class="fa fa-check-circle"></i> Aceptar</button>
               <button type="button" class="btn btn-success mx-1 btn-sm" (click)="cancelar()"><i
                     class="fa fa-times-circle"></i> Cancelar
               </button>
            </div>
         </form>
      </div>
   </div>

</div>

<div *ngIf="compromisos.length == 0 && swbusca" class="content mt-5">
   <div class="container-fluid">
      <div class="row justify-content-center">
         <div class="card col-sm-6 card-inclinada">
            <div class="card-body text-center">
               <p class="texto-inclinado  opaco" (mouseenter)="hover = true" (mouseleave)="hover = false"
                  [ngClass]="{ 'no-opaco': hover }">¡ No existen registros !</p>
            </div>
         </div>
      </div>
   </div>
</div>