<div class="content pt-1 pl-3">
   <div class="container-fluid">
      <div class="row mt-0 mb-2">
         <div class="col-md">
            <h4 class="m-0 font-weight-bold">Establecimientos</h4>
         </div>
         <div class="col-md-5">
            <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse"
               data-target="#nuevoEstablecimiento" aria-expanded="false" aria-controls="nuevoEstablecimiento">
               <i class="fa fa-plus-square" style="font-size:24pxi"></i>
               Nuevo
            </button>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-sm-7">
         <div id="alertaPtoEmision">
         </div>
         <table class="table table-hover table-bordered table-sm">
            <thead class="text-center">
               <tr>
                  <th class="bg-primary text-center"></th>
                  <th class="bg-primary text-center">Código</th>
                  <th class="bg-primary text-center">Autorización</th>
                  <th class="bg-primary text-center">Dirección</th>
                  <th class="bg-primary text-center">Teléfono</th>
                  <th class="bg-primary"></th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let punto of ptoemision; let i= index" class="text-center">
                  <td class="small text-center font-weight-bold">{{i+1}}</td>
                  <td>{{ punto.establecimiento }}</td>
                  <td>{{ punto.nroautorizacion }}</td>
                  <td class="text-left">{{ punto.direccion}}</td>
                  <td>{{ punto.telefono }}</td>
                  <td>
                     <button class="btn btn-outline-info btn-xs" (click)="info(punto.idptoemision)" type="button">
                        <i class="fa fa-info-circle"></i> Info&nbsp;&nbsp;</button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>

      <div class="col-md-5">
         <div class="collapse" id="nuevoEstablecimiento">
            <div class="card card-success card-outline card-body">
               <app-add-ptoemision></app-add-ptoemision>
            </div>
         </div>
      </div>

   </div>
</div>
