<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-30">
            <div class="col-3"></div>
            <div class="col-5">
                <h4 class="font-weight-bold">Modificar Emisión</h4>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div><!-- /.content-header -->

<div class="content">
    <div class="container-fluid">
        <div class="row mb-8">
            <div class="col-3"></div>
            <div class="col-5 border rounded p-2">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Emisión</label>
                        <input type="text" class="form-control" id="emision" [(ngModel)]="emi.emision"
                            name="emision"><br>
                        <label>Observaciones</label>
                        <input type="text" class="form-control" id="observaciones" [(ngModel)]="emi.observaciones"
                            name="observaciones">
                    </div>
                    <button class="btn btn-sm btn-success btn-sm" type="submit">
                        <i class="fa fa-check-circle"></i> Aceptar</button>
                    <button class="btn btn-sm btn-outline-success ml-2 btn-sm" type="button" (click)="cancelar()">
                        <i class="fa fa-times-circle"></i> Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>