<div class="content-header">
   <div class="container-fluid">
      <div class="row mt-5 justify-content-center text-center">
         <div class="col-sm-6 cabecera sombra border">
            <h5 class="mt-2 font-weight-bold">Nueva Partida del Clasificador</h5>
         </div>
      </div>
   </div>
</div>

<div class="content">
   <div class="container-fluid">
      <div class="row justify-content-center">
         <div class="card card-body col-sm-6 detalle sombra">
            <form [formGroup]="formClasificador">
               <div class="row">

                  <div class="form-group col-md-5">
                     <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold">Código<sup class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control" formControlName="codpar" autofocus
                           [ngClass]="{'is-invalid': f['codpar'].invalid && f['codpar'].touched,'is-valid': f['codpar'].valid, '': f['codpar'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['codpar'].errors && f['codpar'].touched">
                        <div *ngIf="f['codpar'].errors['required']"
                           class="alert alert-warning m-0 py-0 px-1 pr-0 roboto small border" role="alert">
                           <strong>Ups!</strong> Código obligatorio.
                        </div>
                        <div *ngIf="f['codpar'].errors['invalido']"
                           class="alert alert-warning m-0 py-0 px-1 pr-0 roboto small border" role="alert">
                           <strong>Ups!</strong> Formato incorrecto
                        </div>
                        <div *ngIf="f['codpar'].errors['grupoinvalido']"
                           class="alert alert-warning m-0 py-0 px-1 pr-0 roboto small border" role="alert">
                           <strong>Ups!</strong> No existe el grupo <span
                           class="font-weight-bold">{{ codgrupo }}</span>
                        </div>
                        <div *ngIf="f['codpar'].errors['existe']"
                           class="alert alert-warning m-0 py-0 px-1 pr-0 roboto small border" role="alert">
                           <strong>Ups!</strong> Ya existe la partida <span
                              class="font-weight-bold">{{f['codpar'].value}}</span>
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-12 mt-1">
                     <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold">Nombre<sup class="green">*</sup></span>
                        </div>
                        <input type="text" class="form-control" formControlName="nompar" [ngClass]="{'is-invalid': f['nompar'].invalid && f['nompar'].touched,
                        'is-valid': f['nompar'].valid, '': f['nompar'].untouched}">
                     </div>
                     <div *ngIf="authService.msgval && f['nompar'].errors && f['nompar'].touched">
                        <div *ngIf="f['nompar'].errors['required']"
                           class="alert alert-warning m-0 py-0 px-1 pr-0 roboto small border" role="alert">
                           <strong>Ups!</strong> Nombre obligatorio.
                        </div>
                        <div *ngIf="f['nompar'].errors['minlength']"
                           class="alert alert-warning m-0 py-0 px-1 pr-0 roboto small border" role="alert">
                           <strong>Ups!</strong> El Nombre debe tener mínimo 3 caracteres
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-12 my-0">
                     <div class="input-group mb-1 input-group-sm">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Descripción</label>
                        </div>
                        <textarea class="form-control" formControlName="despar" rows="4"></textarea>
                     </div>
                  </div>

               </div>
            </form>
            <div class="mt-2 mb-0 text-center">
               <button type="button" class="btn btn-success btn-sm" [disabled]="!formClasificador.valid"
                  (click)="guardar()">
                  <i class="fa fa-check-circle"></i> Aceptar</button>
               <button class="btn btn-outline-success btn-sm mx-2 btn-sm" (click)="regresar()">
                  <i class="fa fa-times-circle"></i> Cancelar</button>
            </div>

         </div>
      </div>
   </div>
</div>