<!-- Content Header (Page header) -->
<div class="content pt-1 pl-3">
   <div class="container-fluid">
      <div class="row mt-0 mb-2">
         <div class="col-sm-2">
            <h4 class="m-0 font-weight-bold">Facturas</h4>
         </div>
         <div class="col-sm-5">
            <div class="container-fluid">
               <form [formGroup]="buscarForm" class="formGroup" (ngSubmit)="onSubmit()">
                  <div class="row">
                     <div class="col-sm-3">
                        <select name="" id="selecTipoBusqueda" class="form-control form-control-sm"
                           formControlName="selecTipoBusqueda">
                           <option value="1">Número</option>
                           <option value="2">Cliente</option>
                           <option value="3">Id</option>
                        </select>
                     </div>
                     <div class="col-sm-5">
                        <div class="container">
                           <input type="text" id="buscarFacelectro" class="form-control form-control-sm" formControlName="buscarFacelectro" />
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <button class="btn btn-outline-primary btn-sm">
                           <i class="fa fa-search" style="font-size:24pxi"></i> Buscar
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-sm-2">
            <input type="text" class="form-control mx-0 form-control-sm" placeholder="Filtrar..."
               [(ngModel)]="filtro" />
         </div>
      </div>
   </div><!-- /.container-fluid -->
</div>

<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-sm">
         <div id="alertaAbonados">
         </div>
         <table class="table table-hover table-bordered table-sm">
            <thead class="text-center">
               <tr>
                  <th class="bg-primary text-center">Nro. Factura</th>
                  <th class="bg-primary text-center">Fecha</th>
                  <th class="col-sm-3 bg-primary text-center">Cliente</th>
                  <th class="bg-primary text-center">C.I/RUC</th>
                  <th class="bg-primary text-center">Valor</th>
                  <th class="bg-primary text-center">Concepto</th>
                  <th class="bg-primary"></th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let facele of _facelectro | filter:filtro; let i= index">
                  <td class="text-center">{{ facele.nrofac }}</td>
                  <td class="text-center">{{ facele.feccrea | date: 'dd-MM-y' }}</td>
                  <td>{{ facele.nombre }}</td>
                  <td class="text-center">{{ facele.identificacion }}</td>
                  <td class="text-right">{{ facele.total | number: '1.2-2' }}</td>
                  <td>{{ facele.concepto }}</td>
                  <td class="text-center">
                     <button class="btn btn-outline-info btn-xs">
                        <i class="fa fa-info-circle"></i> Info&nbsp;
                     </button>
                  </td>
               </tr>
            </tbody>
            <!-- MODAL -->
            <div class='modal fade' id='modalAbonados' tabindex='-1' aria-labelledby='modalAbonadosLabel'
               aria-hidden='true'>
               <div class='modal-dialog'>
                  <div class='modal-content'>
                     <div class='modal-header'>
                        <h5 class='modal-title' id='modalAbonadosLabel'>CONFIRMACIÓN</h5>
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                           <span aria-hidden='true'>&times;</span>
                        </button>
                     </div>
                     <div class='modal-body'>
                        ¿ Esta seguro de eliminar el abonado ?
                     </div>
                     <div class='modal-footer' id='idButtons'>
                        <button type='button' class='btn btn-secondary' data-dismiss='modal'>NO</button>
                        <button type='button' class='btn btn-primary' data-dismiss='modal' id='btnSi'>SI</button>
                     </div>
                  </div>
               </div>
            </div>
         </table>
      </div>
   </div>
</div>