<div class="content pt-1 pl-3">
  <div class="container-fluid">
    <div class="row mt-0 mb-2">
      <div class="col-sm-8">
        <h3 class="m-0 font-weight-bold">Certificaciones TMP</h3>
      </div>
      <div class="col-sm">
        <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="collapse"
          data-target="#collapseCertificacion" aria-expanded="false" aria-controls="collapseCertificacion">
          <i class="fa fa-plus-square" style="font-size:24pxi"></i>
          Nuevo
        </button>
        <button class="btn btn-sm btn-outline-primary ml-2" type="button" data-toggle="collapse" data-target="#genDoc"
          aria-expanded="false" aria-controls="collapseCertificacion">
          <i class="fa fa-plus-square" style="font-size:24pxi"></i>
          Generar documento
        </button>
      </div>
    </div>
  </div>
</div><!-- /.container-fluid -->
<div class="container-fluid">
  <div class="row mb-0">
    <div class="col-sm-7">
      <div id="alertaCertificacion">
      </div>
      <table class="table table-hover table-bordered table-sm">
        <thead class="text-center">
          <tr>
            <th class="bg-primary font-weight-bold text-center">Nro.</th>
            <th class="col-sm-3 bg-primary text-center">Nro. documento</th>
            <th class="col-sm-4 bg-primary text-center">Tipo certificación</th>
            <th class="col-sm-4 bg-primary text-center">Factura</th>
            <th class="col-sm-5 bg-primary text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let certificacionesDatos of certificaciones; let i= index" class="text-center">
            <td class="text-center font-weight-bold">{{i+1}}</td>
            <td>{{certificacionesDatos.numero}}</td>
            <td>{{certificacionesDatos.idtpcertifica_tpcertifica.descripcion}}</td>
            <td>{{certificacionesDatos.idfactura_facturas.nrofactura}}</td>
            <td>
              <button (click)="modificarCertificaciones(certificacionesDatos)" class="badge badge-warning mx-1">
                Modificar
              </button>
              <button (click)="eliminarCertificaciones(certificacionesDatos.idcertificacion)"
                class="badge badge-danger mx-1" data-toggle="modal" data-target="#modalCertificacion">
                Eliminar
              </button>
              <button class="badge badge-info mx-1" (click)="verDocumentos(certificacionesDatos.referenciadocumento)">
                Ver documento
              </button>
            </td>
          </tr>
        </tbody>
        <!-- MODAL -->
        <div class='modal fade' id='modalCertificacion' tabindex='-1' aria-labelledby='modalCertificacionLabel'
          aria-hidden='true'>
          <div class='modal-dialog'>
            <div class='modal-content'>
              <div class='modal-header'>
                <h5 class='modal-title' id='modalCertificacionLabel'>CONFIRMACIÓN</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                  <span aria-hidden='true'>&times;</span>
                </button>
              </div>
              <div class='modal-body'>
                ¿ Esta seguro de eliminar la CERTIFICACIÓN ?
              </div>
              <div class='modal-footer' id='idButtons'>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>NO</button>
                <button type='button' class='btn btn-primary' data-dismiss='modal'
                  (click)="aprobarEliminacionCertificacion()" id='btnSi'>SI</button>
              </div>
            </div>
          </div>
        </div>

      </table>
    </div>
    <div class="col-md-5 mt-2">
      <div class="row">
        <div class="col-sm mt-2">
          <div class="container">
            <div class="collapse" id="collapseCertificacion">
              <div class="card card-body">
                <app-add-certificaciones></app-add-certificaciones>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm mt-2">
          <div class="container">
            <div class="collapse" id="genDoc">
              <div class="card card-body">
                <form [formGroup]="f_genCertificado">
                  <div class="row">
                    <div class="col-sm">
                      <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-append">
                          <span class="input-group-text" id="documento">Responder</span>
                        </div>
                        <select type="text" class="col-sm-4 form-control form-control-sm" aria-label="Documento"
                          aria-describedby="documento" formControlName="sufijo">
                          <option *ngFor="let sufijo of sufijos" value={{sufijo.sufijo}}>{{sufijo.sufijo}}</option>
                        </select>
                        <input type="text" class="col-sm-8 form-control form-control-sm" formControlName="nombre"
                          placeholder="Nombre" aria-label="Recipient's username" aria-describedby="egreso" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-append">
                          <span class="input-group-text" id="documento">Cargo</span>
                        </div>
                        <input type="text" class="col-sm form-control form-control-sm"
                          placeholder="Cargo del responsable" aria-label="Recipient's username" formControlName="cargo"
                          aria-describedby="egreso" />
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-append">
                          <span class="input-group-text" id="documento">Fecha solicitud</span>
                        </div>
                        <input type="date" class="col-sm form-control form-control-sm" aria-label="Recipient's username"
                          formControlName="fechaSolicitud" aria-describedby="egreso" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="tpCertificado" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                          Estar al día
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="tpCertificado" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          No adeudar
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="tpCertificado" value="option3">
                        <label class="form-check-label" for="exampleRadios3">
                          Servicio abonado
                        </label>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="form-check">
                        <label class="form-check-label" for="exampleRadios1">
                          <input class="form-check-input" type="radio" formControlName="sino" value=1>
                          SI
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label" for="exampleRadios2">
                          <input class="form-check-input" type="radio" formControlName="sino" value=0>
                          No
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-sm btn-outline-success" (click)="generarCertificado()">Generar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>