<div class="container">
    <h4 class="ml-1 font-weight-bold">Nuevo Tipo de Reclamo</h4>
    <form action="" (ngSubmit)="onSubmit()">
        <div class="mb-2">
            <label for="descritpreclamo" class="col-sm-12  col-form-label-sm">Descripción
            <input type="text" class="form-control form-control-sm" id="descritpreclamo" [(ngModel)]="tpr.descripcion"
                name="descritpreclamo" />
            </label>
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-success btn-sm">Aceptar</button>
        </div>
    </form>
</div>
 