.container-fluid{
   --color1: rgb(109, 110, 15);
   --color2: rgba(223, 220, 162);
}

.titDocumentos {
   background-color: var(--color1);
   color: white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fondoDocumentos{
   background-color: var(--color2);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input:required{
   border-left-style: solid;
   border-left-color: var(--color1);
   border-left-width: 4px;
}
