<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 py-1 justify-content-start cabecera border sombra">
         <div class="col-sm-3">
            <h5 class="m-0 font-weight-bold text-truncate">
               <i class="bi-badge-tm-fill text-warning"></i> Trámites presupuestarios
            </h5>
         </div>
         <div class="col-sm-6">
            <form [formGroup]="formBuscar" (ngSubmit)="buscar()">
               <div class="row">

                  <div class="input-group col-sm-4">
                     <input type="number" class="form-control form-control-sm text-center" formControlName="desdeNum"
                        placeholder="Desde" min="1" (change)="changeDesdeHasta()">
                     <input type="number" class="form-control form-control-sm text-center" formControlName="hastaNum"
                        placeholder="Hasta" min="1" (change)="changeDesdeHasta()">
                  </div>

                  <div class="input-group col-sm-5 px-1 ">
                     <input type="date" class="form-control form-control-sm text-center" formControlName="desdeFecha">
                     <input type="date" class="form-control form-control-sm text-center" formControlName="hastaFecha">
                  </div>

                  <div class="col-sm">
                     <button class="btn btn-primary btn-sm" data-dismiss="modal">
                        <i class="fa fa-search" aria-hidden="true"></i> Buscar
                     </button>
                  </div>

               </div>
            </form>

         </div>

         <div class="col-sm-2">
            <input class="form-control form-control-sm text-center" type="text" placeholder="Filtrar..."
               [(ngModel)]="filtro" [ngModelOptions]="{standalone: true}" />
         </div>

         <div class="col-sm d-flex justify-content-end">
            <div class="btn-group ml-auto mx-0">
               <button *ngIf="swdesdehasta" class="bg-transparent border-0 mt-0" type="button"
                  (click)="busquedainicial()" data-toggle="tooltip" title="Ultimos">
                  <i class="bi-skip-end text-white icoRegresar"></i>
               </button>
               <button type="button" class="bg-transparent border-0 dropdown-toggle text-white" data-toggle="dropdown"
                  aria-expanded="false">
                  <i class="bi-menu-button-wide text-white"></i>
               </button>
               <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
                  <button class="dropdown-item" type="button" (click)="addTramite()">
                     <i class="bi-file-earmark-plus text-info"></i>&nbsp; Nuevo
                  </button>
                  <button class="dropdown-item" type="button" data-toggle="modal" data-target="#PDFModal">
                     <i class="bi bi-printer text-info"></i>&nbsp; Imprimir / Exportar
                  </button>
                  <button class="dropdown-item" type="button" (click)="cerrar()">
                     <i class="bi-x-circle text-info"></i>&nbsp; Cerrar</button>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-sm">
         <table class="table table-hover table-bordered table-sm sombra">
            <thead class="cabecera">
               <tr class="pad0">
                  <th class="text-center">Nro.</th>
                  <th class="text-center">Fecha</th>
                  <th>Documento</th>
                  <th>Beneficiario</th>
                  <th class="text-right">Total</th>
                  <th>Descripción</th>
                  <th></th>
               </tr>
            </thead>
            <tbody class="detalle roboto small">
               <tr class="fila pad0" *ngFor="let tramite of tramipresu | filter: filtro"
                  (click)="compromisos($event, tramite)">
                  <td class="text-center"><i *ngIf="tramite.idtrami == ultIdSelec"
                        class="bi bi-caret-right-fill text-primary"></i>{{ tramite.numero }}</td>
                  <td class="text-center"> {{ tramite.fecha | date : "dd-MM-yyyy"}} </td>
                  <td class="doc-{{ tramite.intdoc.intdoc }}"> {{ tramite.intdoc.nomdoc }}
                     {{ tramite.numdoc }} </td>
                  <td class="bene-{{ tramite.idbene }}">{{tramite.idbene.nomben}}</td>
                  <td class="text-right">{{tramite.totmiso | number: '1.2-2' }}</td>
                  <td class="text-truncate ancho" data-toggle="tooltip" title="{{ tramite.descri }}">
                     {{tramite.descri}}</td>
                  <td class="text-center">
                     <div class="btn-group py-0">
                        <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0" data-toggle="dropdown"
                           aria-expanded="false">
                        </button>

                        <div class="dropdown-menu dropdown-menu-right popLista">
                           <button class="dropdown-item" type="button" (click)="modiTramipresu( tramite )">
                              <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                           <button class="dropdown-item" type="button" (click)="eliminar(tramite)">
                              <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                        </div>
                     </div>
                  </td>

               </tr>
            </tbody>
            <tfoot *ngIf="!filtro" class="detalle font-weight-bold pad0 roboto small">
               <tr>
                  <td></td>
                  <td colspan="3">TOTAL: {{ tramipresu.length }}</td>
                  <td class="text-right">{{total | number: '1.2-2'}}</td>
                  <td colspan="2"></td>
               </tr>
            </tfoot>
         </table>
      </div>
   </div>
</div>