<div class="content px-1 pt-1">
   <div class="container-fluid">
      <div class="row cabecera">
         <div class="col-sm-3">
            <h5 class="m-0 font-weight-bold py-1">{{ titulo }}</h5>
         </div>
         <div class="col-sm-2 py-1">
            <p class="m-0 font-weight-bold">Total: {{total}}</p>
         </div>
         <div class="col-sm-4 py-1">
            <button type="submit" class="btn btn-success btn-sm" (click)="onSubmit()">
               <i class="fa fa-check-circle"></i> Aceptar
            </button>
            <button type="submit" class="btn btn-outline-success btn-sm mx-2" (click)="listarSuspensiones()">
               <i class="fa fa-times-circle"></i> Cancelar
            </button>
         </div>
         <div class="col-sm text-right py-1">
            <button class="btn btn-success mx-2 btn-sm" data-toggle="modal" data-target="#rutaModal">
               <i class="fa fa-plus-square-o" aria-hidden="true"> Rutas</i>
            </button>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid px-0">
   <form action="" [formGroup]="f_dsuspension">
      <div class="row mx-1 cabecera">
         <div class="col-sm-1">
            <label for="" class="text-center">
               Número
               <input type="number" class="form-control form-control-sm text-center" formControlName="numero"
                  readOnly />
            </label>
         </div>
         <div class="col-sm-2 text-center">
            <label for="" class="text-center"> Fecha
               <input type="date" class="form-control form-control-sm text-center"
                  value="{{f_dsuspension.value.fecha|date:'yyyy-MM-dd'}}" min="{{today|date:'yyyy-MM-dd'}}"
                  formControlName="fecha" />
            </label>
         </div>
         <div class="col-sm-2">
            <label for="" class="col-sm-12">
               Documento
               <select type="text" class="form-control form-control-sm" formControlName="iddocumento_documentos">
                  <option value={{d_documentos.iddocumento}} *ngFor="let d_documentos of v_documentos"
                     id="id-d{{ d_documentos.iddocumento }}">
                     {{ d_documentos.nomdoc }}
                  </option>
               </select>
            </label>
         </div>
         <div class="col-sm-1">
            <label for="" class="text-center"> Doc#
               <input type="number" class="form-control form-control-sm" formControlName="numdoc" />
            </label>
         </div>
         <div class="col-sm-6">
            <label for="observa" class="col-sm-12 col-form-label-sm"> Observaciones
               <input type="text" id="observa" class="form-control form-control-sm" formControlName="observa" />
            </label>
         </div>
      </div>
   </form>
</div>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-outline">
            <div class="card-body">
               <table class="table table-sm table-hover table-bordered">
                  <thead class="text-center cabecera">
                     <tr>
                        <th>Nro.</th>
                        <th>Cuenta</th>
                        <th>Nombre cliente</th>
                        <th>Identificación</th>
                        <th>Meses deuda </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let lectura of l_lecturas; let i= index">
                        <td class="font-weight-bold text-center">{{i+1}}</td>
                        <td class="text-center">{{ lectura.idabonado_abonados.idabonado }}</td>
                        <td>{{ lectura.idabonado_abonados.idcliente_clientes.nombre }}</td>
                        <td class="text-center">{{ lectura.idabonado_abonados.idcliente_clientes.cedula }}</td>
                        <td class="text-center">
                           {{lectura.mesesmulta}}
                        </td>
                     </tr>
                  </tbody>
               </table>

            </div>
         </div>
      </div>
   </div>
</div>
<!-- MODAL RUTAS -->
<div class="modal fade" id="rutaModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
   aria-labelledby="rutaModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content card-success card-outline">
         <div class="modal-body">
            <app-buscar-ruta (setRuta)="setRuta($event)"></app-buscar-ruta>
         </div>
         <div class="modal-footer">
            <button class="btn btn-success btn-sm mx-1" data-dismiss="modal">
               Cancelar
            </button>

         </div>
      </div>
   </div>
</div>