.container-fluid{
   --bgcolor1: rgb(68, 103, 114);
   --bgcolor2: rgba(231, 251, 253);
}
.cabecera {
   background-color: var(--bgcolor1);
   color: white;
}
.nuevoBG1 { background-color: var(--bgcolor1); }

.detalle { background-color: var(--bgcolor2); }
.nuevoBG2 { background-color: var(--bgcolor2); }
