.container-fluid{
   --bgcolor1: rgb(80, 83, 54);
   --bgcolor2: rgb(228, 248, 205);
}

.titModi {
   background-color: var(--bgcolor1);
   color: white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.fondo{ background-color: var(--bgcolor2); }
