.cabecera {
  background-color: var(--bgcolor1);
  color: white;
}
.nuevoBG1 {
  background-color: var(--bgcolor1);
}

.detalle {
  background-color: var(--bgcolor2);
}
.nuevoBG2 {
  background-color: var(--bgcolor2);
}

.fila:hover {
  background-color: #117a8b;
  color: white;
  cursor: pointer;
}
.tabla-pequena td, .tabla-pequena th {
  padding: 0.3rem !important;
  font-size: 0.75rem;
}
