.container-fluid {
   --recaudacabecera: DarkSlateGray;
   --recaudadetalle: AliceBlue;
   --clientecabecera: Olive;
   --clientedetalle: Khaki;
}

.recaudacabecera {
   background-color: var(--recaudacabecera);
   color: white;
}

.recaudadetalle { background-color: var(--recaudadetalle); }
.recaudadetalle li { background-color: var(--recaudadetalle); }

.text-titulo {
   font-size: 24px;
   color: rgb(2, 68, 22);
}

input:required:placeholder-shown {
   border-color: #d79ee4;
}

input:required:not(:placeholder-shown):invalid {
   border-color: red;
}

input:required:not(:placeholder-shown):valid {
   border-color: rgb(2, 153, 23);
}

input:required:focus:invalid {
   border-color: red;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}


form li+li {
   margin-top: 1em;
}

label {
   display: inline-block;
   width: 90px;
   text-align: right;
}

.fila:hover {
   background-color: #117a8B;
   color: white;
}

.transferido{
   background-color: #dcdfb5;
}
.transferido_2{
   background-color: #5119ec;
}

/* === Buscar Clientes === */
.clientecabecera {   background-color: var(--clientecabecera);}
.clientedetalle {   background-color: var(--clientedetalle);}
.clientecabecera th {
   background-color: var(--clientecabecera);
   color: white;
}
.clientedetalle tbody tr:hover {
   background-color: #117a8B;
   color: white;
   cursor: pointer;
}

.numeracion{
   bottom: 0;
   height: 100px;
   padding: 13px 0 4px;
   position: fixed;
   width: 100%;
   z-index: 5000;
}

.btn i {
  margin-right: 4px; /* separa ícono del texto */
}
.btn {
  white-space: nowrap;
}

.card-header {
  padding: 0.25rem 0.5rem; /* reduce padding */
}

.card-header h4 {
  margin-bottom: 0;       /* quita espacio extra */
  line-height: 1.2;       /* más pegado */
  font-size: 1.1rem;      /* opcional: letra más pequeña */
}

.card-header p {
  margin-bottom: 0;       /* quita margen del <p> */
  line-height: 1.1;       /* más compacto */
  font-size: 0.9rem;      /* opcional */
}
