<div class="content mt-1 pt-1 px-2">
    <div class="container-fluid">
        <div class="row mt-0 px-1 pt-1 justify-content-center cabecera border sombra">
            <h4 *ngIf="swimprimir" class="font-weight-bold text-truncate ml-2">
                <i class="bi-printer impexp" (click)="impriexpor()"></i> &nbsp; Imprimir Emisiones
            </h4>
            <h4 *ngIf="!swimprimir" class="font-weight-bold text-truncate">
                <i class="bi-file-earmark-arrow-up impexp" (click)="impriexpor()"></i> &nbsp; Exportar Emisiones
            </h4>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card card-body col-sm-4 detalle sombra">
                <form [formGroup]="formImprimir">
                    <div class="row">

                        <div class="input-group input-group-sm col-sm-12 mb-3">
                            <div class="input-group-prepend">
                                <label *ngIf="swimprimir" class="input-group-text">Imprimir</label>
                                <label *ngIf="!swimprimir" class="input-group-text">Exportar</label>
                            </div>
                            <select class="custom-select" formControlName="reporte" (change)="changeReporte()">
                                <option selected value=0>Lista de Emisiones</option>
                                <option value=1>Facturas eliminadas</option>
                                <option value=2>Emisiones individuales</option>
                                <option value=3>Emisión inicial</option>
                                <option value=4>Emisión final</option>
                                <option value=5>Valores Emitidos</option>
                            </select>
                        </div>
                        <div [hidden]="!hideListaEmision()" class="form-group col-sm-12">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm"
                                        data-toggle="tooltip" title="Obligatorio">Desde</span>
                                </div>
                                <input type="text" class="form-control text-center" formControlName="d_emi"
                                    aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm"
                                        data-toggle="tooltip" title="Obligatorio">Hasta</span>
                                </div>
                                <input type="text" class="form-control text-center" formControlName="h_emi"
                                    aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>

                        <div [hidden]="hideListaEmision()" class="form-group col-md-8">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm"
                                        data-toggle="tooltip" title="Obligatorio">Emisión</span>
                                </div>
                                <select type="date" class="form-control text-center" formControlName="emision"
                                    aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    <option [ngValue]="emision.idemision" *ngFor="let emision of l_emisiones">
                                        {{emision.emision}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!--     <div [hidden]="opcreporte != 3" class="form-group col-md-10">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm"
                                        data-toggle="tooltip" title="Obligatorio">Clientes(id)</span>
                                </div>
                                <input type="number" class="form-control text-center" formControlName="desdeNum"
                                    aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                <input type="number" class="form-control text-center" formControlName="hastaNum"
                                    aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div> -->

                        <!-- <div *ngIf="swimprimir" class="form-group col-md-5">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-bold">Abrir en otra página</span>
                                    <div class="input-group-text">
                                        <input type="checkbox" formControlName="otrapagina">
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div *ngIf="!swimprimir" class="form-group col-sm-10 my-0 py-0">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Nombre del
                                        archivo</span>
                                </div>
                                <input type="text" class="form-control" formControlName="nombrearchivo"
                                    aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>

                        <div *ngIf="barraProgreso" class="progress col-sm-12 mb-2">
                            <div class="progress-bar" [ngStyle]="{ 'width.%': progreso }">{{ progreso / 100 | percent :
                                '1.2-2'}}
                            </div>
                        </div>

                    </div>
                </form>
                <div *ngIf="!swbotones" class="text-center">
                    <button *ngIf="swimprimir" type='button' class='btn btn-success btn-sm mx-1' data-toggle="modal"
                        data-target="#staticBackdrop" [disabled]="swbotones" (click)="imprimir()">
                        <i class="fa fa-check-circle"></i>&nbsp; Aceptar</button>

                    <button class="btn btn-outline-success btn-sm mx-1" routerLink="/emisiones"><i
                            class="fa fa-times-circle"></i> Cancelar</button>
                </div>

                <div *ngIf="swbotones" class="text-center">
                    <button *ngIf="swimprimir" type="button" class="btn btn-success btn-block"
                        [attr.data-target]="otrapagina ? null : '#pdf'" data-toggle="modal" [disabled]="swcalculando">
                        <i *ngIf="swcalculando" class="fa fa-spinner"></i>
                        <i *ngIf="!swcalculando" class="bi-eye"></i>&nbsp;&nbsp;&nbsp;{{txtcalculando}}
                    </button>
                    <button *ngIf="!swimprimir" type="button" class="btn btn-warning btn-block"
                        [disabled]="swcalculando">
                        <i *ngIf="swcalculando" class="fa fa-spinner"></i>
                        <i *ngIf="!swcalculando" class="bi-eye"></i>&nbsp;&nbsp;&nbsp;{{txtcalculando}}
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PDF (En la misma página)-->
<div class='modal fade' id='pdf' tabindex='-1' aria-labelledby='pdf' aria-hidden='true'>
    <div class='modal-dialog modal-sm'>
    </div>
</div>


<!-- Modal vista imprimir -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Vista de reporte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="pdfViewer" src="" width="100%" height="600px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrer</button>
            </div>
        </div>
    </div>
</div>