.cabecera {
   background-color: var(--bgcolor1);
   color: white;
}

.nuevoBG1 {   background-color: var(--bgcolor1);}

.detalle {   background-color: var(--bgcolor2);}

.nuevoBG2 {   background-color: var(--bgcolor2);}

.fila:hover {
   background-color: #117a8B;
   color: white;
   /* cursor: pointer; */
}

.bg-modificar i:hover {
   cursor: pointer;
   color: rgb(255, 255, 255);
   background-color: #2788b4;
}

.bg-modificar:hover {   background-color: #2788b4; }