@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=IBM+Plex+Mono&display=swap');

.uncheck-circle {
  color: rgb(255, 10, 10);
}
.upperCase {
  text-transform: uppercase;
}
.center-form {
  width: 800px;
  margin: 0 auto;
}
.pdfViewer {
  width: 100%;
  height: 700px;
}
.card-size {
  height: 750px;
  width: 100%;
}
.hoverable-row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.selected {
  background-color: #cfe8fc;
}

.truncate-text {
  max-width: 200px; /* ajusta este valor según el diseño */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*   display: inline-block; */
  vertical-align: middle;
}
.description {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description:hover {
  overflow: visible;
  white-space: normal;
  z-index: 1;
}
/* ============================================================================ */
/* Estilos Globales. Tambien se pueden importar otros archivos*/

.icoRegresar {
  font-size: 20px;
}

.sombra {
  box-shadow: 0 0 10px #000000bf;
}

.sombraClara {
  box-shadow: 0 0 10px white;
}

.fila:hover {
  background-color: #117a8b;
  color: white;
}

/* === Popup de una Cabecera === */
.dropdown-item {
  font-family: 'Roboto', sans-serif;
  font-size: small;
  color: white;
}

.dropdown-item:hover,
.dropdown-item:focus {
  font-size: small;
  background-color: #117a8b;
  color: white;
}

.fantacy {
  font-weight: bold;
  color: yellow;
  text-shadow: rgb(228, 3, 3) 0.2em 0.2em 0.3em;
}

.fantacysombra {
  font-weight: bold;
  color: rgb(8, 8, 0);
  text-shadow: rgb(49, 45, 45) 0.1em 0.1em 0.1em;
}

.fantacyblack {
  font-weight: bold;
  color: yellow;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.fantacygreen {
  font-weight: bold;
  color: black;
  text-shadow: yellowgreen 0.1em 0.1em 0.1em;
}

.fontwarning {
  font-weight: bold;
  color: rgb(253, 2, 2);
  text-shadow: black 0.1em 0.1em 0.2em;
}

.transparente {
  opacity: 0;
}

.cursor {
  cursor: pointer;
}

.green {
  color: green;
}

.red {
  color: red;
}

.tachado {
  text-decoration: line-through;
  text-decoration-style: solid;
  /* Estilo de línea sólida */
  text-decoration-color: rgb(77, 76, 76);
  /* Color del tachado */
  text-decoration-thickness: 2px;
  /* Grosor del tachado */
  text-decoration-skip-ink: none;
  /* Evita espacios en blanco en el tachado */
  background-color: lightgray;
  /* Color de fondo gris claro */
}

/* === Popup de una lista === */
.popLista {
  background-color: #ffc107;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}

.popLista button {
  font-weight: bold;
  color: black;
}

.popLista button:hover {
  font-weight: normal;
  color: white;
}

.nav-link.disabled {
  opacity: 0.3;
}

.pad0 td,
.pad0 th {
  padding-top: 0;
  padding-bottom: 0;
}

.impexp:hover {
  cursor: pointer;
  color: rgb(125, 132, 139);
}

.robotobig {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.robotobold {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.robotosmall {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.robotomini {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}

.robotolist {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  background-color: #343a40;
  color: rgb(255, 255, 255);
}

.force-warning {
  color: #ffc107 !important;
}

/* Estilos para Sweetalert2 */
/* #0000A8 azul de Pantallazo Azul de la Muerte Lucida Console o Fixedsys*/
.retro {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #000;
  color: #0f0;
  font-size: 0.8rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.9);
}

.swal2-popup .terminal-footer {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 0.75rem;
  color: #0f0;
}

.eliminar {
  background-color: #17a2b8;
  color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.9);
}

/* ff6565 */
.noeliminar {
  background-color: #ac3b3b;
  color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.9);
  font-family: 'Roboto', sans-serif;
}

/* .swal2-popup .swal2-error {
  border-color: white !important;
  background-color: white
} */

/* El borde del círculo */
.swal2-popup .swal2-error {
  border-color: white !important;
  /* círculo blanco */
  background-color: transparent !important;
  /* interior transparente */
}

/* La X */
.swal2-popup .swal2-error .swal2-x-mark-line-left,
.swal2-popup .swal2-error .swal2-x-mark-line-right {
  background-color: white !important;
  /* la X en blanco */
}

td:hover {
  cursor: pointer;
}
