<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 px-0 py-1 justify-content-start sombra cabecera border">
         <div class="col-sm-12 p-0.">
            <div class="row p-0">

               <div class="input-group input-group-sm col-md-3 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <label class="input-group-text" id="inputGroup-sizing-sm">Certificación</label>
                  </div>
                  <input type="number" class="form-control text-center" [value]="iCertificacion.numero" readonly
                     tabindex="-1">
                  <div class="dropdown input-group-apppend">
                     <button type="button" class="btn btn-xs dropdown-toggle btn-info pb-2" data-toggle="dropdown"
                        (click)="actual()" aria-expanded="false">
                     </button>
                     <div class="dropdown-menu dropdown-menu-left border roboto sombra bg-info py-0"
                        (click)="$event.stopPropagation()">
                        <div class="p-1 text-center text-white">
                           <!-- Barra de navegación -->
                           <div class="btn-group btn-group-sm" role="group">
                              <button class="btn btn-info" (click)="irPrimero()">⏮</button>
                              <button class="btn btn-info" (click)="retroceder()">◀</button>
                              <input #nav type="number"
                                 class="form-control form-control-sm text-center nav-input nav-input-wide"
                                 [(ngModel)]="navegador" [ngModelOptions]="{standalone: true}"
                                 (keyup.enter)="irA(navegador)" (change)="irA(navegador)" min="1">
                              <button class="btn btn-info" (click)="avanzar()">▶</button>
                              <button class="btn btn-info" (click)="irUltimo()">⏭</button>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

               <div class="input-group input-group-sm col-sm-2 mb-1 mr-0 ">
                  <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Fecha</span>
                  </div>
                  <input type="text" class="form-control text-center" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iCertificacion.fecha" readonly tabindex="-1">
               </div>
               <div class="input-group input-group-sm col-sm-3 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Doc</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iCertificacion.docu" readonly tabindex="-1">
               </div>

               <div class="input-group input-group-sm col-sm-4 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Responsable</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="iCertificacion.respon" readonly tabindex="-1">

                  <div class="btn-group ml-auto mt-0 px-0">
                     <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right"
                        data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
                     </button>
                     <div class="dropdown-menu dropdown-menu-right bg-dark roboto px-0">
                        <button class="dropdown-item" type="button" [disabled]="swnuevo || swmodificar"
                           (click)="nuevo()">
                           <i class="bi-file-earmark-plus text-info"></i>&nbsp; Nuevo</button>
                        <button class="dropdown-item" type="button" (click)="imprimir()">
                           <i class="bi bi-printer text-info"></i>&nbsp; Imprimir / Exportar</button>
                        <button class="dropdown-item" type="button" (click)="regresar()">
                           <i class="bi-arrow-left-circle text-info"></i>&nbsp; Regresar</button>
                        <button class="dropdown-item" type="button" (click)="cerrar()">
                           <i class="bi-x-circle text-info"></i>&nbsp; Cerrar</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-sm-12">
         <table *ngIf="partixcerti.length > 0" class="table table-hover table-bordered table-sm sombra">
            <thead class="cabecera">
               <tr class="pad0">
                  <th>Partida</th>
                  <th>Denominación</th>
                  <th class="text-right">Saldo</th>
                  <th class="text-right">Valor</th>
                  <th class="text-right col-sm-1 small font-weight-bold roboto">Nuevo saldo</th>
                  <th class="text-right col-sm-1 text-truncate">Compromiso</th>
                  <th>Descripción</th>
                  <th class="text-center">
                     <div class="col-sm px-0">
                        <button class="bg-transparent border-0 toolt" type="button" data-toggle="tooltip"
                           title={{iCertificacion.descripcion}} disabled>
                           <i class="bi-file-text-fill text-white"></i>
                        </button>
                     </div>
                  </th>
               </tr>
            </thead>
            <tbody class="detalle roboto small pad0">
               <tr class="fila" *ngFor="let partixcerti of partixcerti; let i=index">
                  <td>{{ partixcerti.intpre.codpar}}</td>
                  <td class="text-truncate ancho toolt" data-toggle="tooltip"
                     [title]="partixcerti.intpre.nompar.length > 60 ? partixcerti.intpre.nompar : ''">{{
                     partixcerti.intpre.nompar }}</td>

                  <td class="text-right">{{ partixcerti.saldo | number: '1.2-2'}}</td>
                  <td class="text-right" [class.tachado]="partixcerti.swreinte == 1">{{ partixcerti.valor | number: '1.2-2'}}</td>
                  <td class="text-right" [class.tachado]="partixcerti.swreinte == 1">{{ partixcerti.saldo - partixcerti.valor | number: '1.2-2'}}</td>
                  <td class="text-right">{{ partixcerti.totprmisos | number: '1.2-2'}}</td>
                  <td class="text-truncate ancho" data-toggle="tooltip"
                     [title]="partixcerti.descripcion.length > 60 ? partixcerti.descripcion : ''">{{
                     partixcerti.descripcion }}</td>
                  <td class="text-center">
                     <div class="btn-group py-0">
                        <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0" data-toggle="dropdown"
                           aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right popLista">
                           <button class="dropdown-item" type="button"
                              [disabled]="swnuevo || swmodificar || partixcerti.totprmisos > 0 || partixcerti.swreinte == 1"
                              (click)="modificar(partixcerti)">
                              <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                           <button class="dropdown-item" type="button"
                              [disabled]="swnuevo || swmodificar || partixcerti.totprmisos > 0 || partixcerti.swreinte == 1"
                              (click)="eliminar( partixcerti )">
                              <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                        </div>
                     </div>
                  </td>
               </tr>
            </tbody>
            <tfoot *ngIf="partixcerti.length > 1" class="font-weight-bold detalle roboto small pad0">
               <td colspan="3">TOTAL</td>
               <td class="text-right">{{sumValor | number: '1.2-2'}}</td>
               <td></td>
               <td class="text-right">{{sumTotprmisos | number: '1.2-2'}}</td>
               <td colspan="2">
            </tfoot>
         </table>
      </div>
   </div>

   <!-- Nueva partida de la certificación -->
   <div *ngIf="swnuevo" class="row mb-0 justify-content-center">
      <div class="card card-body col-sm-8 detalle sombra pt-0 px-2">
         <div class="row mt-0 justify-content-center text-center">
            <div class="col-sm-12 cabecera border">
               <h5 class="font-weight-bold mt-2">Nueva Partida de la Certificación Nro: {{iCertificacion.numero}}</h5>
            </div>
         </div>
         <form [formGroup]="formPartixcerti" class="px-3">
            <div class="row">

               <div class="form-group col-md-12">
                  <div class="input-group input-group-sm mt-3">
                     <div class="input-group-prepend">
                        <label class="input-group-text">Partida<sup class="green">*</sup></label>
                     </div>
                     <input type="text" class="form-control form-control-sm col-sm-4" formControlName="intpre" autoFocus
                        list="codparList" (input)="onPartidaSelected($event); partidaxCodpar($event)"
                        [ngClass]="{'is-invalid': f['intpre'].invalid && f['intpre'].touched,'is-valid': f['intpre'].valid, '': f['intpre'].untouched}">
                     <datalist role="listbox" id="codparList">
                        <option *ngFor="let partida of presupue" value={{partida.codpar}}>
                           {{partida.nompar}}</option>
                     </datalist>
                     <input type="text" class="form-control form-control-sm col-sm-8" formControlName="nompar"
                        aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly tabIndex="-1">
                  </div>
                  <div *ngIf="authService.msgval && f['intpre'].errors && f['intpre'].touched">
                     <div *ngIf="f['intpre'].errors['required']"
                        class="alert alert-warning m-0 px-1 py-0 robotosmall border" role="alert">
                        <strong>Ups!</strong> La Partida es obligatorio
                     </div>
                     <div *ngIf="f['intpre'].errors['invalido']"
                        class="alert alert-warning m-0 px-1 py-0 robotosmall border" role="alert">
                        <strong>Ups!</strong> No ha seleccionado una Partida
                     </div>
                  </div>
               </div>

               <div class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold">Saldo<sup class="green">*</sup></span>
                     </div>
                     <input type="text" class="form-control form-control-sm text-right" formControlName="saldo"
                        aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly tabIndex="-1"
                        appVisualFormat [minDecimals]="2" [maxDecimals]="2">
                  </div>
               </div>

               <div class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold">Valor<sup class="green">*</sup></span>
                     </div>
                     <input type="text" class="form-control form-control-sm text-right" formControlName="valor"
                        appVisualFormat [minDecimals]="2" [maxDecimals]="2" (focus)="seleccionarTexto($event)"
                        [ngClass]="{'is-invalid': f['valor'].invalid && f['valor'].touched, 'is-valid': f['valor'].valid, '': f['valor'].untouched}">
                  </div>
                  <div *ngIf="authService.msgval && f['valor'].errors && f['valor'].touched">
                     <div *ngIf="f['valor'].errors['required']"
                        class="alert alert-warning m-0 px-1 py-0 robotosmall border" role="alert">
                        <strong>Ups!</strong> El valor es obligatorio
                     </div>
                     <div *ngIf="f['valor'].errors['min']" class="alert alert-warning m-0 px-1 py-0 robotosmall border"
                        role="alert">
                        <strong>Ups!</strong> No puede ser menor a 0.01
                     </div>
                     <div *ngIf="f['valor'].errors['invalido']"
                        class="alert alert-warning m-0 px-1 py-0 robotosmall border" role="alert">
                        <strong>Ups!</strong> No puede ser mayor que <strong>{{f['saldo'].value |
                           number:'1.2-2'}}</strong>
                     </div>
                  </div>
               </div>

               <div class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold"
                           [ngClass]="{'text-danger': partida.newsaldo < 0}">Nuevo Saldo</span>
                     </div>
                     <input type="text" class="form-control form-control-sm text-right" formControlName="newsaldo"
                        appVisualFormat [minDecimals]="2" [maxDecimals]="2" readonly tabIndex="-1"
                        [ngClass]="{'text-danger': partida.newsaldo < 0}">
                  </div>
               </div>

               <div class="form-group col-md-12 my-0">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <label class="input-group-text">Descripción</label>
                     </div>
                     <textarea class="form-control" formControlName="descripcion" rows="3"></textarea>
                  </div>
               </div>

            </div>

            <div class="mt-3 text-center">
               <button type="submit" class="btn btn-success btn-sm mx-1" [disabled]="!formPartixcerti.valid"
                  (click)="guardar()">
                  <i class="fa fa-check-circle"></i> Aceptar</button>
               <button type="button" class="btn btn-success mx-1 btn-sm" (click)="cancelar()"><i
                     class="fa fa-times-circle"></i> Cancelar
               </button>
            </div>
         </form>
      </div>
   </div>

   <!-- Modificar partida de la certificación -->
   <div *ngIf="swmodificar" class="row mb-0 justify-content-center">
      <div class="card card-body col-sm-8 detalle sombra pt-0 px-2">
         <div class="row mt-0 justify-content-center text-center">
            <div class="col-sm-12 cabecera border">
               <h5 class="font-weight-bold mt-2">Modificar Partida de la Certificación Nro: {{iCertificacion.numero}}
               </h5>
            </div>
         </div>
         <form [formGroup]="formPartixcerti" class="px-3">
            <div class="row">

               <div class="form-group col-md-12 mt-3">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <label class="input-group-text">Partida<sup class="green">*</sup></label>
                     </div>
                     <input type="text" class="form-control form-control-sm col-sm-4" formControlName="codpar" readonly
                        tabIndex="-1">
                     <input type="text" class="form-control form-control-sm col-sm-8" formControlName="nompar"
                        aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly tabIndex="-1">
                  </div>
               </div>

               <div class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <label class="input-group-text">Saldo<sup class="green">*</sup></label>
                     </div>
                     <input type="text" class="form-control form-control-sm text-right" formControlName="saldo"
                        appVisualFormat [minDecimals]="2" [maxDecimals]="2" readonly tabIndex="-1">
                  </div>
               </div>

               <div class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <label class="input-group-text">Valor<sup class="green">*</sup></label>
                     </div>
                     <input type="text" class="form-control form-control-sm text-right" formControlName="valor"
                        appVisualFormat [minDecimals]="2" [maxDecimals]="2" (focus)="seleccionarTexto($event)"
                        [ngClass]="{'is-invalid': f['valor'].invalid && f['valor'].touched, 'is-valid': f['valor'].valid, '': f['valor'].untouched}">
                  </div>
                  <div *ngIf="authService.msgval && f['valor'].errors && f['valor'].touched">
                     <div *ngIf="f['valor'].errors['required']"
                        class="alert alert-warning m-0 px-1 py-0 robotosmall border" role="alert">
                        <strong>Ups!</strong> El valor es obligatorio
                     </div>
                     <div *ngIf="f['valor'].errors['min']" class="alert alert-warning m-0 px-1 py-0 robotosmall border"
                        role="alert">
                        <strong>Ups!</strong> No puede ser menor a 0.01
                     </div>
                     <div *ngIf="f['valor'].errors['invalido']"
                        class="alert alert-warning m-0 px-1 py-0 robotosmall border" role="alert">
                        <strong>Ups!</strong> No puede ser mayor que <strong>{{f['saldo'].value |
                           number:'1.2-2'}}</strong>
                     </div>
                  </div>
               </div>

               <div class="form-group col-md-4">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <label class="input-group-text" [ngClass]="{'text-danger': partida.newsaldo < 0}">Nuevo
                           Saldo</label>
                     </div>
                     <input type="text" class="form-control form-control-sm text-right" formControlName="newsaldo"
                        appVisualFormat [minDecimals]="2" [maxDecimals]="2" readonly tabIndex="-1"
                        [ngClass]="{'text-danger': partida.newsaldo < 0}">
                  </div>
               </div>

               <div class="form-group col-md-12 my-0">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <label class="input-group-text">Descripción</label>
                     </div>
                     <textarea class="form-control" formControlName="descripcion" rows="3"></textarea>
                  </div>
               </div>

            </div>

            <div class="mt-3 text-center">
               <button type="submit" class="btn btn-success btn-sm mx-1"
                  [disabled]="formPartixcerti.pristine || !formPartixcerti.valid" (click)="actualizar()">
                  <i class="fa fa-check-circle"></i> Aceptar</button>
               <button type="button" class="btn btn-success mx-1 btn-sm" (click)="cancelar()"><i
                     class="fa fa-times-circle"></i> Cancelar
               </button>
            </div>
         </form>
      </div>
   </div>


</div>

<div *ngIf="partixcerti.length == 0 && !swnuevo && swbusca" class="content mt-5">
   <div class="container-fluid">
      <div class="row justify-content-center">
         <div class="card col-sm-6 card-inclinada">
            <div class="card-body text-center">
               <p class="texto-inclinado  opaco" (mouseenter)="hover = true" (mouseleave)="hover = false"
                  [ngClass]="{ 'no-opaco': hover }">¡ No existen registros !</p>
            </div>
         </div>
      </div>
   </div>
</div>