.cabecera {
   background-color: var(--bgcolor1);
   color: white;
}

.detalle {   background-color: var(--bgcolor2);}

.ancho300 {   max-width: 300px;}
.toolt:hover {   cursor: help;}
.bg-modificar:hover {   background-color: #2788b4; }

.nav-input-wide { width: 100px;}
