<div *ngIf="asiento" class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 px-0 py-1 justify-content-start sombra cabecera border">
         <div class="col-sm-12 p-0.">
            <div class="row p-0">
               <div class="input-group input-group-sm col-sm-4 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <label class="input-group-text" id="inputGroup-sizing-sm">Asiento</label>
                  </div>
                  <input type="text" class="form-control text-center" [value]="asiento ? asiento.asiento : ''" readonly
                     tabindex="-1">
                  <div class="dropdown d-inline-block">
                     <button type="button" class="btn btn-xs dropdown-toggle btn-info pb-2" data-toggle="dropdown"
                        (click)="actual(1)" aria-expanded="false">
                     </button>
                     <div class="dropdown-menu dropdown-menu-left border roboto sombra bg-info py-0"
                        (click)="$event.stopPropagation()">
                        <div class="p-1 text-center text-white">
                           <!-- Barra de navegación -->
                           <div class="btn-group btn-group-sm" role="group">
                              <button class="btn btn-info" (click)="irPrimero(1)">⏮</button>
                              <button class="btn btn-info" (click)="retroceder(1)">◀</button>
                              <input #nav type="number" class="form-control form-control-sm text-center nav-input"
                                 [(ngModel)]="navegadorActual" [ngModelOptions]="{standalone: true}"
                                 (keyup.enter)="irA(1, +nav.value)" (change)="irA(1, +nav.value)" min="1">
                              <button class="btn btn-info" (click)="avanzar(1)">▶</button>
                              <button class="btn btn-info" (click)="irUltimo(1)">⏭</button>
                           </div>
                        </div>
                     </div>
                  </div>

                  <input type="text" class="form-control text-center"
                     [value]="asiento ? authService.comprobante(asiento.tipcom, asiento.compro) : ''" readonly
                     tabindex="-1">
                  <div class="dropdown d-inline-block">
                     <button type="button" class="btn btn-xs dropdown-toggle btn-info pb-2" data-toggle="dropdown"
                        aria-expanded="false" (click)="actual(2)">
                     </button>
                     <div class="dropdown-menu dropdown-menu-left border roboto sombra bg-info py-0"
                        (click)="$event.stopPropagation()">
                        <div class="p-1 text-center text-white">
                           <!-- Barra de navegación -->
                           <div class="btn-group btn-group-sm" role="group">
                              <button class="btn btn-info " (click)="irPrimero(2)">⏮</button>
                              <button class="btn btn-info" (click)="retroceder(2)">◀</button>
                              <input #nav2 type="number" class="form-control form-control-sm text-center nav-input"
                                 [(ngModel)]="actualCompro" [ngModelOptions]="{standalone: true}"
                                 (keyup.enter)="irA(2, +nav2.value)" (change)="irA(2, +nav2.value)" min="1">
                              <button class="btn btn-info" (click)="avanzar(2)">▶</button>
                              <button class="btn btn-info" (click)="irUltimo(2)">⏭</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="input-group input-group-sm col-sm-2 mb-1 mr-0 ">
                  <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Fecha</span>
                  </div>
                  <input type="text" class="form-control text-center" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="asiento.fecha | date: 'dd-MM-yyyy'" readonly
                     tabindex="-1">
               </div>
               <div class="input-group input-group-sm col-sm-2 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Doc</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="asiento.intdoc.nomdoc + ' ' + asiento.numdoc"
                     readonly tabindex="-1">
               </div>
               <div class="input-group input-group-sm col-sm-4 mb-1 ml-0">
                  <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Beneficiario</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-sm" [value]="asiento.idbene.nomben" readonly tabindex="-1">

                  <div class="btn-group ml-auto mt-0 px-0">
                     <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right"
                        data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
                     </button>

                     <div class="dropdown-menu dropdown-menu-right bg-dark roboto px-0">
                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#addTransa">
                           <i class="bi-file-earmark-plus text-info"></i>&nbsp; Nuevo</button>
                        <button class="dropdown-item" type="button" (click)="imprimir()">
                           <i class="bi bi-printer text-info"></i>&nbsp; Imprimir / Exportar</button>
                        <button class="dropdown-item" type="button" [class.disabled]="padre === 'Ninguno'"
                           [style.pointer-events]="padre === 'ninguno' ? 'none' : 'auto'"
                           (click)="padre !== 'Ninguno' && regresar()">
                           <i class="bi-arrow-left-circle" [class.text-muted]="padre === 'Ninguno'"
                              [class.text-info]="padre !== 'Ninguno'"></i>&nbsp; Regresar
                        </button>
                        <button class="dropdown-item" type="button" (click)="cerrar()">
                           <i class="bi-x-circle text-info"></i>&nbsp; Cerrar</button>
                     </div>
                  </div>
               </div>
            </div>

         </div>

      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <table *ngIf="transaci.length > 0" class="table table-hover table-bordered table-striped table-sm sombra mb-1">
            <thead class="cabecera">
               <tr class="pad0">
                  <th>Cuenta</th>
                  <th>Denominación</th>
                  <th>Beneficiario</th>
                  <th class="text-right">Debe</th>
                  <th class="text-right">Haber</th>
                  <th class="text-center">T</th>
                  <th>Documento</th>
                  <th class="text-center">
                     <div class="col-sm px-0">
                        <i class="bi-file-text-fill text-white toolt" data-toggle="tooltip" title={{asiento.glosa}}></i>
                     </div>
                  </th>
               </tr>
            </thead>
            <tbody class="detalle roboto small">
               <tr *ngFor="let transa of transaci; let i=index" class="pad0" (click)="onCellClick($event, transa )">
                  <td><i *ngIf="transa.inttra == ultIdSelec"
                        class="bi bi-caret-right-fill text-primary"></i>{{transa.codcue}}</td>
                  <td>{{transa.idcuenta.nomcue}}</td>
                  <td [ngClass]="{'transparente': transa.idbene.idbene == 1, 'cursor fila': transa.idbene.idbene > 1}"
                     data-toggle="tooltip" [title]="transa.idbene.idbene > 1 ? 'Modificar' : ''"
                     (click)="transa.idbene.idbene > 1 && modificar(transa.inttra, transa.tiptran)">
                     {{transa.idbene.nomben}}
                     <ng-container *ngIf="transa.totbene > 1"> (y {{ transa.totbene - 1 }} más) </ng-container>
                  </td>
                  <td class="text-right"
                     [ngClass]="{'transparente': transa.valor  * (transa.debcre === 1 ? 1 : 0) == 0}">{{ transa.valor *
                     (transa.debcre === 1 ? 1 : 0) | number: '1.2-2'}}</td>
                  <td class="text-right"
                     [ngClass]="{'transparente': transa.valor  * (transa.debcre === 2 ? 1 : 0) == 0}">{{ transa.valor *
                     (transa.debcre === 2 ? 1 : 0) | number: '1.2-2'}}</td>
                  <td class="text-center" [ngClass]="{'transparente': transa.tiptran == 0, 'toolt': transa.tiptran > 0}"
                     title="{{tiptranNombre(transa.tiptran)}}">{{transa.tiptran}}</td>
                  <td *ngIf="transa.intdoc.intdoc > 1">{{transa.intdoc.nomdoc + ' '+transa.numdoc}}</td>
                  <td *ngIf="transa.intdoc.intdoc == 1">{{transa.numdoc}}</td>
                  <td class="text-center">
                     <div class="btn-group py-0">
                        <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0" data-toggle="dropdown"
                           aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right popLista">
                           <button class="dropdown-item" type="button"
                              (click)="modificar( transa.inttra, transa.tiptran )">
                              <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                           <button class="dropdown-item" type="button" (click)="eliminar( transa )">
                              <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                        </div>
                     </div>
                  </td>
               </tr>
            </tbody>
            <tfoot class="font-weight-bold detalle roboto small pad0" [ngClass]="{'text-danger': totDebe != totHaber }">
               <td></td>
               <td>TOTAL: {{transaci.length}} </td>
               <td></td>
               <td class="text-right">{{ totDebe | number:'1.2-2'}}</td>
               <td class="text-right">{{ totHaber | number:'1.2-2'}}</td>
               <td></td>
               <td *ngIf="totDebe !== totHaber">Diferencia: {{totDebe - totHaber | number:'1.2-2'}}</td>
               <td *ngIf="totDebe == totHaber"></td>
               <td class="text-center">
                  <button *ngIf="ejecucio.length > 0" type="button" class="btn btn-xs dropdown-toggle py-0 btn-info"
                     data-toggle="collapse" title="Ejecución presupuestaria" aria-expanded="false"
                     data-target="#ejecucion">
                  </button>
               </td>
            </tfoot>
         </table>

         <!-- Ejecución Presupuestaria -->
         <div class="collapse" id="ejecucion">
            <table class="table table-hover table-bordered table-sm sombra">
               <thead class="cabecera">
                  <tr class="pad0">
                     <th>Partida</th>
                     <th>Denominación</th>
                     <th class="text-right">Devengado</th>
                     <th class="text-right">Cobro/Pago</th>
                     <th>Concepto</th>
                  </tr>
               </thead>
               <tbody class="detalle roboto small">
                  <tr *ngFor="let ejecu of ejecucio; let i=index" class="pad0"
                     (click)="onCellEjecucion($event, ejecu )">
                     <td class="ancho300"><i *ngIf="ejecu.inttra == ultIdSelec"
                           class="bi bi-caret-right-fill text-primary"></i>{{ejecu.codpar}}</td>
                     <td class="text-truncate ancho300" data-toggle="tooltip"
                        [ngClass]="{'toolt': ejecu.intpre.nompar.length > 45}"
                        [title]="ejecu.intpre.nompar.length > 45 ? ejecu.intpre.nompar : ''">
                        {{ ejecu.intpre.nompar }}
                     </td>
                     <td class="text-right" [ngClass]="{'transparente': ejecu.devengado == 0}">{{ejecu.devengado |
                        number:'1.2-2' }}</td>
                     <td class="text-right" [ngClass]="{'transparente': ejecu.cobpagado == 0}">{{ejecu.cobpagado |
                        number:'1.2-2' }}</td>
                     <td class="text-left text-truncate ancho450" data-toggle="tooltip"
                        [ngClass]="{'toolt': ejecu.concep.length > 70}"
                        [title]="ejecu.concep.length > 70 ? ejecu.concep : ''">{{ ejecu.concep }}</td>
                  </tr>
               </tbody>
               <tfoot *ngIf="ejecucio.length > 1" class="font-weight-bold detalle roboto small pad0">
                  <td></td>
                  <td>TOTAL: {{ejecucio.length}} </td>
                  <td class="text-right">{{ totDevengado | number:'1.2-2'}}</td>
                  <td class="text-right">{{ totCobpagado | number:'1.2-2'}}</td>
                  <td></td>
               </tfoot>
            </table>
         </div>
      </div>
   </div>
</div>

<!-- Modal Tipo de Transacción (En nuevo) -->
<div class='modal fade' id='addTransa' tabindex='-1' aria-hidden='true'>
   <div class='modal-dialog modal-sm'>
      <div class='modal-content'>
         <div class='modal-header justify-content-center cabecera border py-2'>
            <h5 class='modal-title font-weight-bold' id='ModalLabel'>Tipo de Transacción</h5>
         </div>
         <div class='modal-body text-center roboto detalle'>
            <select class="form-control form-control-sm" id="tiptran" [(ngModel)]="tiptran" (change)="nuevo()">
               <option value="" disabled selected>Seleccione el tipo...</option>
               <option value="0">0 General</option>
               <option value="1">1 Desde trámite</option>
               <option value="2">2 Anticipo</option>
               <option value="3">3 Cuenta por cobrar</option>
               <option value="4">4 Cuenta por cobrar año anterior</option>
               <option value="5">5 Depósitos y fondos de terceros</option>
               <option value="6">6 Cuenta por pagar</option>
               <option value="7">7 Cuenta por pagar año anterior</option>
               <option value="8">8 Liquidación de anticipo</option>
               <option value="9">9 Cobro</option>
               <option value="10">10 Cobro del año anterior</option>
               <option value="11">11 Liquidación Depósitos o fondos de terceros</option>
               <option value="12">12 Pago</option>
               <option value="13">13 Pago año anterior (presupuestario)</option>
            </select>
         </div>
         <div class='modal-footer justify-content-center detalle border py-1'>
            <!-- <button type='button' class='btn btn-success btn-sm' data-dismiss='modal' id='btnSi' (click)="nuevo()">
               <i class="fa fa-check-circle"></i> Aceptar
            </button> -->
            <button type='button' class='btn btn-outline-success btn-sm' data-dismiss='modal' (click)="cancelar()">
               <i class="fa fa-times-circle" style="font-size:24pxi"></i> Cancelar</button>
         </div>
      </div>
   </div>
</div>

<div *ngIf="transaci.length == 0 && swbusca" class="content mt-5">
   <div class="container-fluid">
      <div class="row justify-content-center">
         <div class="card col-sm-6 card-inclinada">
            <div class="card-body text-center">
               <p class="texto-inclinado  opaco" (mouseenter)="hover = true" (mouseleave)="hover = false"
                  [ngClass]="{ 'no-opaco': hover }">¡ No existen registros !</p>
            </div>
         </div>
      </div>
   </div>
</div>