.container-fluid{
   --color1: rgb(144, 147, 148);
   --color2: rgb(200, 202, 202);
}

.titTabla4 {
   background-color: var(--color1);
   color: white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fondoTabla4{
   background-color: var(--color2);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input:required{
   border-left-style: solid;
   border-left-color: var(--color1);
   border-left-width: 4px;
}
