<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 px-0 pt-1 justify-content-start border cabecera sombra">
         <div class="col-sm-2">
            <h4 class="font-weight-bold"><i class="fa fa-calendar"></i> Planillas</h4>
         </div>
         <div class="col-sm-10">
            <form [formGroup]="formBuscar">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-2">
                           <input class="form-control form-control-sm text-center" type="text" placeholder="Planilla"
                              formControlName="idfactura" (keyup)="keyupIdfactura($event)">
                        </div>
                        <div class="col-sm-2">
                           <input class="form-control form-control-sm text-center" type="text" placeholder="Abonado"
                              formControlName="idabonado" (keyup)="keyupIdabonado($event)">
                        </div>
                        <div *ngIf="campo == 2" class="col-sm-2">
                           <input type="date" class="form-control form-control-sm text-center"
                              formControlName="fechaDesde" max="{{ today | date : 'yyyy-MM-dd' }}" />
                        </div>
                        <div *ngIf="campo == 2" class="col-sm-2">
                           <input type="date" class="form-control form-control-sm text-center"
                              formControlName="fechaHasta" max="{{ date | date : 'yyyy-MM-dd' }}">
                        </div>
                        <div class="col-sm-2">
                           <button class="btn btn-primary btn-sm" type="button" (click)="buscar()"
                              [disabled]="campo == 0">
                              <i class="fa fa-search"></i> Buscar
                           </button>
                           <!-- <button *ngIf="buscando" class="btn btn-primary btn-sm" type="button"> Buscando... </button> -->
                        </div>
                        <div *ngIf="swbusca" class="col-sm-2 px-2">
                           <input class="form-control form-control-sm text-center" type="text" placeholder="Filtrar..."
                              [(ngModel)]="filtro" [ngModelOptions]="{standalone: true}" />
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-md-12">
         <table *ngIf="swbusca" class="table table-hover table-bordered table-sm sombra">
            <thead class="cabecera">
               <tr class="text-center">
                  <th class="col-sm-1">Nro</th>
                  <th class="col-sm-1">Fecha</th>
                  <th class="col-sm-4">Cliente</th>
                  <th class="col-sm-2">Módulo</th>
                  <th class="col-sm-2">Fac.Electrónica</th>
                  <th class="col-sm-1">F.Cobro</th>
                  <th class="col-sm-1">Valor</th>
                  <th></th>
               </tr>
            </thead>
            <tbody class="detalle">
               <tr *ngFor="let fac of _facturas | filter: filtro; let i = index" (click)="info($event, fac.idfactura)"
                  class="fila">
                  <td class="text-center">{{ fac.idfactura }}</td>
                  <td class="text-center">{{ fac.feccrea | date :'dd-MM-y' }}</td>
                  <td>{{ fac.idcliente.nombre }}</td>
                  <td class="small">{{ fac.idmodulo.descripcion }}</td>
                  <td class="text-center">{{ fac.nrofactura }}</td>
                  <td class="text-center">{{ fac.fechacobro | date: 'dd-MM-y' }}</td>
                  <td class="text-right">{{ fac.totaltarifa | number: '1.2-2' }}</td>
                  <td class="text-center">
                     <div class="btn-group py-0">
                        <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0" data-toggle="dropdown"
                           aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right popLista">
                           <button class="dropdown-item" type="button" [disabled]="(usuario != 1 && usuario != 11)"
                              (click)="recalcular( fac.idfactura )">
                              <i class="bi-calculator-fill"></i>&nbsp; Recalcular</button>
                           <button class="dropdown-item" type="button" data-toggle="modal" data-target="#elimInteres"
                              disabled>
                              <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                        </div>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>