<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row mt-0 mb-1 mx-1 px-0 py-1 justify-content-start abonado border">
         <div class="col-sm-5">
            <h5 class="m-0 font-weight-bold"><i class="fa fa-building"></i> Abonado</h5>
         </div>
         <div class="btn-group ml-auto mx-0" [hidden]="swreturn">
            <button type="button" class="bg-transparent border-0 dropdown-toggle text-white" data-toggle="dropdown"
               aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
               <button class="dropdown-item" type="button" data-toggle="modal" (click)="swEmail = false"
                  data-target="#imprimir">
                  <i class="bi bi-printer"></i>&nbsp; Imprimir</button>
               <button class="dropdown-item" type="button">
                  <i class="bi-file-earmark-arrow-down"></i>&nbsp; Exportar</button>
               <button class="dropdown-item" type="button" disabled data-toggle="modal" data-target="#condonar">
                  <!--  (click)="calcularDeudasAC()"> -->
                  <i class="bi bi-exclude"></i>&nbsp; Condonar deudas</button>
               <button class="dropdown-item" type="button" (click)="swEmail = true" [disabled]="usuario != 1"
                  (click)="getSinCobro()" data-toggle="modal" data-target="#sendNotification">
                  <!--  (click)="calcularDeudasAC()"> -->
                  <i class="bi bi-exclude"></i>&nbsp;Enviar notificacion e-mail</button>
            </div>
            <div class="col-sm-1">
               <button class="bg-transparent border-0" type="submit" (click)="regresar()">
                  <i class="bi-arrow-left-circle text-white icoRegresar"></i>
               </button>
            </div>

         </div>
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="row mb-0">
      <div class="col-sm-3">
         <div class="card card-outline cardAbonado">
            <div class="card-body box-profile">
               <h3 class="profile-username text-center"><strong>Cuenta:</strong> {{abonado.idabonado}}</h3>
               <p class="text-muted text-center"> {{abonado.nombre}} </p>
               <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                     <b>Categoría</b> <a class="float-right">{{abonado.categoria}}</a>
                  </li>
                  <li class="list-group-item">
                     <b>Estado</b> <a class="float-right"
                        [ngClass]="{'fontwarning': abonado.estado === 0,'fantacygreen': abonado.estado === 2 || abonado.estado === 3}">{{
                        abonado.textestado }}</a>
                  </li>
                  <li class="list-group-item">
                     <b>Nro. Medidor</b> <a class="float-right">{{abonado.nromedidor}}</a>
                  </li>
                  <li class="list-group-item">
                     <b>Fecha instalación</b> <a class="float-right">{{ abonado.fechainstalacion | date: 'dd-MM-y'}}</a>
                  </li>
                  <li class="list-group-item">
                     <b>Ruta</b> <a class="float-right">{{ abonado.ruta }}</a>
                  </li>
                  <li class="list-group-item">
                     <b>Dirección</b> <a class="float-right">{{ abonado.direccionubicacion }}</a>
                  </li>
                  <li class="list-group-item">
                     <b>Responsable pago</b> <a class="float-right">{{ abonado.responsablepago }}</a>
                  </li>
                  <li class="list-group-item">
                     <b>Adulto mayor</b> <a class="float-right">
                        <i class="bi bi-check2-square" *ngIf="abonado.adultomayor "></i>
                        <i class="bi bi-square" *ngIf="!abonado.adultomayor"></i>
                     </a>
                  </li>
                  <li class="list-group-item">
                     <b>Municipio</b> <a class="float-right">
                        <i class="bi bi-check2-square" *ngIf="abonado.municipio "></i>
                        <i class="bi bi-square" *ngIf="!abonado.municipio"></i></a>
                  </li>
               </ul>
               <div class="row justify-content-center" [hidden]="swreturn">
                  <button class="btn btn-warning btn-xs mx-1" type="button" (click)="modiAbonado( abonado.idabonado )">
                     <i class="fa fa-edit" style="font-size:24pxi"></i>
                     Modificar
                  </button>
                  <button class="btn btn-danger btn-xs mx-1" [disabled]="elimdisabled" data-toggle="modal"
                     data-target="#modalEliminar">
                     <i class="fa fa-times-circle" style="font-size:24pxi"></i>
                     Eliminar
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-9">
         <div class="card mt-2">
            <div class="card-header cardTab">
               <ul class="nav nav-tabs card-header-tabs cardTab">
                  <li class="nav-item"><a class="nav-link active cardTab" href="#planillas"
                        data-toggle="tab">Planillas</a>
                  </li>
                  <li class="nav-item"><a class="nav-link cardTab" href="#historialconsumo"
                        (click)="lecturasxAbonado( abonado.idabonado )" data-toggle="tab">Historial de Consumo</a>
                  </li>
                  <li class="nav-item"><a class="nav-link cardTab" href="#conveniopago"
                        (click)="getConveniosPago( abonado.idabonado )" data-toggle="tab">Convenios de pago</a>
                  </li>
                  <li class="nav-item"><a class="nav-link cardTab" href="#georeferencia" (click)="drawCuenta(abonado)"
                        data-toggle="tab">Ubicación</a>
                  </li>
               </ul>
            </div>
            <div class="card-body">
               <div class="tab-content">
                  <div class="active tab-pane" id="planillas">
                     <div class="post">
                        <div class="user-block mb-0">
                           <div class="card-body table-responsive p-0 " style="height: 600px;">
                              <table
                                 class="table table-hover table-sm table-bordered mb-0 table-head-fixed thead-dark text-nowrap table-responsive-sm">
                                 <caption class="small mark">Últimas <strong>{{rango}}</strong>
                                    Planillas&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button
                                       class="btn btn-outline-primary btn-xs">&nbsp;&nbsp;Rango&nbsp;&nbsp;</button>
                                 </caption>
                                 <thead class="">
                                    <tr class="text-center bodyPlanillas">
                                       <th class="text-center pl-0 pr-0">
                                          <input type="number" min=1 class="form-control form-control-sm text-center"
                                             [(ngModel)]="rango" (change)="getFactura()">
                                       </th>
                                       <th class="bodyPlanillas">Nro.</th>
                                       <th class="bodyPlanillas">Fecha</th>
                                       <th class="bodyPlanillas">Módulo</th>
                                       <th class="bodyPlanillas">Factura</th>
                                       <th class="bodyPlanillas">Valor</th>
                                       <th class="bodyPlanillas">Interes</th>
                                       <th class="bodyPlanillas">Fecha Cobro</th>
                                    </tr>
                                 </thead>
                                 <tbody class="bodyPlanillas">
                                    <tr *ngFor="let factura of _facturas; let i = index" class="text-center fila"
                                       data-toggle="modal" data-target="#DetalleFacturaModal"
                                       (click)="getRubroxfac( factura.idfactura )">
                                       <td class="col-1"><i class="bi bi-cash-coin" [hidden]="validarpago(factura)"></i>
                                          {{ i+1}}</td>
                                       <td>{{ factura.idfactura }}</td>
                                       <td>{{factura.feccrea | formatFecha}}</td>
                                       <td class="text-left">{{ factura.idmodulo.descripcion }}</td>
                                       <td>{{factura.nrofactura}}</td>
                                       <td class="text-right">{{valorPagado(
                                          factura.idmodulo.idmodulo,factura.totaltarifa
                                          )| number: '1.2-2'}}</td>
                                       <td>{{formatInteres(factura.interescobrado) }}</td>
                                       <td>{{ factura.fechacobro | date: 'dd-MM-y'}}</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane" id="historialconsumo">
                     <div class="post">
                        <div class="user-block mb-0">
                           <div *ngIf="!grafic" class="row">
                              <div class="col-sm-11">
                                 <table class="table table-hover table-sm table-bordered mb-0">
                                    <thead class="theadHisconsumo">
                                       <tr class="text-center">
                                          <th>Emisión</th>
                                          <th>Consumo</th>
                                          <th>Anterior</th>
                                          <th>Actual</th>
                                          <th>Planilla</th>
                                       </tr>
                                    </thead>
                                    <tbody class="bodyHisconsumo">
                                       <tr *ngFor="let lectura of _lecturas" class="text-center fila"
                                          data-toggle="modal" data-target="#DetalleFacturaModal"
                                          (click)="getRubroxfac( lectura.idfactura )">
                                          <td class="text-left">{{
                                             lectura.idrutaxemision_rutasxemision.idemision_emisiones.emision |
                                             nombreEmision
                                             }}</td>
                                          <td>{{ lectura.lecturaactual - lectura.lecturaanterior | number: '1.0'}}</td>
                                          <td>{{lectura.lecturaanterior | number: '1.0'}}</td>
                                          <td>{{ lectura.lecturaactual | number: '1.0' }}</td>
                                          <td>{{lectura.idfactura}}</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <div class="col-sm-1 mt-1 mx-0 px-0">
                                 <button class="btn btn-sm theadHisconsumo sombra border"
                                    (click)="grafico(abonado.idabonado)">
                                    <i class="bi-bar-chart"></i></button>
                              </div>
                           </div>

                           <!-- <div  class="row col-sm-12"> -->
                           <div class="row col-sm-12 ml-1 mb-0">
                              <div class="row" id="divHistorial">
                                 <canvas id="myChart"></canvas>
                              </div>
                           </div>
                           <!-- </div> -->
                           <div *ngIf="grafic" class="row col-sm-12">
                              <div class="col-sm-12 mx-0 px-0 text-right">
                                 <button class="btn btn-sm theadHisconsumo sombra border" (click)="cerrarGrafico()">
                                    <i class="bi-x-octagon"></i></button>
                              </div>
                           </div>

                        </div>
                     </div>
                  </div>
                  <div class="tab-pane" id="conveniopago">
                     <div class="post">
                        <div class="user-block mb-0">
                           <table *ngIf="swconvenio"
                              class="table table-hover table-sm table-bordered mb-0 table-head-fixed thead-dark text-nowrap table-responsive-sm">
                              <thead class="text-center">
                                 <tr class="">
                                    <th>N°</th>
                                    <th>Nro. convenio</th>
                                    <th>Total convenio</th>
                                    <th>Inicial</th>
                                    <th>Final</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let convenio of _convenios; let i = index"
                                    (click)="info($event, convenio.idconvenio)">
                                    <td class="text-center">{{i+1}}</td>
                                    <td class="text-center">{{convenio.nroconvenio}}</td>
                                    <td class="text-right">{{convenio.totalconvenio.toFixed(2)}}</td>
                                    <td class="text-right">{{convenio.cuotainicial.toFixed(2)}}</td>
                                    <td class="text-right">{{convenio.cuotafinal.toFixed(2)}}</td>
                                 </tr>
                              </tbody>
                           </table>
                           <div class="row" *ngIf="!swconvenio">
                              <div class="col-12">
                                 <div class="info-box bg-gradient-info">
                                    <span class="info-box-icon"><i class="far fa-bookmark"></i></span>
                                    <div class="info-box-content">
                                       <H5 class="info-box-text">Esta cuenta </H5>
                                       <h3>NO TIENE CONVEIOS</h3>
                                    </div>
                                    <!-- /.info-box-content -->
                                 </div>
                                 <!-- /.info-box -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane" id="georeferencia">
                     <div class="post">
                        <div class="user-block mb-0">
                           <div class="card text-center">
                              <!-- Sales Chart Canvas -->
                              <!--  <canvas id="salesChart" height="180" style="height: 180px;"></canvas> -->
                              <div class="card-body">
                                 <ng-container *ngIf="mostrarMapa">
                                    <div id="map"></div>
                                 </ng-container>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="tab-pane" id="historialconsumo1">
                     <div *ngIf="!grafic; then thenBlock else elseBlock"></div>
                     <ng-template #thenBlock>
                        <div class="col-sm-10 ml-5 mb-0">
                           <div class="row">
                              <div class="col-sm-11">
                                 <table class="table table-hover table-sm table-bordered mb-0">
                                    <thead class="theadHisconsumo">
                                       <tr class="text-center">
                                          <th>Emisión</th>
                                          <th>Consumo</th>
                                          <th>Anterior</th>
                                          <th>Actual</th>
                                          <th>Planilla</th>
                                       </tr>
                                    </thead>
                                    <tbody class="bodyHisconsumo">
                                       <tr *ngFor="let lectura of _lecturas" class="text-center fila"
                                          data-toggle="modal" data-target="#DetalleFacturaModal"
                                          (click)="getRubroxfac( lectura.idfactura )">
                                          <td class="text-left">{{
                                             lectura.idrutaxemision_rutasxemision.idemision_emisiones.emision |
                                             nombreEmision
                                             }}</td>
                                          <td>{{ lectura.lecturaactual - lectura.lecturaanterior | number: '1.0'}}</td>
                                          <td>{{lectura.lecturaanterior | number: '1.0'}}</td>
                                          <td>{{ lectura.lecturaactual | number: '1.0' }}</td>
                                          <td>{{lectura.idfactura}}</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <div class="col-sm-1 mt-1 mx-0 px-0">
                                 <button class="btn btn-sm theadHisconsumo sombra border"
                                    (click)="grafico(abonado.idabonado)">
                                    <i class="bi-bar-chart"></i></button>
                              </div>
                           </div>
                        </div>
                     </ng-template>
                     <ng-template #elseBlock>
                        <div class="row">
                           <canvas *ngIf="grafic" id="myChart"></canvas>
                        </div>
                     </ng-template>

                     <div class="col-sm-10 ml-5 mb-0">
                        <div class="row">
                           <div class="col-sm-11">
                              <table class="table table-hover table-sm table-bordered mb-0">
                                 <thead class="theadHisconsumo">
                                    <tr class="text-center">
                                       <th>Emisión</th>
                                       <th>Consumo</th>
                                       <th>Anterior</th>
                                       <th>Actual</th>
                                       <th>Planilla</th>
                                    </tr>
                                 </thead>
                                 <tbody class="bodyHisconsumo">
                                    <tr *ngFor="let lectura of _lecturas" class="text-center fila" data-toggle="modal"
                                       data-target="#DetalleFacturaModal" (click)="getRubroxfac( lectura.idfactura )">
                                       <td class="text-left">{{
                                          lectura.idrutaxemision_rutasxemision.idemision_emisiones.emision |
                                          nombreEmision
                                          }}</td>
                                       <td>{{ lectura.lecturaactual - lectura.lecturaanterior | number: '1.0'}}</td>
                                       <td>{{lectura.lecturaanterior | number: '1.0'}}</td>
                                       <td>{{ lectura.lecturaactual | number: '1.0' }}</td>
                                       <td>{{lectura.idfactura}}</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <div class="col-sm-1 mt-1 mx-0 px-0">
                              <button class="btn btn-sm theadHisconsumo sombra border"
                                 (click)="grafico(abonado.idabonado)">
                                 <i class="bi-bar-chart"></i></button>
                           </div>
                        </div>

                        <!-- <div  class="row col-sm-12"> -->
                        <!-- <div class="row col-sm-12 ml-1 mb-0">
                           <div class="row" id="divHistorial">
                              <canvas *ngIf="grafic" id="myChart"></canvas>
                           </div>
                        </div> -->
                        <!-- </div> -->
                        <!-- <div *ngIf="grafic" class="row col-sm-12">
                              <div class="col-sm-12 mx-0 px-0 text-right">
                                 <button class="btn btn-sm theadHisconsumo sombra border" (click)="cerrarGrafico()">
                                    <i class="bi-x-octagon"></i></button>
                              </div>
                           </div> -->

                     </div>
                  </div>


                  <!-- ===== No Borra: esto funciona en otro TAB ===== -->
                  <!-- <div class="tab-pane" id="grafico">
                     <div class="post">
                        <div class="user-block col-sm-12 ml-1 mb-0">
                           <div>
                              <canvas id="myChart"></canvas>
                           </div>
                        </div>
                     </div>
                  </div> -->

               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Modal DETALLE Planilla -->
   <div class="modal fade" id="DetalleFacturaModal" data-backdrop="static" tabindex="-1"
      aria-labelledby="DetalleFacturaModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header py-2 justify-content-center theadPlanillas">
               <h5 class="modal-title" id="DetalleFacturaModalLabel"><strong>Planilla:</strong> {{idfactura}}</h5>

               <div class="btn-group ml-auto mx-0">
                  <button type="button" class="bg-transparent border-0 dropdown-toggle text-white"
                     data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
                     <button class="dropdown-item" type="button" [disabled]="factura.pagado != 1" data-toggle="modal"
                        (click)="impComprobante(factura)">
                        <i class="bi bi-printer"></i>&nbsp; Comprobante pago</button>
                     <button class="dropdown-item" type="button" [disabled]="factura.pagado != 1"
                        (click)="impFacturaElectronica(factura)">
                        <i class="bi-file-earmark-arrow-down"></i>&nbsp; Factura electrónica</button>
                  </div>
                  <button class="btn btn-sm text-white" [hidden]="facElectro" (click)="facElectro = !facElectro">
                     <i class="fa fa-retweet" aria-hidden="true"></i>
                  </button>
               </div>
            </div>
            <div class="modal-body">
               <div class="row" *ngIf="facElectro else pdfelectro ">
                  <div class="col-sm-6">
                     <table class="table table-hover table-sm table-bordered mb-0">
                        <thead class="theadPlanillas">
                           <tr class="text-center">
                              <th></th>
                              <th class="col-md-6">Rubro</th>
                              <th>Valor</th>
                           </tr>
                        </thead>
                        <tbody class="bodyPlanillas">
                           <tr *ngFor="let rubroxfac of _rubrosxfac; let i=index">
                              <td class="text-center font-weight-bold small">{{i+1}}</td>
                              <td>{{ rubroxfac.idrubro_rubros.descripcion}}</td>
                              <td class="text-right">{{ rubroxfac.valorunitario | number:'1.2-2'}}</td>
                           </tr>
                           <tr>
                              <td></td>
                              <td class="font-weight-bold">Total</td>
                              <td class="font-weight-bold text-right">{{ totfac | number:'1.2-2'}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="col-sm-6">
                     <div class="text-center">
                        <h4>DETALLES</h4>
                     </div>
                     <table class="table table-hover table-sm table-bordered mb-0">
                        <thead>
                           <tr *ngIf="detalleFactura?.nrofactura">
                              <th class="theadPlanillas">Nro. Factura</th>
                              <td class="bodyPlanillas">{{detalleFactura?.nrofactura}}</td>
                           </tr>
                           <tr>
                              <th class="theadPlanillas">Cliente</th>
                              <td class="bodyPlanillas description">{{detalleFactura?.idcliente.nombre}}</td>
                           </tr>
                           <tr *ngIf="detalleFactura?.fechaeliminacion">
                              <th class="theadPlanillas">Fecha eliminación</th>
                              <td class="bodyPlanillas">{{detalleFactura?.fechaeliminacion}}</td>
                           </tr>
                           <tr *ngIf="detalleFactura?.fechaanulacion">
                              <th class="theadPlanillas">Fecha anulación</th>
                              <td class="bodyPlanillas">{{detalleFactura?.fechaanulacion}}</td>
                           </tr>
                           <tr *ngIf="detalleFactura?.fechaconvenio">
                              <th class="theadPlanillas">Fecha convenio</th>
                              <td class="bodyPlanillas">{{detalleFactura?.fechaconvenio}}</td>
                           </tr>
                           <tr>
                              <th class="theadPlanillas">Estado F.E.</th>
                              <td class="bodyPlanillas text-center">{{estadoFE}}</td>
                           </tr>

                        </thead>
                     </table>

                  </div>
               </div>
               <ng-template #pdfelectro>
                  <iframe id="pdfViewer" src="" width="100%" height="600px"></iframe>
               </ng-template>

            </div>
            <div class="modal-footer py-1">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="cancelarFE()" data-dismiss="modal">
                  <i class="fa fa-times-circle"></i> Cerrar</button>
               <button type="button" class="btn btn-success btn-sm"
                  [disabled]="esFE ==='A' || esFE == 'O'  || factura.pagado === 0 || usuario != 1 "
                  (click)="expFacElectronica(idfactura)" data-dismiss="modal">
                  <i class="bi bi-send"></i> Fac. Electronica</button>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- MODAL Imprimir-->
<div class="modal fade" id="imprimir" tabindex="-1" aria-labelledby="imprimirLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-{{modalSize}}">
      <div class="modal-content border">
         <div class='modal-header py-2 justify-content-center cabecera'>
            <h5 class='modal-title font-weight-bold' id='ModalLabel'>Imprimir</h5>
         </div>
         <div class='modal-body cuerpo'>

            <div class="input-group mb-3 input-group-sm" *ngIf="pdfView else pdfHide">
               <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Reporte</label>
               </div>
               <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="opt">
                  <option value="0">Cartas pendientes</option>
               </select>
            </div>
            <ng-template #pdfHide>
               <iframe id="pdfViewer" src="" width="100%" height="600px"></iframe>
            </ng-template>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal"
               (click)="cancelar()">Cancelar</button>
            <button class="btn btn-sm btn-outline-success" (click)="setOptImprimir()">Aceptar</button>

         </div>
      </div>
   </div>
</div>

<!-- MODAL CONDONAR DEUDAS-->
<div class="modal fade" id="condonar" tabindex="-1" aria-labelledby="condonarLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-{{modalSize}}">
      <div class="modal-content border">
         <div class='modal-header py-2 justify-content-center cabecera'>
            <h5 class='modal-title font-weight-bold' id='ModalLabel'>Condonar deuda</h5>
         </div>
         <div class='modal-body cuerpo'>
            <div class="row">
               <div class="col-sm-8">
                  <table class="table table-sm table-hover">
                     <thead>
                        <tr>
                           <th>Cod.Rubro</th>
                           <th>Descripción</th>
                           <th>Valor</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let rubro of c_rubros">
                           <td class="text-center">{{rubro.idrubro_rubros}}</td>
                           <td>{{rubro.descripcion}}</td>
                           <td class="text-right">{{rubro.total.toFixed(2)}}</td>
                        </tr>
                        <tr>
                           <td></td>
                           <td>TOTAL:</td>
                           <td>{{totalRubros.toFixed(2)}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="col-sm-4">
                  <table class="table table-sm table-hover table-bordered">
                     <thead>
                        <tr>
                           <th>Cod.Rubro</th>
                           <th>Descripción</th>
                           <th>Valor</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let m of multa">
                           <td class="text-center">{{m.idrubro_rubros}}</td>
                           <td>{{m.descripcion}}</td>
                           <td class="text-right">{{m.total.toFixed(2)}}</td>
                        </tr>
                        <tr>
                           <td></td>
                           <td>TOTAL:</td>
                           <td>{{totalMultas.toFixed(2)}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="row">
               <div class="col-sm">
                  <textarea name="" id="" class="form-control" [(ngModel)]="razonCondonacion"
                     (change)="razonCondonacionChange($event)"
                     placeholder="Ingresar memorando justificando la condonación de multas e intereses de esta cuenta"></textarea>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button class="btn btn-sm btn-outline-success" data-dismiss="modal" [disabled]="validar()"
               (click)="condonarDeudas()">Aceptar</button>
            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal"
               (click)="cancelar()">Cancelar</button>
         </div>
      </div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sendNotification" tabindex="-1" aria-labelledby="sendNotificationLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="sendNotificationLabel">Enviar notificacion por correo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form [formGroup]="f_sendEmail">
               <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                     <input type="email" formControlName="email" class="form-control form-control-sm" id="inputEmail3">
                  </div>
               </div>

               <fieldset class="form-group row">
                  <legend class="col-form-label col-sm-2 float-sm-left pt-0">Texto</legend>
                  <div class="col-sm">
                     <div class="form-group">
                        <textarea name="form-control form-control-sm col-12" formControlName="body" id=""></textarea>
                     </div>
                  </div>
               </fieldset>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-sm btn-outline-success" (click)="sendEmail()">Enviar</button>
         </div>
      </div>
   </div>
</div>